.image-links-one {
    margin: 15px 0;
    .image-link {
        position: relative;
        &:before {
            transition:all 0.3s ease-out;
            content: "";
            position: absolute;
            background: rgba(50, 123, 60, 1);
            width: 100%;
            height:100%;
            min-width: 220px;
            min-height: 110px;
            max-width: 220px;
            max-height: 110px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            mix-blend-mode: darken;
        }
        &:hover {
            &:before {
                max-width: 700px;
                max-height: 700px;
            }
        }
    }
    .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 26px;
        font-weight: 600;
        max-width: 200px;
        text-align: center;
    }
    img {
        display:block;
        width: 100%;
        height: auto;
    }
}

@include screen(1200) {
    .image-links-one {
        .wrapper {
            display:flex;
            justify-content: space-between;
        }
        .image-link {
            flex:0 0 49.4%;
            max-width: 49.4%;
        }
        .container {
            padding:0;
        }
    }
}