{% extends "block-base.twig" %}

{% block content %}
<section class="image-links-one {{block.className}}" {{blockSection(block)}} style="--bg:url('{{fields.content.background_image.url}}')">
    <div class="container">
        <div class="wrapper">
            {% for item in fields.image_link %}
                <a class="image-link" href="{{item.link.url}}" target="{{item.link.target}}" style="--img:url({{item.image.url}});--color:{{item.color}}">
                <div class="image-link-img">{{imageElement(item.image)}}</div>
                    <div class="inner">{{item.link.title}}</div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}