.single-button {
    .wrapper {
        max-width: 80%;
        margin: 25px auto;
    }
    .btn {
        margin:auto;
    }
}

@include screen(1024) {
    .single-button {
        .wrapper {
            max-width: 100%;
            margin: 35px auto;
        }
    }
}