<section class="single-button {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}"><span>{{fields.content.button.link.title}}</span></a>
        </div>
    </div>
</section>