.newsletter {
    .bot {
        background:var(--bg-color);
        padding: 25px;
        padding-top: 50px;
        input {
            height:50px;
        }
        textarea {
            margin: 10px 0;
        }
        .btn {
            cursor: pointer;
            width: 100%;
            background-color: rgba(226, 226, 226, 1);
            span {
                color:rgba(0, 53, 114, 1);
            }
        }
        .container {
            display:flex;
            flex-direction: column-reverse;
        }
        .right {
            padding: 0 25px;
            padding-bottom: 30px;
        }
    }
    label {
        color:white;
        font-size: 16px;
        font-weight: 700;
    }
    form {
        p {
            margin:0;
        }
    }
    input,
    textarea {
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;
        border:1px solid rgba(236, 238, 240, 1);
        font-size: 14px;
        outline-color: rgb(226, 226, 226);
        width: 100%;
    }
    input[type="checkbox"] {
        height: 15px;
        width: unset;
        margin-right: 10px;
    }
    .form-submit {
        padding: 15px 25px;
    }
    .wpcf7-submit {
        display:none;
    }
    .right {
        color:white;
    }
    h2 {
        color:white;
        text-align: center;

    }
    .wpcf7-response-output {
        color:white;
    }
    .wpcf7-list-item-label {
        font-size: 12px;
        font-weight: 300;
    }
    .wpcf7-list-item {
        padding-top: 33px;
        label {
            display:flex;
            align-items: center;
        }
        a {
            color:white;
            font-weight: 600;
        }
    }
}

@include screen(1024) {
    .newsletter {
        .bot {
            background-position: right top;
            background-size: auto;
            .container {
                flex-direction: row;
                justify-content: space-evenly;
            }
            .left {
                flex: 0 0 670px;
            }
            .btn {
                max-width: 475px;
                margin: auto;
            }
        }
        .form-wrapper {
            display:flex;
            justify-content: space-evenly;
        }
        .form-left {
            flex: 0 0 49%;
        }
        .form-right {
            flex: 0 0 49%;
        }
    }
}