.simplex {
  padding: 50px 0;
}
.simplex h1, .simplex h2, .simplex h3, .simplex h4, .simplex h5, .simplex h6, .simplex a {
  color: #099fda;
}
.simplex li {
  font-size: 16px;
}
.editable-area {
  border: 5px solid blue;
}
