{% extends "block-base.twig" %}

{% block content %}
<section class="newsletter {{block.className}}" {{blockSection(block)}}>
    <div class="bot" style="--bg-color:{{fields.cta_block.color}};--bg-img:url({{local_path}}/bg-one.png);">
        <div class="title">
            <h2>{{fields.cta_block.title}}</h2>
        </div>
        <div class="container">
            <div class="left">
                [contact-form-7 id="{{fields.cta_block.form.form.ID}}" title="{{fields.cta_block.form.form.post_title}}"]
            </div>
        </div>
    </div>
</section>

{% if fields.contact_form.form.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.contact_form.form.redirect_url}}';
}, false );
</script>
{% endif %}

{% endblock %}
