.content-block-five {
    margin: 35px 0;
    .left {
        padding:0 35px;
        .list {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .icon {
            flex: 0 0 135px;
            text-align: center;
            margin-bottom: 15px;
        }
        .label {
            font-size: 14px;
            font-weight: 500;
            display: block;
            margin-top: 15px;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
    }
    .colour {
        background-color: var(--colour);
        display: block;
        border-radius: 3px;
        height:75px;
        width:100px;
        & + .colour {
            margin-left:10px;
        }
        &-list {
            display:flex;
            justify-content: center;
        }
        &-wrapper {
            order:3;
            margin-bottom:10px;
        }
    }
    .top {
        text-align: center;
        margin: 15px 0;
        strong {
            font-size: 28px;
            line-height:1.1;
        }
    }
    .image {
        &-wrapper {
            order:2;
            img {
                display:block;
                margin:auto;
            }
        }
    }
}

@include screen(1024) {
    .content-block-five {
        margin: 35px 0;
        .inner {
            display:flex;
            align-items: center;
        }
        .right {
            flex: 0 0 750px;
            max-width: 750px;
            .bot {
                display:flex;
                flex-direction: row-reverse;
            }
        }
        .left {
            padding-left: 0;
            .list {
                margin-top:35px;
                justify-content: flex-start;
            }
            .icon {
                flex: 0 0 150px;
                text-align: center;
            }
            .label {
                font-size: 14px;
                font-weight: 500;
                display: block;
                margin-top: 15px;
            }
            img {
                display:block;
                margin:auto;
            }
        }
        .colour {
            height: 107px;
            width: 101px;
            & + .colour {
                margin-left:0;
                margin-top:10px;
            }
            &-list {
                flex-direction: column;
            }
            &-wrapper {
                margin-right:10px;
                margin-bottom:0;
            }
        }
    }
}