<section class="content-block-five {{block.className}}" {{blockSection(block)}}>
    <div class="inner container">
        <div class="left">
            {{fields.content}}
            <ul class="rl list">
                {% for icon in fields.icons %}
                <li class="icon">
                    <img src="{{icon.image.url}}" alt="{{icon.image.alt}}"/>
                    <span class="label">{{icon.title}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="top">
                <strong>{{fields.image_title}}</strong>
            </div>
            <div class="bot">
                <div class="colour-wrapper">
                    <ul class="rl colour-list">
                        {% for colour in fields.colours %}
                        <li class="colour" style="--colour:{{colour.code}}"></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="image-wrapper">
                    <img src="{{fields.image.url}}" alt="{{fields.image.alt}}"/>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
document.querySelectorAll('.content-block-five .colour').forEach(function(e) {
    e.style.height = e.style.width;
    console.log("Height: ", e.style.height);
    console.log("Width: ", e.style.width);
});
</script>