.cb3 {
    padding: 25px 0;
    @include from_until(1024) {
        padding: 75px 0;
    }
    &-top {
        max-width: 1130px;
        @include from_until(0,1023) {
            padding: 10px 35px;
        }
        h3 {
            margin-bottom: 0;
        }
    }
    &-bot {
        max-width: 1130px;
        @include from_until(1024) {
            padding-top: 40px;
        }
    }
    &-inner {
        max-width: 1130px;
        @include from_until(0,1023) {
            display: flex;
            flex-direction: column;
            padding: 10px 35px;
        }
        @include from_until(1024) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .left {
            @include from_until(1024) {
                flex: 0 0 50%;
            }
        }
        .right {
            @include from_until(1024) {
                flex: 0 0 50%;
            }
        }
    }
    &-list {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        @include from_until(0,1023) {
            justify-content: center;
            flex-wrap: wrap;
        }
        @include from_until(1024) {
            padding-top: 25px;
        }
    }
    &-icon {
        text-align: center;
        flex: 0 0 150px;
        @include from_until(0,1023) {
            margin-bottom: 25px !important;
        }
    }
    .label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        display:block;
    }
    .btn {
        margin: 25px auto;
        @include from_until(1024) {
            margin: 50px auto;
        }
    }
}

.cb3 {
    &-bot {
        display: flex;
        justify-content: space-between;
        @include from_until(0,1023) {
            flex-direction: column;
        }
        img {
            display:block;
        }
    }
    &-slide {
        @include from_until(0,1023) {
            padding: 10px 35px;
        }
        @include from_until(1024) {
            flex:0 0 535px;
        }
    }
    &-label {
        height:55px;
        background:var(--bg);
        display: flex;
        align-items: center;
        &-inner {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            color: white;
            display: block;
            padding-left: 30px;
        }
    }
}