{% if is_preview %}
<div class="preview" data-block-name="content-block-two">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cb3" data-block-name="content-block-three">
    <div class="cb3-top container">
        <h3>{{fields.title}}</h3>
    </div>
    <div class="cb3-inner container">
        <div class="left">
            {{fields.content}}
        </div>
        <div class="right">
            <ul class="rl cb3-list">
                {% for icon in fields.icons %}
                <li class="cb3-icon">
                    <img src="{{icon.icon.url}}" alt="{{icon.icon.alt}}"/>
                    <span class="label">{{icon.title}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="cb3-bot container">
    {% for slide in fields.slides %}
        <div class="cb3-slide">
            <img src="{{slide.image.url}}" alt="{{slide.image.alt}}"/>
            <div class="cb3-label" style="--bg:{{slide.background_color}};">
                <span class="cb3-label-inner">{{slide.label}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
