.is2 {
    margin: 25px 0;
    .container {
        text-align: center;
    }
    .title {
        padding: 25px;
    }
    .cta {
        padding: 0 35px;
    }
    .items {
        padding: 25px;
        .wrapper {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .item {
        text-align: center;
        flex: 0 0 75px;
        min-width: 100px;
        margin: 15px 5px;
        img {
            height: 75px;
            width: 75px;
        }
    }
    .label {
        margin-top: 10px;
        span {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

@include screen(1024) {
    .is2 {
        .title {
            padding-bottom:0;
        }
        .cta {
            padding: 0 35px;
        }
        .btn {
            margin: auto;
        }
    }
}