{% extends "block-base.twig" %}

{% block content %}
<section class="is2 {{block.className}}" {{blockSection(block)}}>
    <div class="container {{fields.content.order}}">
        <div class="title">
            {% if fields.content.title %}
            <h3>{{fields.content.title}}</h3>
            {% endif %}
        </div>
        <div class="items">
            <div class="wrapper">
                {{fields.content.content}}
                {% for item in fields.content.items %}
                <div class="item">
                    {{imageElement(item.icon)}}
                    <div class="label">
                        <span>{{item.label}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="cta">
            {% if fields.content.button.link.title %}
            <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}"><span>{{fields.content.button.link.title}}</span></a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}