{% extends "block-base.twig" %}

{% block content %}
<section class="cta5 {{block.className}}" {{blockSection(block)}} style="--bg:url('{{fields.content.background_image.url}}')">
    <div class="container">
        <div class="inner">
            <div class="left">
                <div class="cta5-text">
                    <div class="center">
                        {{fields.content.content}}
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="one">{{imageElement(fields.content.image_one)}}</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}