.ctb6 {
    background:#F3F6F9;
    @include from_until(1024) {
        background: var(--bg), #F3F6F9;
        background-repeat: no-repeat;
        background-position: right;
    }
    h5 {
        margin:0;
    }
    p {
        font-size: 20px;
        line-height: 32px;
    }
}

.ctb6 {
    &-inner {
        @include from_until(1024) {
            padding: 75px 16px;
        }
    }
    &-btn {
        padding-top: 15px;
        padding-left: 15px;
    }
    .left {
        @include from_until(0,1023) {
            padding: 20px;
            width:100%;
        }
        @include from_until(1024) {
            width: 630px;
        }
    }
    .right {
        @include from_until(0,1023) {
            padding: 50px 16px;
            position:relative;
            width:100%;
        
        }
        &:before {
            @include from_until(0,1023) {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                padding: 50px 16px;
                background: var(--bg);
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;
                opacity: 0.5;
            
            }
        }
        h4 {
            @include from_until(0,1023) {
                font-size: 20px;
                text-align: center;
                margin-bottom: 40px;
            }
        }
    }
}