{% extends "block-base.twig" %}

{% block content %}
<section class="ctb6 {{block.className}}" data-block-name="cta-block-six" style="--bg:url({{local_path}}/bg-two.png);">
    <div class="ctb6-inner container">
        <div class="left">
            {{fields.content.content}}
            <div class="ctb6-btn">
                <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}">
                    <span>{{fields.content.button.link.title}}</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}