@forward 'blog-utility';
@use 'theme/mixins' as *;

.post {
    &-hero {
        background-color:#327B3C;
        margin-bottom: 125px;
        @include from_until(1024) {
            margin-bottom: 50px;
        }
        &-inner {
            align-items: center;
            justify-content: space-evenly;
        }
        .left {
            @include from_until(0,1023) {
                padding:25px;
            }
            @include from_until(1024,1279) {
                flex: 0 0 400px;
            }
            @include from_until(1280) {
                flex: 0 0 640px;
            }
        }
        .right {
            position: relative;
            height: 330px;
            margin:0 25px;
            @include from_until(1024) {
                margin: 40px;
                flex:0 0 40%;
            }
            img {
                border-radius: 16px;
                object-fit: cover;
                display: block;
                @include from_until(0,1023) {
                    height: 465px;
                    width: 465px;
                }
                @include from_until(1024,1279) {
                    height: 350px;
                    width: 350px;
                }
                @include from_until(1280) {
                    height: 465px;
                    width: 465px;
                }
                @include from_until(1024) {
                    position: absolute;
                    top: -0vh;
                }
            }
        }
        .date {
            font-size: 16px;
            line-height: 24px;
        }
        h1,
        h5,
        p,
        span {
            color:white;
        }
        h1 {
            margin: 20px 0;
        }
    }
}

.post {
    &-content {
        @include from_until(0,1023) {
            padding:25px;
        }
        @include from_until(1024, 1365) {
            max-width: 600px;
        }
        @include from_until(1366,1536) {
            max-width: 650px;
        }
        @include from_until(1920) {
            max-width: 685px;
        }
    }
}