@use 'theme/mixins' as *;


.job {
    &-hero {
        margin-bottom: 50px;
        background:rgba(0, 53, 114, 1);
        padding: 6vw;
        &-inner {
            display: flex;
        }
        h1,
        .date {
            color:white;
        }
        .left {
            max-width: 650px;
        }
    }
    &-body {
        &-inner {
            padding: 0 25px;
            @include screen(1024) {
                padding:0;
                display:flex;
                gap:50px;
            }
        }
    }
    &-content {
        flex-grow: 1;
        h4 {
            color:rgba(0, 53, 114, 1);
            font-size: 22px;
            line-height: 30px;
        }
        p {
            margin-bottom: 20px;
        }
    }
    &-related {
        @include screen(1024) {
            flex: 0 0 38.5%;
            max-width: 500px;
            margin-bottom: 50px;
        }
        .jobs {
            padding: 0;
            list-style: none;
            margin: 0;
        }
        h4 {
            margin-left: 3.4vw;
        }
    }
}

.cta-contact {
    h2 {
        text-align: center;
    }
    .bot {
        background:#1C4584;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 25px;
        padding-top: 50px;
        input {
            height:50px;
        }
        textarea {
            margin: 10px 0;
        }
        .btn {
            cursor: pointer;
            width: 100%;
            background-color: rgba(226, 226, 226, 1);
            span {
                color:rgba(0, 53, 114, 1);
            }
        }
        .container {
            display:flex;
            flex-direction: column-reverse;
        }
    }
    label {
        color:white;
        font-size: 16px;
        font-weight: 700;
    }
    form {
        p {
            margin:0;
        }
    }
    input,
    textarea {
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;
        border:1px solid rgba(236, 238, 240, 1);
        font-size: 14px;
        outline-color: rgb(226, 226, 226);
        width: 100%;
    }
    .form-submit {
        padding: 15px 25px;
    }
    .wpcf7-submit {
        display:none;
    }
    .right {
        color:white;
    }
    h2 {
        color:white;

    }
    .wpcf7-response-output {
        color:white;
    }
}

.job {
    &-title {
        display:flex;
        justify-content: space-between;
    }
    &-loc {
        margin-bottom: 6px;
    }
    &-desc {
        p {
            font-size: 16px;
            line-height: 30px;
            margin: 6px 0;
        }
    }
    &-cta {
        color:rgba(0, 53, 114, 1);
        font-weight: 700;
        font-size: 18px;
    }
    .inner {
        padding: 2.5vh 1.8vw 2vh 3.5vw;
        display:block;
        color:rgba(38, 38, 38, 1);
        transition: all 0.3s ease-out;
        .title {
            font-weight: 700;
            font-size: 18px;
            color:rgba(0, 53, 114, 1);
            position: relative;
            &:before {
                position: absolute;
                font-family: "icomoon";
                content: "\e908";
                color:rgba(0, 53, 114, 1);
                font-size: 20px;
                transform: rotate(270deg);
                left: -20px;
                top: -5px;
            }
        }
        .location {
            font-size: 16px;
            line-height: 30px;
        }
        &:hover {
            box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
        }
    }
}

@include screen(1024) {
    .job {
        & + .job {
            margin-top: 5px;
        }
        &-desc {
            p {
                font-size: 18px;
                line-height: 32px;
            }
        }
        .inner {
            .title {
                font-size: 24px;
            }
        }
    }
    .cta-contact {
        .bot {
            .container {
                flex-direction: row;
                justify-content: space-evenly;
            }
            .left {
                flex: 0 0 670px;
            }
            .btn {
                max-width: 475px;
                margin: auto;
            }
        }
        .form-wrapper {
            display:flex;
            justify-content: space-evenly;
        }
        .form-left {
            margin-right:10px;
        }
        textarea {
            height: 234px;
        }
    }
}

.cobo {
    &-file {
        padding-top: 10px;
        padding-bottom: 25px;
        label {
            margin-bottom: 15px;
            display: block;
        }
    }
    &-file-wrapper {
        background: #002C5F;
        border: 1px solid rgba(236, 238, 240, 0.42);
        border-radius: 8px;
        padding: 33px;
        text-align: center;
        .file-selected {
            color: white;
            margin-top: 10px;
        }
        strong {
            letter-spacing: 1.4px;
        }
    }
    &-list {
        display:flex;
        flex-wrap:wrap;
        gap:10px;
        .normal {
            flex:0 0 calc(50% - 5px);
        }
    }
    &-actions {
        .btn span {
            color:rgba(50, 123, 60, 1);
        }
    }
}
.btn-file {
    display: block;
    min-width: 200px;
    width:200px;
    padding: 16px 38px;
    transform: skewX(-20deg);
    text-align: center;
    cursor: pointer;
    background-color: white;
    border:2px solid rgba(50, 123, 60, 1);
    margin: auto;
    span {
        color: rgba(50, 123, 60, 1);
        font-size: 14px;
        letter-spacing: 2.1px;
        font-weight: bold;
        text-transform: uppercase;
        transform: skewX(20deg);
        display: inline-block;
    }
}