@use 'theme/mixins' as *;


.product-single {
    .input-text.qty {
        -moz-appearance: textfield;
        border: 0;
        outline: 0;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .df {
        display:flex;
    }
    .ai {
        &-c {
            align-items:center;
        }
    }
    .jc {
        &-c {
            justify-content: center;
        }
    }
    .ta {
        &-c {
            text-align: center;
        }
    }
    .qty {
        &-c {
            border: 1px solid rgba(28, 69, 132, 0.5);
            border-radius: 3px;
            flex: 0 0 35%;
            align-items: center;
            background:white;
            height:64px;
            & > span {
                flex: 0 0 25%;
                max-width: 25%;
                cursor: pointer;
                font-size: 30px;
                user-select: none;
            }
            & > div {
                flex: 0 0 35%;
                max-width: 35%;
                text-align: center;
            }
            input {
                width: 100%;
                text-align: center;
                font-size: 17px;
                color: #000000;
            }
        }
    }
    .hide {
        display:none;
    }
    button {
        &.atc {
            cursor:pointer;
            background:rgba(50, 123, 60, 1);
            border-radius:3px;
            border: 1px solid #327b3c;
            color: white;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            padding: 21px;
            width: 100%;
        }
    }
    // .variations_form {
    //     display:none;
    // }

    .product_meta {
        display:none;
    }
    button.loading {
        cursor: wait;
        pointer-events: none;
        opacity: 0.8;
        user-select: none;
    }
}

.product {
    &-single {
        background:#F3F6F9;
    }
    &-form {
        &-wrapper {
            display:flex;
            align-items: center;
        }
    }
    &-qty {
        flex: 0 0 158px;
        max-width: 158px;
        margin-right: 30px;
    }
    &-cta {
        &-atc {
            flex-grow:1;
        }
    }
    &-spec {
        padding-left: 10px;
        margin-top: 20px;
        &-single {
            display: flex;
        }
        &-title {
            cursor: pointer;
            color: rgba(0, 53, 114, 1);
            font-weight: 600;
            &:after {
                transition: all 0.3s ease-in-out;
                font-family: "icomoon";
                content: "\e905";
                color: rgba(0, 53, 114, 1);
                font-size: 20px;
                position: absolute;
                margin-left: 5px;
            }
        }
        &-label {
            font-size: 14px;
            color:rgba(38, 38, 38, 0.73);
            font-weight: 500;
            margin-right: 15px;
        }
        &-value {
            font-size: 14px;
            color:rgba(38, 38, 38, 0.73);
            font-weight: 400;
        }
        &-body {
            transition:all 0.35s ease-in-out;
            max-height:150px;
            overflow:hidden;
            margin: 15px;
        }
        &:not(.active) {
            .product-spec-body {
                max-height:0;
            }
        }
        &.active {
            .product-spec-title {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
    &-info {
        &-wrapper {
            .right {
                padding: 20px;
            }
            .left {
                img {
                    display:block;
                }
            }
        }
    }
    &-recommendations {
        padding-top: 50px;
        h4 {
            text-align: center;
        }
    }
}

@include screen(0,1023) {
    .product {
        &-single {
            h1 {
                font-size: 35px;
                margin-bottom: 15px;
                margin: 0;
                font-weight: 600;
            }
            h2 {
                font-size: 24px;
                margin-top: 10px;
            }
        }
        &-desc {
            p {
                font-size: 14px;
            }
        }
        &-info {
            &-wrapper {
                .left {
                    display: flex;
                    flex-direction: column-reverse;
                }
                .thumb {
                    display:flex;
                    flex-wrap: wrap;
                    padding: 10px;
                    justify-content: flex-start;
                    li {
                        flex: 0 0 23%;
                        max-width: 90px;
                        margin: 5px;
                    }
                }
            }
            .imgBox {
                img {
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@include screen(1024) {
    .product {
        &-single {
            h1 {
                font-size: 40px;
                line-height:50px;
                margin-bottom: 15px;
                margin-top:0;
                font-weight: 600;
            }
            h2 {
                font-size:30px;
                line-height:46px;
                margin:0;
            }
        }
        &-info {
            &-wrapper {
                display:flex;
                .left,
                .right {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                .left {
                    padding: 20px;
                    display:flex;
                    .imgBox {
                        margin-left: 25px;
                        img {
                            // height: 425px;
                            // width: 505px;
                            // object-fit: cover;
                        }
                    }
                    .thumb {
                        max-height: 425px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        -ms-overflow-style: none;
                        scrollbar-width: none;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        li + li {
                            margin-top:10px;
                        }
                    }
                }
            }
        }
        &-price {
            &-label {
                font-size: 16px;
                color: rgba(95, 95, 95, 1);
                font-weight: 100;
            }
        }
        &-desc {
            margin-top: 15px;
        }
    }
}

.product-recommendations {
    padding-bottom: 50px;
    .title {
        padding-bottom: 35px;
    }
    .wrapper {
        display:flex;
        justify-content: center;
        padding: 20px;
        flex-wrap: wrap;
        .related-item {
            flex: 0 0 48%;
            max-width: 48%;
            margin: 10px 0;
            &:nth-child(even) {
                margin-left:10px;
            }
        }
    }
    .image-wrapper {
        img {
            height: 180px;
        }
    }
}

@include screen(1024) {
    .product-recommendations {

        .title {

        }
        .wrapper {
            flex-wrap: nowrap;
            padding: 0;
            align-items: stretch;
            .related-item {
                flex: 0 0 332px;
                max-width: 24%;
                margin:0;
                & + .related-item {
                    margin-left:10px;
                }
            }
        }
        .image-wrapper {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.related-card {
    display: block;
    box-shadow: 2px 3px 8px rgb(0 0 0 / 16%);
    background: white;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
    &-inner {
        text-align: center;
    }
    &-viewmore {
        transition:all 0.3s ease-out;
        font-size:14px;
        letter-spacing: 2.1px;
        color:rgba(142, 142, 142, 1);
        font-weight:600;
        font-weight: 600;
        padding-bottom: 15px;
    }
    &-category {
        background: rgba(50, 123, 60, 0.2);
        border-radius: 50px;
        color: rgba(50, 123, 60, 1);
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 1.35px;
        font-weight: 600;
        padding: 7px 25px;
        width: fit-content;
    }
    &-price {
        font-size: 20px;
        line-height: 30px;
        color: white;
        font-weight: 600;
    }
    &-title {
        h5 {
            font-size: 16px;
        }
    }
    .image-wrapper {
        position:relative;
        &-abs {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 15px;
            display:flex;
            justify-content: space-between;
        }
        img {
            width: 100%;
            object-fit: cover;
            display:block
        }
    }
    .top {
        transition:all 0.3s ease-out;
    }
    .bottom {
        transition:all 0.3s ease-out;
        h5 {
            transition:all 0.3s ease-out;
        }
    }
    &:hover {
        .bottom,
        .top {
            background:#327B3C;
        }
        h5,
        .related-card-viewmore {
            color:white;
        }
    }
}


@include screen(1024) {
    .product-attributes {
        &-body {
            &:hover {
                .product-attributes-options {
                    visibility: visible;
                    opacity:1;
                }
                .chevron {
                    span {
                        &:before {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

@include screen(0,1023) {
    .product-attributes {
        &-body {
            &.active {
                .product-attributes-options {
                    visibility: visible;
                    opacity:1;
                }
                .chevron {
                    span {
                        &:before {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

.product-attributes {
    padding-bottom:20px;
    &-title {
        padding-left: 10px;
        color:rgba(38, 38, 38, 1);
        font-size: 16px;
        font-weight:600;
    }
    &-body {
        max-width: 250px;
        cursor:pointer;
        margin: 10px 0;
        position: relative;
    }
    &-inner {
        border: 1px solid rgba(28, 69, 132, 0.5);
        background: white;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8px;
        z-index: 2;
        position: relative;
        .swatch {
            .inner {
                height:50px;
                width:50px;
                border-radius:3px;
                &.buttermilk-cream {
                    background-color:#F4E0C1;
                }
                &.goosewing-grey {
                    background-color: rgba(184, 181, 170, 1);
                }
                &.merlin-grey {
                    background-color: rgba(105, 115, 118, 1);
                }
                &.olive-green {
                    background-color: rgba(96, 95, 80, 1);
                }
                &.anthracite {
                    background-color: rgba(56, 62, 66, 1);
                }
            }
        }
        .name {
            font-size: 14px;
            font-weight:500;
            color:rgba(0, 0, 0, 1);
            margin-left: 10px;
            text-transform: capitalize;
        }
        .chevron {
            span {
                &:before {
                    transition:all 0.3s ease-out;
                    font-family: "icomoon";
                    content: "\e905";
                    font-size: 20px;
                    position:absolute;
                    right: 5px;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
    &-options {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        opacity:0;
        visibility:hidden;
        background: white;
        display: flex;
        justify-content: flex-start;
        padding: 8px;
        padding-top: 15px;
        border: 1px solid rgba(28, 69, 132, 0.5);
        border-radius: 3px;
        z-index: 1;
        flex-wrap: wrap;
    }
    &-option {
        .inner {
            height:50px;
            width: 50px;
            border-radius:3px;
            &.buttermilk-cream {
                background-color:#F4E0C1;
            }
            &.goosewing-grey {
                background-color: rgba(184, 181, 170, 1);
            }
            &.merlin-grey {
                background-color:rgba(105, 115, 118, 1);
            }
            &.olive-green {
                background-color:rgba(96, 95, 80, 1);
            }
            &.anthracite {
                background-color:rgba(56, 62, 66, 1);
            }
        }
        &:not(:nth-child(4)) {
            margin-right:8px;
        }
        &:nth-child(5) {
            margin-top:8px;
        }
    }
}

.related-card {
    display:flex;
    flex-direction: column;
    .bottom {
        padding: 15px 5px;
        flex-grow: 1;
    }
    &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-title {
        h5 {
            font-size: 16px;
        }
        flex-grow: 1;
    }
}

.product-info.inactive {
    display:none;
}

.notice {
    position:relative;
    padding-top: 25px;
    padding-bottom: 75px;
    @include screen(0, 768) {
        padding: 0 10px;
        padding-top: 25px;
        padding-bottom: 75px;
    }
    &:not(.active) {
        display:none;
    }
    img {
        display:block;
        width: 320px;
        height:210px;
    }
    &-inner {
        background:white;
        border: 2px solid #1C4584;
        padding:10px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        @include screen(0, 768) {
            align-content: center;
            flex-wrap: wrap;
        }
    }
    &-thumb {
        @include screen(0, 768) {
            flex:0 0 40%;
            max-width: 40%;
        }
        img {
            @include screen(0, 768) {
                width: 100%;
                height: auto;
            }
        }
    }
    &-cta {
        flex: 0 0 40%;
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
        @include screen(0, 768) {
            flex:0 0 100%;
            max-width: 100%;
            padding-right: 0;
            padding-top: 10px;
        }
    }
    .btn {
        transform: skewX(0deg);
        width: 100%;
        &:first-child {
            margin-bottom:13px;
        }
        span {
            transform: skewX(0deg);
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 30%;
        max-width: 30%;
        padding-left: 25px;
        @include screen(0, 768) {
            flex:0 0 60%;
            max-width: 60%;
        }
    }
    &-value {
        margin-bottom: 10px;
        &.kv {
            font-size:16px;
            color:rgba(38, 38, 38, 0.73);
            .label {
                font-weight:500;
            }
        }
        &:not(.on) {
            display:none;
        }
    }
    &-colour {
        .value {
            text-transform: capitalize;
        }
    }
    &-name {
        font-size:22px;
        color:#003572;
        font-weight:600;
    }
    &-price {
        font-size:24px;
        color:#003572;
        font-weight:600;
    }
    &-above {
        position:absolute;
        right:40px;
        top: -1%;
        span {
            color:#1C4584;
            font-weight: 500;
            &:before {
                font-family: "icomoon";
                content: "\e916";
                color: #1c4584;
                font-size: 14px;
                font-weight: 600;
                margin-right:5px;
            }
        }
    }
}

.product-flex {
    margin: 25px 0;
    .btn {
        transform: skewX(0);
        width: 100%;
        span {
            transform: skewX(0);
        }
        &-label {
            text-align: center;
            color:var(--color);
            margin: 10px 0;
            font-weight: 400;
        }
    }
}

.woo .price,
.woo .cart,
.woo .woocommerce-product-details__short-description { display:none;}