@use 'theme/theme';

.privacy-policy {
    .main {
        max-width: 1335px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    li {
        font-size: 16px;
    }
}

table,
table.wp-block-table {
    font-size: 16px;
	width: 100%;
	text-align: left;
	margin: 32px 0px;
	padding: 0px;
	border-spacing: 0;
	border-radius: 0px;
}

table p,
table form,
table ul,
table li {
	margin: 6px 0px;
	padding: 0px;
}

table thead,
table tfoot,
table.wp-block-table thead,
table.wp-block-table tfoot {
	border: 1px solid #dddddd;
	border: 1px solid #1C4584;
}

table tbody tr:nth-child(even) {
	background: rgba(0, 0, 0, 0.04);
}

table th,
table.wp-block-table th {
	font-size: 16px;
    padding: 0 15px;
	text-align: center;
	padding-bottom: 15px;
}

table td,
table.wp-block-table td {
	padding: 12px;
    padding: 20px 15px;
	border-top: 1px solid #1C4584;
    border-bottom: 1px solid #1C4584;
	text-align: center;
}

table td {
	padding: 12px;
    padding: 20px 15px;

}

table.wp-block-table.is-style-stripes {
	border-collapse: collapse;
}

table.wp-block-table.is-style-stripes td {
	border: 1px solid #dddddd;
	border: 1px solid rgba(0, 0, 0, 0.12);
}