.shop {
    background:rgba(243, 246, 249, 1);
    &-hero {
        padding: 30px;
        position: relative;
        text-align: center;
        h1 {
            color:white;
            margin:0;
        }
        background:var(--bg);
        background-repeat: no-repeat;
        background-size: cover;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: transparent linear-gradient(103deg, #327b3c 0%, #327b3c 100%) 0% 0% no-repeat padding-box;
            opacity: 0.75;
            backdrop-filter: blur(1px);
        }
        .container {
            position: relative;
            padding: 50px 0;
        }
        .btn {
            margin: 25px auto;
        }
    }
}



@include screen(1024) {
    .shop {
        &-hero {
            padding: 0px;
            .container {
                position: relative;
                padding: 115px 0;
            }
        }
        .btn {
            min-width: 550px;
        }
    }

}