{% extends "block-base.twig" %}

{% block content %}
<section class="shop {{block.className}}" {{blockSection(block)}} style="--bg:url('{{fields.background_image.url}}');">
    <div class="shop-hero">
        <div class="container">
            <h1>{{fields.title}}</h1>
            {% if fields.button.link.url %}
            <a class="btn {{fields.button.style}}" href="{{fields.button.link.url}}" target="{{fields.button.link.target}}">
                <span>{{fields.button.link.title}}</span>
            </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
