.product-feed {
    background:#F3F6F9;
    padding: 50px 0;
    .title {
        text-align: center;
        margin-bottom: 15px;
    }
    .btn {
        margin: 25px auto;
    }
    .wrapper {
        display:flex;
        justify-content: space-between;
        margin: 35px 0;
    }
    .feed-item {
        flex: 0 0 24%;
        max-width: 24%;
    }
}

@include screen(0,1023) {
    .product-feed {
        .wrapper {
            flex-wrap: wrap;
            margin: 0 10px;
        }
        .feed-item {
            flex: 0 0 48%;
            max-width: 48%;
            margin-bottom: 10px;
        }
        .feed-card-price {
            display:none;
        }
    }
}

.feed-card {
    display: block;
    box-shadow: 2px 3px 8px rgb(0 0 0 / 16%);
    background: white;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
    &-inner {
        text-align: center;
    }
    &-viewmore {
        transition:all 0.3s ease-out;
        font-size:14px;
        letter-spacing: 2.1px;
        color:rgba(142, 142, 142, 1);
        font-weight:600;
        font-weight: 600;
        padding-bottom: 15px;
    }
    &-category {
        background: rgba(50, 123, 60, 0.2);
        border-radius: 50px;
        color: rgba(50, 123, 60, 1);
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 1.35px;
        font-weight: 600;
        padding: 7px 25px;
        width: fit-content;
    }
    &-price {
        font-size: 13px;
        line-height: 30px;
        color: white;
        font-weight: 600;
    }
    &-title {
        h5 {
            font-size: 16px;
        }
    }
    .image-wrapper {
        position:relative;
        &-abs {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 15px;
            display:flex;
            justify-content: space-between;
        }
        img {
            display:block;
            height: 281px;
            width: 332px;
            object-fit: cover;
        }
    }
    .top {
        transition:all 0.3s ease-out;
    }
    .bottom {
        transition:all 0.3s ease-out;
        h5 {
            transition:all 0.3s ease-out;
        }
    }
    &:hover {
        .bottom,
        .top {
            background:#327B3C;
        }
        h5,
        .feed-card-viewmore {
            color:white;
        }
    }
}

.feed-card {
    display:flex;
    flex-direction: column;
    .bottom {
        padding: 15px 5px;
        flex-grow: 1;
    }
    &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-title {
        h5 {
            font-size: 16px;
        }
        flex-grow: 1;
    }
}