{% extends "block-base.twig" %}

{% block content %}
<section class="product-feed {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="title">
            <h2>{{fields.title}}</h2>
        </div>
        <div class="wrapper">
        {% for prod in products %}
                <div class="feed-item">{% include ['product-card-feed.twig'] with {'item': prod} %}</div>
        {% endfor %}
        </div>
        <div class="bot">
            <a class="btn {{fields.button.style}}" href="{{fields.button.link.url}}" target="{{fields.button.link.target}}">
                <span>{{fields.button.link.title}}</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
