.tit {
    background:var(--bg-color);
    &-inner {
        max-width: 1170px;
        @include from_until(0,1023) {
            padding: 10px 25px;
        }
    }
    &-wrapper {
        justify-content: space-between;
        align-items: flex-start;
        @include from_until(1024) {
            padding: 45px;
        }
        &.reverse {
            flex-direction: row-reverse;
        }
    }
    &-left {
        max-width:  475px;
        @include from_until(0,1023) {
            margin-bottom: 25px;
        }
    }
    &-button {
        padding-left: 15px;
        padding-top: 25px;
        a {
            @include from_until(0,1023) {
                min-width: 339px;
            }
        }
    }
    &-right {
        max-width: 475px;
    }
    img {
        max-width: 100%;
    }
}