{% if is_preview %}
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
    .wp-block-button__link {
        background-color:unset;
        border-radius: 0;
    }
</style>
{% endif %}

<style>{{compiled_css}}</style>

<sectitn class="tit cf" id="{{block.anchor}}" data-block-name="text-image-two" style="--bg-color:{{fields.background_color}};">
    <div class="tit-inner container">
        <div class="tit-wrapper row-l {{fields.order}}">
            <div class="tit-left">
            {% for content in fields.content_left %}
            {% if content.acf_fc_layout == "image" %}
                <img src="{{content.image.url}}" alt="{{content.image.alt}}" height="{{content.image.height}}" width="{{content.image.width}}"/>
            {% else %}
                {{content.text}}
            {% endif %}
            {% endfor %}
            </div>
            <div class="tit-right">
            {% for content in fields.content_right %}
            {% if content.acf_fc_layout == "image" %}
                <img src="{{content.image.url}}" alt="{{content.image.alt}}" height="{{content.image.height}}" width="{{content.image.width}}"/>
            {% else %}
                {{content.text}}
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</sectitn>