.careers-index {
    margin: 25----+px 0;
    .flex-wrapper {
        background: #F3F6F9;
        padding: 50px;
        p {
            font-size: 20px;
            line-height: 32px;
        }
    }
    .top {
        padding: 1px 0;
        margin-top:50px;
        text-align: center;
        .title {
            margin: 27px 0;
        }
    }
    .bottom {
        margin-top: 35px;
        padding: 30px;
    }
    .inner {
        padding: 2.5vh 1.8vw 2vh 3.5vw;
        display:block;
        color:rgba(38, 38, 38, 1);
        .title {
            font-weight: 700;
            font-size: 20px;
            color:rgba(0, 53, 114, 1);
            position: relative;
            &:before {
                position: absolute;
                font-family: "icomoon";
                content: "\e908";
                color:rgba(0, 53, 114, 1);
                font-size: 20px;
                transform: rotate(270deg);
                left: -20px;
                top: -5px;
            }
        }
        .location {
            font-size: 18px;
            line-height: 32px;
        }
        &:hover {
            box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
        }
    }
    .jobs-wrapper{
        flex: 0 0 100;
        max-width: 100%;
        ul {
            list-style: none;
            margin:0;
            padding: 0;
        }
    }
    .job {
        &-title {
            display:flex;
            justify-content: space-between;
        }
        &-loc {
            margin-bottom: 6px;
        }
        &-desc {
            p {
                font-size: 16px;
                line-height: 30px;
                margin: 6px 0;
            }
        }
        &-cta {
            color:rgba(0, 53, 114, 1);
            font-weight: 700;
            font-size: 18px;
        }
    }
    h4 {
        color:#003572;
    }
}
@include screen(1024) {
    .careers-index {
        margin: 50px 0;
        overflow: hidden;
        .bottom {
            display:flex;
            align-items: flex-start;
            gap:20px;
            margin-top: 70px;
            padding: 0px;
        }
        .jobs-wrapper{
            flex: 0 0 55%;
            max-width: 55%;
        }
        .flex-wrapper {
            flex-grow: 1;
            position:relative;
            &:before {
                content:"";
                position:absolute;
                background: #F3F6F9;
                top:0;
                bottom:0;
                right:0;
                left: -500px;
                z-index: -1;
            }
        }
        .inner {
            .title {
                font-size: 24px;
            }
        }
        .job {
            & + .job {
                margin-top:20px;
            }
            &-desc {
                p {
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }
}