{% extends "block-base.twig" %}

{% block content %}
<section class="careers-index {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <div class="title"><h2>{{fields.content.title}}</h2></div>
        </div>
        <div class="bottom">
            <div class="flex-wrapper">
               {{fields.content.content}}
                <div class="careers-index-btn">
                    <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}">
                        <span>{{fields.content.button.link.title}}</span>
                    </a>
                </div>
            </div>
            <div class="jobs-wrapper">
                <ul class="jobs fade-up">
                    {% for job in jobs %}
                    {% set job_data = fn('get_field', 'data', job) %}
                    <li class="job">
                        <a class="inner" href="{{job.link}}">
                            <div class="job-loc">
                                <div class="location">{{job_data.location}}</div>
                            </div>
                            <div class="job-title">
                                <div class="title">{{job.title}}</div>
                                <div class="arrow"></div>
                            </div>
                            <div class="job-desc">
                                <p>{{job_data.short_description}}</p>
                            </div>
                            <div class="job-cta">Learn More</div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

