table th, table.wp-block-table th {
    padding-top: 15px;
}
.woocommerce-table__product-name {
    text-align: left;
}

.woocommerce-table__product-total,
.woocommerce-table__product-table {
    text-align: right;
}