.hbo {
    &-inner {
        @include from_until(1024) {
            display:flex;
            justify-content: space-between;
        }
        .left-container,
        .right-container {
            @include from_until(1024) {
                flex: 0 0 calc(50% - 5px);
            }
        }
        .left-container {
            .slide-hover {
                align-items: flex-end;
            }
        }
        .right-container {
            .slide + .slide {
                margin-top:10px;
            }
        }
    }
}


.slide {
    h1,
    h2,
    p {
        color:white;
        @include from_until(0,1023) {
            padding: 0 20px;
        }
        @include from_until(1024) {
            padding: 0 45px;
        }
    }
    h1,h2 {
        margin-top:0;
        @include from_until(0,1023) {
            margin-bottom: 10px;
            padding-top:20px;
        }
        @include from_until(1024) {
            margin-bottom:20px;
        }
    }
    h2 {
        max-width: 850px;
    }
    p {
        max-width: 850px;
        margin-top:0;
        font-size: 18px;
        line-height: 28px;
        @include from_until(0,1023) {
            margin-bottom: 10px;
        }
        @include from_until(1024) {
            font-size: 20px;
            line-height: 32px;
        }
    }
}

.slide {
    cursor: pointer;
    background: var(--bg);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    position:relative;
    z-index: 1;
    background-size: cover;
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: transparent linear-gradient(180deg, hsla(0, 0%, 13%, 0) 0%, hsla(0, 0%, 15%, 0.89) 100%) 0% 0% no-repeat padding-box;
        z-index: -1;
    }
    &-hover {
        transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        background: var(--bg);
        padding: 0 45px;
        height: 56px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        @include from_until(1024) {
            align-items: flex-start;
            height: 75px;
        }
        img {
            height:20px;
            @include from_until(1024) {
                height:23px;
            }
        }
    }
    &.left {
        min-height: 465px;
        @include from_until(0,1023) {
            // margin-bottom: 10px;
            // padding-bottom: 20px;
        }
        @include from_until(1024) {
            min-height: 706px;
        }
        h1,
        p {
            max-width: 715px;
            margin-left: auto;
        }
    }
    &.right {
        @include from_until(0,1023) {
            min-height: 465px;
        }
        @include from_until(1024) {
            min-height: 706px;
        }
    }
}
