.cf {
    input {
        height:74px;
        border:1px solid rgba(236, 238, 240, 1);
        border-radius: 8px;
        outline:none;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top: 0;
        &::placeholder {
            font-size: 14px;
            line-height: 20px;
            color:rgba(38, 38, 38, 1);
        }
        &[type=submit] {
            display:none;
        }
    }
    textarea {
        outline: none;
        border:1px solid rgba(236, 238, 240, 1);
        border-radius: 8px;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top:25px;
        margin-top: 10px;
        &::placeholder {
            font-size: 14px;
            line-height: 20px;
            color:rgba(38, 38, 38, 1);
        }
    }
    label {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: white;
        margin-bottom:10px;
    }
    .btn {
        cursor: pointer;
        width: 100%;
        margin: auto;
        max-width: 90%;
        @include from_until(1024) {
            max-width: 475px;
        }
    }
}

.cobo {
    h1 {
        margin:0;
        color:white;
    }
    h6 {
        color:white;
    }
}

.cobo {
    display: flex;
    @include from_until(0,1023) {
        flex-direction: column;
    }
    &-inner {
        background: transparent linear-gradient(131deg, rgba(50, 123, 60, 1) 0%, rgba(28, 69, 132, 1) 100%) 0% 0% no-repeat padding-box;
        @include from_until(1024) {
            flex: 0 0 50vw;
            max-width: 1185px;
        }
        @include from_until(1440) {
            flex: 0 0 62vw;
        }
    }
    &-wrapper {
        @include from_until(0,1023) {
            padding:20px;
        }
        @include from_until(1024) {
            max-width: 810px;
            margin-left: 2.5vw;
            margin-right: 2.5vw;
        }
        @include from_until(1440) {
            margin-left: auto;
            margin-right: 4.5vw;
        }
    }
    &-list {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .normal {
            flex:0 0 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            @include from_until(1024) {
                flex:0 0 48%;
                max-width: 48%;
            }
        }
    }
    &-message {
        margin-top: 20px;
    }
    &-content {
        padding-top: 25px;
        @include from_until(1024) {
            padding-top: 100px;
        }
    }
    &-submit {
        p {
            display: none;
        }
    }
    &-actions {
        padding: 35px 0;
    }
    &-map {
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.wpcf7-not-valid-tip {
    padding-top: 10px;
    font-size: 16px;
    color: white;
}
.wpcf7-response-output {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}