{% if is_preview %}
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
    .wp-block-button__link {
        background-color:unset;
        border-radius: 0;
    }
</style>
{% endif %}
<style>{{compiled_css}}</style>
<section class="cobo cf" id="{{block.anchor}}" data-block-name="contact-block-one">
    <div class="cobo-inner">
        <div class="cobo-wrapper">
            <div class="cobo-content">
                <h1>Get in Touch</h1>
                <h6>Fill up the form our team will get back to you within 24 Hours</h6>
            </div>
           [contact-form-7 id="{{fields.contact_form.form.form.ID}}" title="{{fields.contact_form.form.form.post_title}}"]
        </div>
    </div>

    <a class="cobo-map" href="#">
        <img src="{{local_path}}/map.png" alt="Map"/>
    </a>
</section>
{% if fields.contact_form.form.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.contact_form.form.redirect_url}}';
}, false );
</script>
{% endif %}