.tis {
    margin: 50px 0;
    p {
        font-size: 16px;
        margin: 15px 0;
    }
    ul {
        padding-left: 25px;
        margin-top: 0;
    }
    li {
        &::marker {
            font-size: 12px;
        }
    }
    .left {
        .wrapper {
            padding: 0 35px;
        }
    }
    .btn {
        width: 100%;
    }
    .right {
        padding: 25px;
    }
    h1,
    h2,
    h3,
    h4 {
        margin:0;
    }
}

@include screen(1024) {
    .tis {
        margin:50px;
        .container {
            display: flex;
            align-items: center;
            &.row-reverse {
                flex-direction: row-reverse;
            }
        }
        .left {
            .wrapper {
                padding: 25px 50px;
            }
        }
        .btn {
            width: fit-content;
            min-width: 300px;
            margin-top: 20px;
        }
        .right {
            flex: 0 0 750px;
            max-width: 50%;
            padding: 0;
        }
    }
}
