{% extends "block-base.twig" %}

{% block content %}
<section class="tis {{block.className}}" {{blockSection(block)}}>
    <div class="container {{fields.content.order}}">
        <div class="left">
            <div class="wrapper">
                {{fields.content.content}}
                {% if fields.content.button.link.title %}
                <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}"><span>{{fields.content.button.link.title}}</span></a>
                {% endif %}
            </div>
        </div>
        <div class="right">
            {{imageElement(fields.content.image)}}
        </div>
    </div>
</section>
{% endblock %}