.cf {
    input {
        height:74px;
        border:1px solid rgba(236, 238, 240, 1);
        border-radius: 8px;
        outline:none;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top: 0;
        &::placeholder {
            font-size: 14px;
            line-height: 20px;
            color:rgba(38, 38, 38, 1);
        }
        &[type=submit] {
            display:none;
        }
    }
    textarea {
        outline: none;
        border:1px solid rgba(236, 238, 240, 1);
        border-radius: 8px;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top:25px;
        margin-top: 10px;
        &::placeholder {
            font-size: 14px;
            line-height: 20px;
            color:rgba(38, 38, 38, 1);
        }
    }
    label {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: white;
        margin-bottom:10px;
    }
    .btn {
        cursor: pointer;
        width: 100%;
        margin: auto;
        max-width: 90%;
        @include from_until(1024) {
            max-width: 475px;
        }
    }
    .icon {
        position: relative;
        margin-top: 10px;
        &:before {
            position:absolute;
            font-family: "icomoon";
            color: #327b3c;
            left: -25px;
        }
    }
    .address {
        &:before {
            content: "\e909";
        }
    }
    .phone {
        &:before {
            content: "\e90a";
        }
    }
    .email {
        &:before {
            content: "\e904";
        }
    }
}

form {
    br {
        display:none;
    }
    p {
        margin:0;
    }
}

.cobo {
    h1 {
        margin:0;
        color:white;
    }
    h6 {
        color:white;
    }
}

.cobo {
    display: flex;
    @include from_until(0,1023) {
        flex-direction: column;
    }
    &-inner {
        background: transparent linear-gradient(131deg, rgba(50, 123, 60, 1) 0%, rgba(28, 69, 132, 1) 100%) 0% 0% no-repeat padding-box;
        @include from_until(1024) {
            flex: 0 0 50vw;
            max-width: 1185px;
        }
        @include from_until(1440) {
            flex: 0 0 62vw;
        }
    }
    &-wrapper {
        @include from_until(0,1023) {
            padding:20px;
        }
        @include from_until(1024) {
            max-width: 810px;
            margin-left: 2.5vw;
            margin-right: 2.5vw;
        }
        @include from_until(1440) {
            margin-left: auto;
            margin-right: 4.5vw;
        }
    }
    &-list {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .normal {
            flex:0 0 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            @include from_until(1024) {
                flex:0 0 48%;
                max-width: 48%;
            }
        }
    }
    &-message {
        margin-top: 20px;
    }
    &-content {
        padding-top: 25px;
        @include from_until(1024) {
            padding-top: 100px;
        }
    }
    &-submit {
        p {
            margin:0;
        }
    }
    &-actions {
        padding: 35px 0;
    }
    &-map {
        margin-left: 50px;
        padding-top: 100px;
        max-width: 350px;
    }
    select {
        display: block;
        height: 74px;
        border: 1px solid #eceef0;
        border-radius: 8px;
        outline: none;
        width: 100%;
        font-size: 15px;
        padding-left: 25px;
        padding-top: 0;
        margin-top: 10px;
    }
}

.wpcf7-not-valid-tip {
    padding-top: 10px;
    font-size: 16px;
    color: white;
}

.wpcf7-response-output {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.cobo-map {
    a {
        color: #000000;
        text-decoration: underline;
    }
}

.q {
    cursor: pointer;
    &-a {
        transition: height 0.35s cubic-bezier(1, 0, 0, 1);
        margin: 10px 50px;
    }
    &-q {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background: #f3f6f9;
        padding: 10px 25px;
        border-radius: 10px;
    }
    &-c {
        width:88.7%;
        max-width: 500px;
        h3 {
            font-size:18px;
        }
    }
    &-item {
        & + .q-item {
            margin-top: 50px;
        }
    }
    &-arrow {
        position:relative;
        &:before {
            font-family: "icomoon";
            content: "\e905";
            position: absolute;
            transition: all 0.15s cubic-bezier(1, 0, 0, 1);
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 26px;
        }
    }
    &:not(.open) {
        .q-a {
            max-height:0;
            margin:0;
            overflow: hidden;
        }
    }
    &.open {
        .q-a {
            max-height:1000px;
            overflow: visible;
        }
        .q-arrow {
            &:before {
                transform:translate(-50%, -50%) rotate(180deg);
            }
        }
    }
}