{% extends "block-base.twig" %}
{% block content %}
<section class="cobo cf" id="{{block.anchor}}" data-block-name="contact-block-one">
    <div class="cobo-inner">
        <div class="cobo-wrapper">
            <div class="cobo-content">
                <h1>Get in Touch</h1>
                <h6>Please complete the form below by selecting your area of interest. A member of our team will get back to you within 48 hours. Thank you! </h6>
            </div>
           [contact-form-7 id="{{fields.contact_form.form.form.ID}}" title="{{fields.contact_form.form.form.post_title}}"]
        </div>
    </div>
    <div class="cobo-map">
        <ul class="rl faq-q-list cfsb">
        {% for item in fields.tabs.items %}
            <li class="q-item cfsb">
                <div class="q {% if loop.first %}open{% endif %}">
                    <div class="q-q cfsb" onclick="this.parentNode.classList.toggle('open');">
                        <div class="q-c"><h5>{{item.title}}</h5></div>
                        <div class="q-arrow"><span class="q-arrow-icon"></span></div>
                    </div>
                    <div class="q-a cfsb">
                        <div class="q-a-wrapper cfsb">
                            <ul class="rl cfsb cf-ilist plain">
                            {% if item.address|length > 2 %}
                                <li class="icon address">{{item.address}}</li>
                            {% endif %}
                            {% if item.phone.url|length > 2 %}
                                <li class="icon phone"><a href="{{item.phone.url}}">{{item.phone.title}}</a></li>
                            {% endif %}
                            {% if item.email.url|length > 2 %}
                                <li class="icon email"><a href="{{item.email.url}}">{{item.email.title}}</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</section>
{% if fields.contact_form.form.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.contact_form.form.redirect_url}}';
}, false );
</script>
{% endif %}

{% endblock %}