.content-block-six {
    margin: 30px 0;
    padding: 0 25px;
    p {
        font-size: 20px;
        line-height: 32px;
    }
}

@include screen(1024) {
    .content-block-six {
        margin: 60px 0;
        padding:0;
        .container {
            max-width: 1130px;
        }
    }
}