{% extends "block-base.twig" %}

{% block content %}
<section class="content-block-six {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
        {{fields.content.content}}
        </div>
    </div>
</section>
{% endblock %}

