.cbo {
    padding-top: 25px;
    @include from_until(1024) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &-inner {
        text-align: center;
        @include from_until(0,1023) {
            padding: 10px 35px;
        }
        @include from_until(1024) {
            max-width: 850px
        }
    }
    .btn {
        margin: 25px auto;
        @include from_until(1024) {
            margin: 50px auto;
        }
    }
}