.tio {
    background:var(--bg-color);
    @include from_until(0,1023) {
        padding:5vh 25px;
    }
    &-inner {
        max-width: 1170px;
        padding:0;
    }
    &-wrapper {
        justify-content: space-between;
        align-items: center;
        @include from_until(0,1023) {
            flex-direction:column-reverse !important;
            display:flex;
        }
        @include from_until(1024) {
            padding: 45px;
        }
        &.reverse {
            flex-direction: row-reverse;
        }
    }
    &-content {
        max-width:  475px;
        @include from_until(0,1023) {
            margin-bottom: 25px;
        }
    }
    &-button {
        padding-left: 15px;
        padding-top: 25px;
        a {
            @include from_until(0,1023) {
                min-width: 339px;
            }
        }
    }
    &-image {
        max-width: 550px;
    }
    h3,
    p {
        color:white;
    }
}