{% if is_preview %}
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
    .wp-block-button__link {
        background-color:unset;
        border-radius: 0;
    }
</style>
{% endif %}

<style>{{compiled_css}}</style>

<section class="tio cf" id="{{block.anchor}}" data-block-name="text-image-one" style="--bg-color:{{fields.background_color}};">
    <div class="tio-inner container">
        <div class="tio-wrapper row-l {{fields.order}}">
            <div class="tio-content">
            {{fields.content}}
            {% if fields.button %}
                <div class="tio-button">
                    <a class="btn {{fields.button_style}}" href="{{fields.link.url}}" target="{{fields.link.target}}">
                        <span>{{fields.link.title}}</span>
                    </a>
                </div>
            {% endif %}
            </div>
            <div class="tio-image">
                <img src="{{fields.image.url}}" alt="{{fields.image.alt}}"/>
            </div>
        </div>
    </div>
</section>