.slbo {
    &-slide {
        @include from_until(0,1023) {
            max-width: 90%;
        }
    }
    img {
        display: block;
        height:100%;
    }
    h2 {
        color: rgba(50, 123, 60, 1);
        text-align: center;
        margin: 50px;
    }
    .flickity-page-dots {
        visibility: hidden;
    }
}

.flickity-prev-next-button {
    visibility:hidden;
}