{% if is_preview %}
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
    .wp-block-button__link {
        background-color:unset;
        border-radius: 0;
    }
</style>
{% endif %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<style>{{compiled_css}}</style>

<section class="slbo cf" id="{{block.anchor}}" data-block-name="slider-block-one">
    <div class="slbo-inner container">
        <div class="slbo-title">
            <h2>{{fields.title}}</h2>
        </div>
    </div>
    <div class="slbo-wrapper" data-flickity='{"autoPlay":true, "wrapAround": true, "initialIndex": "1"}'>
        {% for slide in fields.slides %}
        <div class="slbo-slide">
            <img src="{{slide.image.url}}" alt="{{slide.image.alt}}"/>
        </div>
        {% endfor %}
        </div>
    </div>
</section>