.shop {
    background:rgba(243, 246, 249, 1);
    // &-hero {
    //     padding: 30px;
    //     position: relative;
    //     text-align: center;
    //     h1 {
    //         color:white;
    //         margin:0;
    //     }
    //     background:var(--bg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     &:before {
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         background: transparent linear-gradient(103deg, #327b3c 0%, #327b3c 100%) 0% 0% no-repeat padding-box;
    //         opacity: 0.75;
    //         backdrop-filter: blur(1px);
    //     }
    //     .container {
    //         position: relative;
    //         padding: 50px 0;
    //     }
    //     .btn {
    //         margin: 25px auto;
    //     }
    // }
    &-wrapper {
        padding: 20px;
    }
    &-item {
        background: rgba(255, 255, 255, 1);
        border-radius: 17px;
        overflow: hidden;
        margin-bottom: 30px !important;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
    }
    &-filter {
        flex: 0 0 220px;
        &-wrapper {
            background:white;
            box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
            border-radius: 10px;
            &.busy {
                cursor: wait;
                ul {
                    pointer-events: none;
                }
            }
        }
        &-title {
            font-size: 19px;
            font-weight: 600;
            color: #262626;
            text-align: center;
            padding: 10px 0;
        }
        &-item {
            position:relative;
            transition:all 0.3s ease-out;
            cursor:pointer;
            font-size:15px;
            line-height:23px;
            letter-spacing: 0.47px;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            padding: 10px 20px;
            &:after {
                font-family: "icomoon";
                content: "\e914";
                color: rgba(0, 0, 0, 0.6);
                position: absolute;
                right: 20px;
            }
            &:hover {
                background-color:rgba(0, 0, 0, 0.05);
            }
            &.active {
                &:after {
                    content: "\e913";
                    color: #327b3c;
                }
            }
        }
    }
    &-products {
        position:relative;
        padding-top:25px;
        width: 100%;
        &:not(.processing) {
            &:before {
                opacity:0;
                z-index: -1;
            }
        }
        &:before {
            transition: all 0.3s ease-out;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgb(255,255,255);
            opacity: 0.6;
        }
    }
}

.product-card {
    display:flex;
    flex-direction: column;
    &-inner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &-cta {
        background: #327b3c;
        color: white;
        font-weight: 600;
        letter-spacing: 2.4px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 64px;
        height: 50px;
    }
    &-description {
        flex-grow: 1;
        display: flex;
        align-items: center;
        p {
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            color: rgba(38, 38, 38, 1);
        }
    }
    &-category {
        background: rgba(50, 123, 60, 0.2);
        border-radius: 50px;
        color: rgba(50, 123, 60, 1);
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 1.35px;
        font-weight: 600;
        padding: 7px 25px;
        width: fit-content;
        margin: 15px 0;
    }
    &-price {
        font-size: 20px;
        line-height: 1;
        font-weight: 600;
        color: rgba(38, 38, 38, 1);
        text-align: right;
    }
    .right {
        display: flex;
        flex-direction: column;
    }
    .left {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    img {
        display: block;
    }
}

@include screen(1024) {
    .shop {
        &-wrapper {
            padding: 60px 0;
            display:flex;
        }
        // &-hero {
        //     padding: 0px;
        //     .container {
        //         position: relative;
        //         padding: 115px 0;
        //     }
        // }
        &-products {
            padding-top: 0px;
        }
        &-wrapper {
            padding: 30px 0;
        }
        &-filter {
            margin-right: 25px;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
        }
        &-item {
            flex: 0 0 48%;
            max-width: 525px;
            &:nth-child(odd) {
                margin-right: 30px;
            }
        }
        .btn {
            min-width: 550px;
        }
    }
    .product-card {
        flex-direction: row;
        &-cta {
            height: -webkit-fill-available;
        }
        .left {
            flex: 0 0 35%;
        }
        .right {
            width:100%;
        }
    }
}

@include screen(1536) {
    .shop {
        .container {
            max-width: 1440px;
        }
        .product-card {
            img {
                object-fit: cover;
                min-width: 240px;
                min-height: 320px;
            }
            .left {
                flex: 0 0 240px;
            }
        }
        .shop-item {
            flex: 0 0 50%;
            max-width: 545px;
            transition: all 0.3s ease-out;
            &:hover {
                transform: scale(1.005);
            }
        }
    }
}

@include screen(1024,1537) {
    .product-card {
        height: 100%;
        &-cta {
            min-height: 64px;
        }
    }
}