{% extends "block-base.twig" %}

{% block content %}
<section class="shop {{block.className}}" {{blockSection(block)}} style="--bg:url('{{local_path}}background.png');">
    <div class="container">
        <div class="shop-wrapper">
            <div class="shop-filter">
                <div class="shop-filter-wrapper">
                <div class="shop-filter-title">Categories</div>
                    <ul class="rl">
                    {% for category in categories %}
                        <li class="shop-filter-item" data-category-slug="{{category.slug}}" data-category-id="{{category.term_id}}" onclick="toggleFilter(this)")>{{category.name}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="shop-products">
                <ul class="rl shop-list">
                    {% for product in products %}
                        <li class="shop-item">{% include ['product-card.twig'] with {'product': product} %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<script>
    // Sets initial category filter
    const queryParams = Object.fromEntries(new URLSearchParams(window.location.search).entries());
    if(queryParams.category) {
        document.querySelector('.shop-products').classList.add('processing');
        loadProducts(queryParams.category);
        document.querySelector('[data-category-slug="' + queryParams.category  + '"]').classList.add('active');
    }

    // Toggles category filter
    function toggleFilter(e) {
        if(e.classList.contains('active')) {
            e.classList.remove('active');
            document.querySelector('.shop-filter-wrapper').classList.add('busy');
            document.querySelector('.shop-products').classList.add('processing');

            setTimeout(function(){
                loadProducts(false);
            }, 150);

        } else {
            document.querySelector('.shop-filter-wrapper').classList.add('busy');
            document.querySelectorAll('.shop-filter-item').forEach(function(filter) {
                filter.classList.remove('active');
            })
            e.classList.toggle('active');

            document.querySelector('.shop-products').classList.add('processing');

            setTimeout(function(){
                loadProducts(e.dataset.categorySlug);
            }, 150);
        }
    }

    function loadProducts(category) {
        let data = new FormData();
        
        data.append('category', category);
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_products_by_category", {
            method: "POST",
            credentials: 'same-origin',
            body: data
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.shop-list').innerHTML = "";
                document.querySelector('.shop-list').innerHTML += data;
                document.querySelector('.shop-products').classList.remove('processing');
                document.querySelector('.shop-filter-wrapper').classList.remove('busy');
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }
</script>
{% endblock %}
