.content-block-four {
    margin: 25px 0;
    @include from_until(1024) {
        margin: 75px 0;
    }
    .inner {
        @include from_until(0,1023) {
            display: flex;
            flex-direction: column-reverse !important;
            align-items: center;
            padding: 10px 35px;
        }
        @include from_until(1024) {
            display: flex;
            justify-content: center;
            gap:2vw;
        }
        .left {
            @include from_until(1024) {
                flex: 0 0 calc(50% - 1vw);
            }
        }
        .right {
            text-align: center;
            @include from_until(1024) {
                flex: 0 0 calc(50% - 1vw);
            }
            img {
                @include from_until(1024) {
                    max-width: 90%;
                }
            }
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        @include from_until(0,1023) {
            justify-content: space-evenly;
        }
        @include from_until(1024) {
            padding-top: 25px;
        }
    }
    .icon {
        text-align: center;
        flex: 0 0 100px;
        @include screen(0,1023) {
            margin-bottom: 15px;
        }
        @include from_until(1024) {
            margin-right: 3vw !important;
        }
    }
    .label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        display:block;
    }
    .btn {
        margin: 25px auto;
        @include from_until(1024) {
            margin: 50px auto;
        }
    }
    &.reverse {
        .inner {
            flex-direction: row-reverse;
        }
        .left {
            max-width: 580px;
        }
    }
}