<section class="content-block-four {{block.className}}" {{blockSection(block)}}>
    <div class="inner container">
        <div class="left">
            {{fields.content.text}}
            <ul class="rl list">
                {% for icon in fields.list.items %}
                <li class="icon">
                    <img src="{{icon.image.url}}" alt="{{icon.image.alt}}"/>
                    <span class="label">{{icon.title}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
             <img src="{{fields.content.image.url}}" alt="{{fields.content.image.alt}}"/>
        </div>
    </div>
</section>