#header,
#footer,
.results-thumbnail,
.results-atc,
.results-recalc,
.results-stockist,
.results-summary-email,
.results-summary-head-print {
    display:none;
}
.results-details ul,
.results-summary-top ul,
.results-summary-total ul {
    padding:0;
    margin: 0;
    list-style: none;
}
.sfbr {
    font-family: "Poppins", sans-serif;
}

.sfbr .results-body-inner {
    flex-direction: column-reverse;
}
.sfbr .results-body-inner .right {
    padding: 0;
}
.sfbr .results-body {
    padding: 0;
}
.sfbr .results-summary-top {
    margin-top:0;
    padding: 20px;
}
.results-summary-head-title {
    padding: 0 20px;
    padding-top: 20px;
}

.results-summary-total {
    margin:0;
}

.sfbr .results-summary-total {
    padding: 20px;
    margin-top:0;
}
.results-details {
    padding: 20px !important;
    background:#F4F4F4;
}
.sfbr .results-body-inner .left {
    flex: unset;
    max-width: 100%;
}
.results-details li {
    flex: unset !important;
    margin-right:20px;
}
.sfbr {
    background: white;
}
.results-summary-top li {
    margin-bottom: 25px !important;
}
body {
    -webkit-print-color-adjust: exact !important;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

.print-only {
    display:block !important;
    max-width: 1536px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
}
.print-only .inner {
    display:flex;
    justify-content: center;
    align-items: center;
}
.print-only .mid {
    width:2px;
    background-color: #707070;
    height: 76px;
    margin: 0 30px;
}
.print-only .top {
    font-size:14px;
    line-height: 20px;
}
.print-only .bot{
    font-size:22px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.print-only .cp {
    text-align: center;
    margin-top: 25px;
}
.grecaptcha-badge {
    display:none !important;
}