.sfbr {
    background:#F3F6F9;
    padding: 6vh 0;
    .container-custom {
        max-width: 1536px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        margin:0;
        color:white;
    }
    .results {
        &-summary {
            li {
                font-weight:600;
                text-transform: capitalize;
                display: flex;
                justify-content: space-between;
            }
            &-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3 {
                    color: rgba(0, 53, 114, 1);
                    font-size:32px;
                    margin:0;
                }
                &-print {
                    a {
                        font-size: 18px;
                        line-height: 32px;
                        font-weight: 600;
                        margin: 0;
                        color:rgba(0, 53, 114, 1);
                        &:before {
                            font-family: "icomoon";
                            content: "\e910";
                            color:rgba(0, 53, 114, 1);
                            margin-right: 10px;
                            vertical-align: middle;
                        }
                    }
                }
            }
            &-top {
                color: rgba(0, 53, 114, 1);
                margin-top: 20px;
                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
            &-total {
                color: rgba(0, 53, 114, 1);
                background: rgba(230, 230, 230, 1);
                padding: 15px;
                margin-top: 20px;
                li {
                    display: flex;
                    justify-content: space-between;
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
            &-cta {
                a {
                    border-radius: 3px;
                    letter-spacing: 2.4px;
                    font-weight:600;
                    padding: 20px;
                    display: block;
                    margin-top: 25px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-email {
                margin-top: 20px;
                label {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 6px;
                    margin-left: 6px;
                    display: block;
                }
                input {
                    &[type="email"] {
                        outline: none;
                        border: 3px solid rgba(50, 123, 60, 1);
                        border-radius: 3px;
                        height: 60px;
                        flex-grow: 1;
                        &::placeholder {
                            font-size: 14px;
                            font-family: "Poppins", sans-serif;
                        }
                    }
                    &[type="submit"] {
                        height: 60px;
                        background: rgba(50, 123, 60, 1);
                        border-radius: 3px;
                        outline: none;
                        border: none;
                        color: white;
                        padding: 0 50px;
                        margin-left: 20px;
                        cursor:pointer;
                    }
                }
                &-form {
                    display: flex;
                }
            }
        }
        &-details {
            padding: 30px 50px;
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
            }
            li {
                flex: 0 0 48%;
                max-width: 48%;
            }
            &-item {
                &-title {
                    font-size: 20px;
                    color: rgba(0, 53, 114, 1);
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                &-value {
                    font-weight:400;
                    margin-bottom: 15px;
                    text-transform: capitalize;
                }
            }
        }
        &-head {
            background:rgba(28, 69, 132, 1);
            padding: 15px 75px;
        }
        &-body {
            border-bottom:1px solid rgba(28, 69, 132, 1);
            border-right:1px solid rgba(28, 69, 132, 1);
            border-left:1px solid rgba(28, 69, 132, 1);
            background: white;
            padding: 25px;
            &-inner {
                display: flex;
                .left {
                    flex: 0 0 542px;
                    max-width: 542px;
                }
                .right {
                    flex-grow:1;
                    padding: 0 50px;
                }
            }
        }
        &-atc {
            a {
                transition:all 0.3s ease-out;
                color:white;
                background:rgba(50, 123, 60, 1);
            }
            &.loading {
                a {
                    cursor: wait;
                    pointer-events: none;
                    opacity: 0.8;
                }
            }
        }
        &-spread {
            a {
                transition:all 0.3s ease-out;
                color: white;
                background: #1c4584;
            }
        }
        &-recalc {
            a {
                color:white;
                background:rgba(151, 151, 151, 1);
            }
        }
        &-stockist {
            a {
                color:rgba(50, 123, 60, 1);
                border: 3px solid rgba(50, 123, 60, 1);
            }
        }
    }
}

@include screen(0, 1024) {
    .sfbr {
        .results-body-inner {
            flex-direction: column;
            .left {
                flex: 1;
                text-align:center;
                max-width:unset;
            }
            .right {
                padding:0;
            }
        }
        .results-details {
            padding: 20px 0;
        }
        .results-summary {
            li {
                font-size: 14px;
            }
        }
        .results-summary-head {
            flex-direction: column;
            h3 {
                font-size: 26px;
            }
        }
        .results-summary-email-form {
            flex-direction: column;
            input[type="submit"] {
                margin-left:0;
                margin-top: 10px;
            }
        }
    }
}

.sfbr.noprice {
    .results-summary-top .value {
        display:none;
    }
    .results-summary-total {
        li {
            &:nth-child(2) {
                display:none;
            }
        }
    }
    .results-atc,
    .results-stockist,
    .results-summary-email {
        display:none;
    }
}

.results-atc.added {
    a {
        background:#1c4584;
    }
    span {
        &:after {
            font-family: "icomoon";
            content: "\e916";
            color: white;
            vertical-align: middle;
            font-weight: 200;
            margin-left: 10px;
        }
    }
}
.print-only {
    display:none;
}

.results-disclaimer {
    text-align: center;
    p {
        font-size: 14px;
    }
}