{% extends "block-base.twig" %}

{% block content %}
{% set builder_options = fn('get_field','builder_options', 'option') %}
<section class="sfb {{block.className}}" {{blockSection(block)}}>
    <div class="container-custom">
        <div class="wrapper">
            <div class="builder">
                <form class="builder-form">
                    <div class="builder-section" data-index="1">
                        <div class="builder-head">
                            <div class="builder-index">
                                <h2>1</h2>
                            </div>
                            <div class="builder-title">
                                <h2>Measure Your Fence Perimeter</h2>
                            </div>
                        </div>
                        <div class="builder-body">
                            <div class="inner">
                                <div class="builder-content">
                                    {{builder_options.section_one.content}}
                                </div>
                                <div class="field unit">
                                    <span class="label">Display in</span>
                                    <div class="fields">
                                        <input type="radio" name="unit" id="unit-meter" value="meter" checked/>
                                        <label for="unit-meter">
                                            <div class="unit-inner">Meters</div>
                                        </label>
                                        <input type="radio" name="unit" id="unit-feet" value="feet" />
                                        <label for="unit-feet">
                                            <div class="unit-inner">Feet</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="field length">
                                    <label for="garden-length">Length</label>
                                    <input type="number" id="garden-length" name="garden-length" min="0" max="10000" placeholder="0">
                                </div>
                                <div class="field height">
                                    <label for="height-required">Height</label>
                                    <input type="number" id="height-required" name="height-required"  min="0" max="10000" placeholder="0">
                                </div>
                            </div>
                            <div class="builder-next pending" onclick="toggleBuilderSection(this.parentNode.parentNode, 1, 2);">
                                <div class="builder-next-inner">
                                    <span>NEXT STEP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="builder-section" data-index="2">
                        <div class="builder-head">
                            <div class="builder-index">
                                <h2>2</h2>
                            </div>
                            <div class="builder-title">
                                <h2>Select Your Colour</h2>
                            </div>
                        </div>
                        <div class="builder-body">
                            <div class="inner">
                                <div class="builder-content">
                                    {{builder_options.section_two.content}}
                                </div>
                                <div class="field colour">
                                {% for variation in _ims_get_product_variations(builder_options.section_two.smartfence_product) %}
                                    <div class="colour-option {{variation.attributes.attribute_pa_colour}}">
                                        <input type="radio" name="colour" id="{{variation.attributes.attribute_pa_colour}}" value="{{variation.attributes.attribute_pa_colour}}" />
                                        <label for="{{variation.attributes.attribute_pa_colour}}">
                                            <div class="label-colour {{variation.attributes.attribute_pa_colour}}"></div>
                                            <div class="label-title">{{variation.attributes.attribute_pa_colour}}</div>
                                            <span class="corner">
                                                <span class="path-1"></span>
                                                <span class="path-2"></span>
                                            </span>
                                        </label>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="builder-next pending" onclick="toggleBuilderSection(this.parentNode.parentNode, 2, 3);">
                                <div class="builder-next-inner">
                                    <span>NEXT STEP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="builder-section" data-index="3">
                        <div class="builder-head">
                            <div class="builder-index">
                                <h2>3</h2>
                            </div>
                            <div class="builder-title">
                                <h2>Accessories</h2>
                            </div>
                        </div>
                        <div class="builder-body">
                            <div class="inner">
                                <div class="builder-content">
                                    {{builder_options.section_three.trellis_content}}
                                </div>
                                <div class="field trellis">
                                    {% for trellis in builder_options.section_three.trellis_product %}
                                    <div class="field-option">
                                        <input type="radio" name="trellis" id="trellis-{{loop.index}}" value="{{trellis.post_title}}" />
                                        <label for="trellis-{{loop.index}}">
                                            <div class="label-body"><img src="{{ _ims_get_product_image(trellis)}}" alt="Trellis Product Image"></div>
                                            <div class="label-title">
                                                <div>{{trellis.post_title}}</div>
                                                <div class="price">€{{_ims_get_product_price(trellis)}}</div>
                                            </div>
                                            <span class="corner">
                                                <span class="path-1"></span>
                                                <span class="path-2"></span>
                                            </span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                    <div class="field-option nothanks">
                                        <input type="radio" name="trellis" id="nothanks-trellis" value="nothanks" />
                                        <label for="nothanks-trellis">
                                            <span class="text">No Thanks</span>
                                            <span class="corner">
                                                <span class="path-1"></span>
                                                <span class="path-2"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="builder-content">
                                    {{builder_options.section_three.plinth_content}}
                                </div>
                                <div class="field plinth">
                                    {% for plinth in builder_options.section_three.plinth_product %}
                                    <div class="field-option">
                                        <input type="radio" name="plinth" id="plinth-{{loop.index}}" value="{{plinth.post_title}}" />
                                        <label for="plinth-{{loop.index}}">
                                            <div class="label-body"><img src="{{ _ims_get_product_image(plinth)}}" alt="plinth Product Image"></div>
                                            <div class="label-title">
                                                <div>{{plinth.post_title}}</div>
                                                <div class="price">€{{_ims_get_product_price(plinth)}}</div>
                                            </div>
                                            <span class="corner">
                                                <span class="path-1"></span>
                                                <span class="path-2"></span>
                                            </span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                    <div class="field-option nothanks">
                                        <input type="radio" name="plinth" id="nothanks-plinth" value="nothanks" />
                                        <label for="nothanks-plinth">
                                            <span class="text">No Thanks</span>
                                            <span class="corner">
                                                <span class="path-1"></span>
                                                <span class="path-2"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="builder-content">
                                    {{builder_options.section_three.post_cover_content}}
                                </div>
                                <div class="field post-cover">
                                    {% for postcover in builder_options.section_three.post_cover_product %}
                                    <div class="field-option">
                                        <input type="radio" name="post-cover" id="post-cover-{{loop.index}}" value="{{postcover.post_title}}" />
                                        <label for="post-cover-{{loop.index}}">
                                            <div class="label-body"><img src="{{ _ims_get_product_image(postcover)}}" alt="Post Cover Product Image"></div>
                                            <div class="label-title">
                                                <div>{{postcover.post_title}}</div>
                                                <div class="price">€{{_ims_get_product_price(postcover)}}</div>
                                            </div>
                                            <span class="corner">
                                                <span class="path-1"></span>
                                                <span class="path-2"></span>
                                            </span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                    <div class="field-option nothanks">
                                        <input type="radio" name="post-cover" id="nothanks-post-cover" value="nothanks" />
                                        <label for="nothanks-post-cover">
                                            <span class="text">No Thanks</span>
                                            <span class="corner">
                                                <span class="path-1"></span>
                                                <span class="path-2"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="builder-next pending" onclick="toggleBuilderSection(this.parentNode.parentNode, 3, 4, true);">
                                <div class="builder-next-inner">
                                    <span>NEXT STEP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="sidebar-holder">
                <div class="sidebar">
                    <div class="sidebar-inner">
                        <div class="sidebar-head">
                            <h2>Summary</h2>
                        </div>
                        <div class="sidebar-body">
                            <div class="sidebar-item">
                                <div class="sidebar-item-title">
                                    <span>Dimensions</span>
                                </div>
                                <div class="sidebar-item-value dimension">
                                    <span class="real-value"></span>
                                    <span class="placeholder">None</span>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-title">
                                    <span>Colour</span>
                                </div>
                                <div class="sidebar-item-value colour">
                                    <span class="real-value"></span>
                                    <span class="placeholder">None</span>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-title">
                                    <span>Accessories</span>
                                </div>
                                <div class="sidebar-item-value trellis">
                                    <span class="real-value"></span>
                                    <span class="placeholder">No Trellis</span>
                                </div>
                                <div class="sidebar-item-value plinth">
                                    <span class="real-value"></span>
                                    <span class="placeholder">No Plinth</span>
                                </div>
                                <div class="sidebar-item-value post-cover">
                                    <span class="real-value"></span>
                                    <span class="placeholder">No Post Covers</span>
                                </div>
                            </div>
                            <div class="sidebar-item">
                                <div class="sidebar-item-title">
                                    <span>Extras</span>
                                </div>
                                <div class="sidebar-item-value extras">
                                    <span class="real-value"></span>
                                    <span class="placeholder">None</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-cta incomplete" onclick="buildFence()">
                            <h5>CALCULATE HERE</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
document.querySelector('form').addEventListener('submit', (event) => {
  event.preventDefault();
  buildFence();
});

document.querySelectorAll('.unit input[type=radio]').forEach((e) => {
    e.addEventListener('change', (event) => {
        let data = new FormData(document.querySelector('form'));
        toggleUnit(data.get('unit'));
    });
});

for (let i = 1; i <= 3; i++) {
    document.querySelector('.builder-section[data-index="' + i + '"]').addEventListener('change', (event) => {

        let data = new FormData(document.querySelector('form'));
        if (validateSection(i)) {
            document.querySelector('.builder-section[data-index="' + i + '"]').querySelector('.builder-next').classList.add('ready');
            document.querySelector('.builder-section[data-index="' + i + '"]').querySelector('.builder-next').classList.remove('pending');
        }
    });
}

document.querySelectorAll('.builder-section[data-index="1"]').forEach((e) => {
    e.addEventListener('change', (event) => {
        let data = new FormData(document.querySelector('form'));
        if (data.get('unit') && validateLength(data.get('garden-length')) && validateHeight(data.get('height-required'))) {
            document.querySelector('.builder-section[data-index="1"]').querySelector('.builder-next').classList.add('ready');
            document.querySelector('.builder-section[data-index="1"]').querySelector('.builder-next').classList.remove('pending');
        }
    });
});


function initializeBuilder() {
    let data = new FormData(document.querySelector('form'));

    if(false) {
        
    } else {
        toggleUnit(data.get('unit'));
        document.querySelector('.builder-section').classList.add('active');
    }
}

function toggleUnit(unit) {
    document.querySelector('.field.length').classList.remove('meter');
    document.querySelector('.field.length').classList.remove('feet');
    document.querySelector('.field.height').classList.remove('meter');
    document.querySelector('.field.height').classList.remove('feet');

    document.querySelector('.field.length').classList.add(unit);
    document.querySelector('.field.height').classList.add(unit);
}

function validateLength(value) {
    if(value) {
        return true;
    } else {
        console.log('Length not set');
        return false;
    }
}

function validateHeight(value) {
    if(value) {
        return true;
    } else {
        console.log('Height not set');
        return false;
    }
}

function validateSection(section) {
    let data = new FormData(document.querySelector('form'));
    if (section == 1) {
        if (data.get('unit') && validateLength(data.get('garden-length')) && validateHeight(data.get('height-required'))) {
            return true;
        } else {
            console.log('Validation Failed');
            return false;
        }
    } else if (section == 2) {
        if (data.get('colour')) {
            return true;
        } else {
            console.log('Fence colour not selected');
            return false;
        }
    } else if (section == 3) {
        if (data.get('trellis')) {
            if (data.get('plinth')) {
                if (data.get('post-cover')) {
                    return true;
                } else {
                    console.log('Post Cover not selected');
                    return false;
                }
            } else {
                console.log('Plinth not selected');
                return false;
            }
        } else {
            console.log('Trellis not selected');
            return false;
        }
    }
}

function toggleBuilderSection(builderSection, thisSectionIndex, targetSectionIndex, formComplete = false) {
    if(!builderSection.classList.contains('complete')) {
        if(validateSection(thisSectionIndex)) {
            builderSection.classList.add('complete');
            builderSection.querySelector('.builder-next').classList.add('ready');
            builderSection.querySelector('.builder-next').classList.remove('pending');
            if(formComplete) {
                updateSummary();
                document.querySelector('.sidebar-cta').classList.remove('incomplete');
                document.body.scrollTop = document.documentElement.scrollTop = 0;
            } else {
                document.querySelector('.builder-section[data-index="' + targetSectionIndex + '"]').classList.toggle('active');
                document.querySelector('.builder-section[data-index="' + targetSectionIndex + '"]').scroll({bottom:0,behavior:'smooth'});
                updateSummary();
            }
        }
    } else {
        updateSummary();
    }
}

function updateSummary() {
    let data = new FormData(document.querySelector('form'));
    let unit = data.get('unit');

    if(unit == "meter") {
        document.querySelector('.sidebar-item-value.dimension .placeholder').classList.add('hide');
        document.querySelector('.sidebar-item-value.dimension .real-value').innerHTML = data.get('garden-length') + 'm Length x ' + data.get('height-required') + 'm Height';
    } else {
        document.querySelector('.sidebar-item-value.dimension .placeholder').classList.add('hide');
        document.querySelector('.sidebar-item-value.dimension .real-value').innerHTML = data.get('garden-length') + 'ft Length x ' + data.get('height-required') + 'ft Height';
    }

    if(data.get('colour')) {
        document.querySelector('.sidebar-item-value.colour .placeholder').classList.add('hide');
        document.querySelector('.sidebar-item-value.colour .real-value').innerHTML = data.get('colour').replace('-', ' ');
    }

    if(data.get('trellis') && data.get('trellis') !== "nothanks") {
            document.querySelector('.sidebar-item-value.trellis .placeholder').classList.add('hide');
            document.querySelector('.sidebar-item-value.trellis .real-value').innerHTML = data.get('trellis');
    }

    if(data.get('plinth')  && data.get('plinth') !== "nothanks") {
        console.log(data.get('trellis'));
        document.querySelector('.sidebar-item-value.plinth .placeholder').classList.add('hide');
        document.querySelector('.sidebar-item-value.plinth .real-value').innerHTML = data.get('plinth');
    }

    if(data.get('post-cover')  && data.get('post-cover') !== "nothanks") {
        console.log(data.get('post-cover'));
        document.querySelector('.sidebar-item-value.post-cover .placeholder').classList.add('hide');
        document.querySelector('.sidebar-item-value.post-cover .real-value').innerHTML = data.get('post-cover');
    }
}

function buildFence() {
    let data = new FormData(document.querySelector('form'));

    if(data.get('unit') === "meter") {
        var heightRequired = data.get('height-required') * 3.28084;
        var gardenLength = data.get('garden-length');
    } else {
        var gardenLength = data.get('garden-length') * 0.3048;
        var heightRequired = data.get('height-required');
    }
    
    var panelsRequired = gardenLength / 1.8;
    var rounded = Math.ceil(panelsRequired);

    if(data.get('trellis') === "true") {
        var numOfTrellis = rounded;
    } else {
        var numOfTrellis = 0;
    }
    
    if(data.get('plinth') === "true") {
        var numOfPlinth = rounded;
    } else {
        var numOfPlinth = 0;
    }
    
    var infillSections = ((heightRequired * rounded) - (numOfTrellis + numOfPlinth));
    var fullPacksRequired = Math.ceil((infillSections / 5));
    var fullPacksRequiredRounded = Math.ceil(fullPacksRequired);
    var extraTopRail = rounded - fullPacksRequiredRounded;
    
    if(data.get('concrete-screws-required') == 6) {
        var concreteScrewsRequired = rounded * 8;
    } else {
        var concreteScrewsRequired = rounded * 6;
    }
    
    var extraScrewsRequired = concreteScrewsRequired - (fullPacksRequiredRounded * 6);
    var channelAdaptersM = (rounded * (1.5 * 2)) - (fullPacksRequiredRounded * 2 * 1.5) + (numOfTrellis * 2 * 0.3);
    var channelAdaptersExtra = Math.ceil((channelAdaptersM / 1.5));
}

initializeBuilder();
</script>
{% endblock %}