{% extends "block-base.twig" %}

{% block content %}
{% set builder_options = fn('get_field','builder_options', 'option') %}
<section class="sfbr {{block.className}}" {{blockSection(block)}}>
    <div class="container-custom">
        <div class="wrapper">
            <div class="results">
                <div style="height:880px;"></div>
            </div>
        </div>
    </div>
</section>
<script>
function initializeResults() {
    let queryParams = new URLSearchParams(window.location.search);
    let params = Object.fromEntries(queryParams.entries());
    console.log(params);
    loadVideos();
}
    function recalc() {
        let parameters = new URLSearchParams(window.location.search).toString();
        location.href = '/smartfence-builder/?' + parameters;
    }
    function loadResults() {

        let queryParams = new URLSearchParams(window.location.search);
        
        let data = Object.fromEntries(queryParams.entries());
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_builder_results", {
            method: "POST",
            credentials: 'same-origin',
            body: data
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.results').innerHTML = data;
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }

    function loadVideos() {
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_videos&" + window.location.search.substring(1), {
            method: "POST",
            credentials: 'same-origin'
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.results').innerHTML = data;
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        }
initializeResults();
</script>
<script>
    function loadCart() {
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_cart_ajax", {
            method: "GET",
            credentials: 'same-origin',
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.minicart-holder').innerHTML = data;
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }
    async function ajaxAtc(items) {
        console.log(items);
        
        const nonce = "{{ fn('wp_create_nonce', 'wc_store_api')}}";
        const headers = { "X-WC-Store-API-Nonce": nonce, "Content-Type": "application/json"};
        let data = { id: i.id, quantity: i.qty};

        let response = await fetch("{{fn('get_site_url')}}/wp-json/wc/store/cart/items", { 
            "method": "POST",
            "headers": headers,
            "body": JSON.stringify(data)
        })
        .then((response) => {
            response.text();
        })
        .then((data) => {
            console.log(dats);
        })
        .catch((err) => {
            console.error(err);
        });
        
        items.forEach(function(i) {
            console.log("Adding: ", i);
            let data = { id: i.id, quantity: i.qty};

            let response = await fetch("{{fn('get_site_url')}}/wp-json/wc/store/cart/items", { 
                "method": "POST",
                "headers": headers,
                "body": JSON.stringify(data)
            })
            .then((response) => {
                response.text();
            })
            .then((data) => {
                console.log(dats);
            })
            .catch((err) => {
                console.error(err);
            });
        });
    }
</script>

{% endblock %}