{% extends "block-base.twig" %}

{% block content %}
{% set builder_options = fn('get_field','builder_options', 'option') %}

<link rel="stylesheet" type="text/css" media="print" href="/wp-content/themes/elite/blocks/smartfence-builder-results/print.css">
<section class="sfbr {{block.className}}" {{blockSection(block)}}>
    <div class="container-custom">
        <div class="wrapper">
            <div class="results">
                <div style="height:880px;"></div>
            </div>
        </div>
    </div>
</section>
<diV class="print-only">
    <diV class="inner">
        <diV class="left">
            <img src="/wp-content/themes/elite/blocks/smartfence-builder-results/logo.png" alt="Logo">
        </div>
        <diV class="mid"></div>
        <diV class="right">
            <div class="top">{{translateString('Visit our website for more information', 'elite')}}</div>
            <div class="bot">myelitegarden.com</div>
        </div>
    </div>
    <div class="cp">© {{translateString('Copyright 2022 EliteGarden. All Rights Reserved.', 'elite')}}</div>
</div>
<script>
function initializeResults() {
    let queryParams = new URLSearchParams(window.location.search);
    let params = Object.fromEntries(queryParams.entries());
    console.log(params);
    loadVideos();
}
    function recalc() {
        let parameters = new URLSearchParams(window.location.search).toString();
        location.href = '/smartfence-builder/?' + parameters;
    }
    function loadResults() {

        let queryParams = new URLSearchParams(window.location.search);
        
        let data = Object.fromEntries(queryParams.entries());
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_builder_results", {
            method: "POST",
            credentials: 'same-origin',
            body: data
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.results').innerHTML = data;
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }

    function loadVideos() {
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_videos&" + window.location.search.substring(1), {
            method: "POST",
            credentials: 'same-origin'
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.results').innerHTML = data;
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        }
initializeResults();
</script>
<script>
    function loadCart() {
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_cart_ajax", {
            method: "GET",
            credentials: 'same-origin',
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.minicart-holder').innerHTML = data;
                execAjaxScripts(document.querySelector('.header-minicart '));
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }

    async function ajaxAtc(items) {       
        const nonce = "{{ fn('wp_create_nonce', 'wc_store_api')}}";

        const headers = { "X-WC-Store-API-Nonce": nonce, "Content-Type": "application/json"};
        document.querySelector('.results-atc').classList.add('loading');
        for (let i = 0; i < items.length; i++) {
            let data = { id: items[i].id, quantity: items[i].qty};
            console.log('Adding: ', data );

            let response = await fetch("{{fn('get_site_url')}}/wp-json/wc/store/cart/items", { 
                "method": "POST",
                "headers": headers,
                "body": JSON.stringify(data)
            })
            .then((response) => {
                response.text();
            })
            .catch((err) => {
                console.error(err);
            });
        }

        loadCart();
        document.querySelector('.results-atc').classList.remove('loading');
        document.querySelector('.results-atc').classList.add('added');
        document.querySelector('.results-atc a span').innerHTML = 'ADDED TO CART';
    }

    function execAjaxScripts(el) {
        let arr = el.getElementsByTagName('script')
        for (var n = 0; n < arr.length; n++) {
            eval(arr[n].innerHTML);
        }
    }
</script>

{% endblock %}