.stlo {
    &-title {
        max-width: 1170px;
        margin: auto;
        @include from_until(0,1023) {
            padding: 25px;
        }
    }

}
.footer {
    clear: both;
}
.wpgmp_map_parent {
    margin-bottom: 0 !important;
}
.wpgmp_filter_wrappers {
    padding: 25px;
    @include from_until(1024) {
        padding: 40px 115px !important;
    }
    border-top: 8px solid #327B3C;
}
.wpgmp_before_listing {
    @include from_until(1024) {
        font-size: 40px;
        line-height: 50px;
        font-weight: bold;
    }
}
.wpgmp_locations {
    border-color: #707070 !important;
}
.place_title {
    font-size: 20px !important;
    line-height: 24px !important;
    color:#327B3C !important;
}
.wpgmp_locations_content {
    font-size: 16px !important;
    color: #000000 !important;
}
.wpgmp_location_category {
    color: #000000 !important;
}
.wpgmp_search_input {
    font-size: 16px !important;
    height: 56px !important;
    padding-left: 25px !important;
}
.categories_filter select {
    background-color: white !important;
    color: #262626 !important;
    font-size: 16px !important;
    height: 56px !important;
    min-width: 100%;
    border-top: 4px solid #327B3C !important;
    margin: 0 !important;
    outline: 0 !important;
    @include from_until(0,1023) {
        margin-bottom: 20px !important;
    }
    @include from_until(1024) {
        min-width: 392px;
    }
}
.fc-component-6 {
    max-width: 90% !important;
    margin: auto !important;
}
.wpgmp_filter_wrappers {
    background-color: rgba(243, 246, 249, 1) !important;
}

.categories_filter_reset_btn {
    background: rgba(38, 38, 38, 0.5) !important;
    border: 0 !important;
    outline: 0 !important;
    cursor: pointer;
    height: 45px !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 15px !important;
    letter-spacing: 2.4px !important;

    margin-top: 0 !important;
    transform: skewX(-20deg) !important;
    color: transparent !important;
    @include from_until(1024) {
        width: 180px !important;
    }
}
.categories_filter_reset {
    font-weight: bold !important;
    margin-top: -0.85714em !important;
    position:relative;
    cursor: pointer;
    @include from_until(1024) {
        margin-left: 1em;
    }
}
.categories_filter {
    display: flex;
    align-items: center;
    margin-top: 10px !important;
    @include from_until(0,1023) {
        flex-wrap: wrap;
    }
}

.categories_filter_reset:before {
    display: block;
    content: "Clear";
    font-weight: 600;
    overflow: hidden;
    font-size: 16px !important;
    position: absolute;
    color: white;
    top: calc(50% + 14.25px);
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 2;
    letter-spacing: 2.4px !important;
    text-transform: uppercase;
}