{% if is_preview %}
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
    .wp-block-button__link {
        background-color:unset;
        border-radius: 0;
    }
</style>
{% endif %}

<style>{{compiled_css}}</style>

<section class="stlo cf" id="{{block.anchor}}" data-block-name="stockist-locator" style="--bg-color:{{fields.background_color}};">
    <div class="stlo-inner container">
        <div class="stlo-wrapper">
            <div class="stlo-title">
                <h1>Stockist Locator</h1>
            </div>
            <div class="stlo-frame">
            {{ fn('do_shortcode', '[put_wpgm id=2]') }}
            </div>
        </div>
    </div>
</section>