{% if is_preview %}
<div class="preview" data-block-name="hero-block-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block hbo" data-block-name="hero-block-one">
    <div class="hbo-inner">
        {% for slide in fields.slides %}
        {% if loop.first %}
        <div class="left-container">
            <div class="slide left" style="--bg:url({{slide.image.url}})">
                <h1>{{slide.link.title}}</h1>
                {{slide.content}}
                {% if slide.hover_effect %}
                <div class="slide-hover" style="--bg:{{slide.hover.color}}">
                    <img src="{{slide.hover.image.url}}" alt="{{slide.hover.image.alt}}"/>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="right-container">
        {% for slide in fields.slides %}
        {% if not loop.first %}
            <a class="slide right" href="{{slide.link.url}}" style="--bg:url({{slide.image.url}})">
                <h2>{{slide.link.title}}</h2>
                {{slide.content}}
                {% if slide.hover_effect %}
                <div class="slide-hover" style="--bg:{{slide.hover.color}}">
                    <img src="{{slide.hover.image.url}}" alt="{{slide.hover.image.alt}}"/>
                </div>
                {% endif %}
            </a>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
