.fio {
    background:var(--bg-color);
    &-inner {
        max-width: 1170px;
        padding:0;
    }
    &-wrapper {
        justify-content: space-between;
        align-items: center;
        @include from_until(1024) {
            padding: 15px;
        }
    }
    &-content {
        @include from_until(0,1023) {
            margin-bottom: 25px;
        }
    }
}