{% if is_preview %}
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
    .wp-block-button__link {
        background-color:unset;
        border-radius: 0;
    }
</style>
{% endif %}

<style>{{compiled_css}}</style>

<secfion class="fio cf" id="{{block.anchor}}" data-block-name="full-image-one">
    <div class="fio-inner container">
        <div class="fio-wrapper row-l">
            <img src="{{fields.image.url}}" alt="{{fields.image.alt}}"/>
        </div>
    </div>
</secfion>