@use "mixins" as *;

.blog {
    &-posts {
        @include from_until(0,1023) {
            padding: 25px;
        }
        @include from_until(1024) {
            padding-top: 50px;
        }
        &-inner {
            justify-content: space-between;
        }
        &.container {
            max-width: 1520px;
            @include from_until(1024) {
                min-height: 100vh;
            }
        }
    }
    &-post {
        flex-wrap: nowrap;
        border: 1px solid rgba(229, 234, 244, 1);
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
        border-radius: 16px;
        overflow:hidden;
        .left,
        .right {
            @include from_until(1024) {
                flex:0 0 50%;
            }
        }
        img {
            display:block;
        }
        p {
            color:rgba(38, 38, 38, 1);
        }
    }
}

.blog-post {
    &:first-child {
        margin-bottom: 10px;
        @include from_until(1024) {
            height: 410px;
        }
    }
    .right {
        .top {
            justify-content: space-between;
            align-items: center;
        }
    }
    .left {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .top-left {
        border-radius: 2000px;
        span {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 2.4px;
            font-weight: 600;
            display: block;
            padding: 8.5px 15px;
        }
    }
    .top-right {
        h5 {
            margin:0;
        }
    }
}

.blog-post {
    position: relative;
    &.full {
        @include from_until(0,1023) {
            flex-direction: column;
        }
        p {
            color:rgba(38, 38, 38, 1);
        }
        .right {
            padding: 40px;
        }
        .top-left {
            background: rgba(50, 123, 60, 0.2);
            span {
                color:rgba(50, 123, 60, 1);
            }
        }
    }
    &.mini {
        max-width: 100%;
        background:var(--bg-img);
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        @include from_until(1024) {
            min-height: 670px;
            max-width: 32%;
        }
        &:before {
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, rgba(21, 37, 50, 1) 100%) 0% 0% no-repeat padding-box;
        }
        &:hover .bot {
            max-height: 1000px;
        }
        h2 {
            color:white;
        }
        p {
            color:white;
        }
        .top-right h5 {
            color:white;
        }
        .spacer {
            flex-grow: 1;
        }
        .right {
            position:relative;
            padding: 25px;
        }
        .bot {
            overflow: hidden;
            transition: all 0.4s ease-out;
            @include from_until(1024) {
                max-height: 0px;
            }
        }
        .top-left {
            background: rgba(50, 123, 60, 0.8);
            @include from_until(1024) {
                background: rgba(50, 123, 60, 0.2);
            }
            span {
                color:white;
                @include from_until(1024) {
                    color:rgba(50, 123, 60, 1);
                }
            }
        }
    }
}