@use "mixins" as *;

.btn {
    display: block;
    width: max-content;
    max-width: 100%;
    min-width: 232px;
    padding: 16px 38px;
    transform: skewX(-20deg);
    text-align: center;
    &-primary {
        background-color: rgba(28, 69, 132, 1);
    }
    &-secondary {
        background-color: rgba(50, 123, 60, 1);
    }
    &-red {
        background-color: rgba(174, 19, 33, 1);
    }
    span {
        font-size: 16px;
        color: white;
        letter-spacing: 2.4px;
        font-weight: bold;
        text-transform: uppercase;
        transform: skewX(20deg);
        display: inline-block;
    }
}

@include from_until(1024) {
    .btn {
        font-size: 22px;
    }
}
