@use "mixins" as *;

.footer {
    &-container {
        display: flex;
        @include from_until(0,1023) {
            flex-direction: column;
        }
    }
    &-left {
        background:rgba(38, 38, 38, 1);
        position:relative;
        @include from_until(1024) {
            flex: 0 0 30vw;
            max-width: 680px;
        }
    }
    &-right {
        @include from_until(0,1023) {
            flex-direction: column;
            padding: 25px 40px;
        }
        @include from_until(1024) {
            margin-left:5.5vw;
            padding: 30px;
            display: flex;
            max-width: 860px;
        }
    }
    &-cp-container {
        background:rgba(28, 69, 132, 1);
        color:white;
        font-size: 12px;
        line-height: 20px;
        padding: 15px;
        display: block;
        text-align: center;
        @include from_until(1024) {
            text-align: left;
            font-size: 14px;
            padding-left: 38.5vw;
        }
    }
    &-logo-container {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 25px 35px;
        @include from_until(1024) {
            transform: skewX(-20deg);
            background: #262626;
            padding: 20px;
            padding-left: 20vw;
            position: absolute;
            top: 0;
            bottom: -58px;
            right: -50px;
            left: -40px;
        }

        .img-wrapper {
            @include from_until(1024) {
                display: block;
                transform: skewX(20deg);
            }
            @include from_until(0,1023) {
                display:inline;
                padding-right: 20px;
            }
            &:nth-child(2) {
                @include from_until(1024) {
                    padding-left: 30px;
                }
            }
            &:nth-child(3) {
                @include from_until(1024) {
                    padding-left: 44px;
                }
            }
        }
    }
    &-logo {
        @include from_until(1024) {
            display: block;
            transform: skewX(20deg);
            margin-top: 10px;
            margin-bottom: 40px;
        }
        @include from_until(0,1023) {
            display: block;
            margin-bottom: 20px;
        }
    }
    &-menu-container {
        display: flex;
        @include from_until(0,1023) {
            flex-wrap: wrap;
        }
        .footer-list {
            &:nth-child(1) {
                @include from_until(0,1023) {
                    padding-right: 50px;
                }
            }
            &:nth-child(3) {
                @include from_until(0,1023) {
                    margin-top:25px;
                    width: 100%;
                }
            }
        }
    }
    &-icons {
        display: flex;
    }
}

.footer {
    &-container {
        border-top: 1px solid black;
    }
    &-list {
        font-size: 14px;
        line-height: 20px;
        @include from_until(1024) {
            flex:0 0 150px;
        }
    }
    &-title {
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        padding-bottom: 15px;
    }
    &-link {
        padding-bottom: 10px;
        a {
            color:rgba(38, 38, 38, 1);
            text-decoration: none;
        }
    }
    &-content {
        max-width: 340px;
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
    &-icons {
        li {
            padding-right: 20px;
            display: flex;
            align-items: center;
        }
    }
}

@include screen(1024) {
    .footer-list + .footer-list {
        margin-left: 25px;
    }
}
.footer-cp-container {
    display:flex;
    justify-content: space-between;
    @include screen(1024) {
        padding-right: 20vw;
    }
    @include screen(0,1023) {
        flex-direction: column;
    }
}

.payment-icons {
    display: flex;
    justify-content: center;
    @include screen(0,1023) {
        margin-top:15px;
    }
    li {
        margin-left:5px;
        &:before {
            font-family: "icomoon";
            color:white;
            font-size: 25px;
        }
        &.vs {
            &:before {
                content: "\e91c";
            }
        }
        &.mc {
            &:before {
                content: "\e919";
            }
        }
        &.pp {
            &:before {
                content: "\e91b";
            }
        }
    }
}