@use "mixins" as *;

.main-logo {
    max-height: 29px;
    height: 29px;
}

.menu {
    &-link {
        font-size: 15px;
        color:#000000;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.burger {
    cursor: pointer;
    height: 12px;
    width: 18px;
    top: -5px;
    right: 25px;
    transform: rotate(180deg);
    position: absolute;
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    span {
        background-color: #1C4584;
        position: absolute;
        display: block;
        height: 2px;
        width: 18px;
        border-radius: 5px;
        &:nth-child(1) {
            top: calc(50% - 5px);
        }
        &:nth-child(2) {
            top: calc(50% - 0px);
        }
        &:nth-child(3) {
            top: calc(50% + 5px);
        }
    }
}

.nav-toggler {
    position:relative;
}

.logo-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background: white;
}

html.menu-open .burger {
    transform: rotate(90deg);
    span {
        &:nth-child(1) {
            transform: translateY(5px) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translateY(-5px) rotate(-45deg);
        }
    }
}


.menu {
    &-container {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        position: fixed;
        top: 0;
        background: white;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        padding-top: 60px;
        display:flex;
        .inner {
            transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            opacity:0;
            min-width: 45px;
            background: rgba(184, 192, 199, 1);
        }
        .wrapper{
            height: 100%;
            background: white;
            flex-grow: 1;
        }
        .bottom-menu-list .menu-item {
            padding: 18px 30px;
            background: white;
            .menu-link {
                color: rgba(0, 0, 0, 0.55);
            }
        }
    }
    &-item {
        background-color: #f3f5f8;
        &-holder {
            padding: 18px 30px;
        }
        &.sub {
            .menu-item-holder {
                display: flex;
            }
        }
        .chevron {
            height: 20px;
            width: 35px;
            text-align: center;
            span {
                &:before {
                    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
                    position:absolute;
                    content: "\e905";
                    font-family: "icomoon";
                    font-weight: 600;
                }
            }
        }
    }
}

@include screen(0,1023) {
    .menu {
        &-item {
            &:not(.open) {
                .submenu-dholder {
                    max-height: 0;
                }
            }
            &.open {
                background-color: rgba(28, 69, 132, 1);
                .menu-link {
                    color:white;
                }
                .chevron span {
                    &:before {
                        transform: rotate(178deg);
                        color:white;
                    }
                }
            }
        }
    }
    .submenu-dholder {
        overflow: hidden;
        max-height: 250px;
    }
}

.submenu-dholder {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    .menu-link {
        display: block;
        padding: 18px 60px;
        background:#f3f5f8;
        color:rgba(28, 69, 132, 1) !important;
    }
}


@include screen(0,1023) {
    html {
        &:not(.menu-open) {
            .menu-container {
                transform: translateX(100%);
            }
        }
        &.menu-open {
            .menu-container {
                .inner{
                    opacity:1;
                }
            }
        }
    }
}

@include screen(1024) {
    .main-logo {
        max-height: 40px;
        height: 40px;
        width: 200px;
    }
    .menu-container {
        padding: 0;
        position: relative;
    }
    .menu-link {
        font-size: 13px;
    }
    .menu-logo {
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
    }
    .menu-list {
        display: flex;
    }
    .menu-item {
        background:white;
        &.sub {
            position: relative;
        }
        &:hover {
            .submenu-dholder {
                max-height: 500px;
            }
        }
        &:not(:hover) {
            .submenu-dholder {
                max-height: 0;
            }
        }
        .chevron {
            height: unset;
            width:unset;
            margin-left: 5px;
        }
        &-holder {
            padding: 28px 15px;
        }
    }
    .submenu {
        text-align: center;
        &-dholder {
            overflow: hidden;
            position: absolute;
            z-index: -1;
            max-height: unset;
            min-width: 250px;
            left: 50%;
            transform: translate(-50%,0);
            .menu-link {
                background: white;
                color: rgba(28, 69, 132, 1);
                padding: 18px 30px;
                &:hover {
                    background: rgba(28, 69, 132, 1);
                    color:white !important;
                }
            }
        }
    }
    .header-wrapper {
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        position: relative;
        z-index: 5;
    }
    .header-container {
        max-width: 1485px;
        margin: auto;
    }
    .header-top {
        background: #1c4584;
        position: relative;
        z-index: 6;
        .inner {
            max-width: 1485px;
            margin: auto;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .menu-item {
            background:transparent;
            margin: 0 35px;
        }
        .bottom-menu-list {
            display: flex;
            justify-content: flex-end;
        }
        .menu-link {
            color:white;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
        }
    }
    .menu-item {
        &.sub {
            .menu-item-holder {
                position:relative;
                &:before {
                    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
                    content: "";
                    position: absolute;
                    height: 5px;
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    background: rgba(28, 69, 132, 1);
                    opacity:0;
                }
            }
            &:hover {
                .menu-item-holder {
                    &:before {
                        opacity:1;
                    }
                }
            }
        }
    }
}

@include screen(1281) {
    .menu-item {
        &-holder {
            padding: 28px 30px;
        }
    }
    .menu-link {
        font-size: 15px;
    }
}

@include screen(1024) {
    .wpml-ls-statics-shortcode_actions {
        .wpml-ls-item-toggle {
            background: transparent;
            border: none;
        }
    }
}

@include screen(0,1023) {
    .lang-switcher {
        padding: 0px 17px;
        margin-top: 15px;
    }
    .wpml-ls-legacy-dropdown {
        width: fit-content !important;
        max-width: 100%;
    }
    .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
        background: transparent;
        border: none;
    }
    .wpml-ls-native {
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.55);
        text-transform:uppercase;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
        background: unset !important;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
        border: none;
    }
    .wpml-ls-legacy-dropdown a {
        background-color: transparent;
        border:0;
        padding: 5px 13px;

    }
    .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
        color: white;
    }
    .wpml-ls-sub-menu {
        background: white;
        width: 125px;
        left: -35px;
        right: 0;
    }
    .wpml-ls-sub-menu .wpml-ls-native {
        color: black;
    }
    .wpml-ls-sub-menu .wpml-ls-display {
        display:none;
    }
    .wpml-ls-sub-menu {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
}

@include screen(1024) {
    .wpml-ls-legacy-dropdown {
        width: unset !important;
        max-width: 100%;
    }
    .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
        background: transparent;
        border: none;
    }
    .wpml-ls-native {
        color: white;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
        color: white !important;
        background: unset!important;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
        border: none;
    }
    .wpml-ls-legacy-dropdown a {
        background-color: transparent;
        border:0;
    }
    .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
        color: white;
    }
    .wpml-ls-sub-menu {
        background: white;
        width: 125px;
        left: -35px;
        right: 0;
    }
    .wpml-ls-sub-menu .wpml-ls-native {
        color: black;
    }
    .wpml-ls-sub-menu .wpml-ls-display {
        display:none;
    }
    .wpml-ls-sub-menu {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
}

@include screen(1024) {
    .header-minicart {
        position:relative;
        .cart-icon {
            &:before {
                font-family: "icomoon";
                content: "\e912";
                color:white;
                font-weight: 400;
                font-size: 17px;
            }
            &:after {
                transition:all 0.3s ease-out;
                content: attr(data-text);
                height: 22px;
                width: 22px;
                border-radius: 50%;
                background: #C91F20;
                position: absolute;
                top: -11px;
                right: -10px;
                text-align: center;
                font-size: 10px;
                line-height: 22px;
                opacity:0;
            }
        }
        &.full {
            .cart-icon {
                &:after {
                    opacity:1;
                }
            }
        }
    }
    .wcml-dropdown {
        width: 7.5em !important;
        li {
            background-color: transparent !important;
            border: none !important;
        }
        .wcml-cs-item-toggle {
            cursor: pointer;
            color: white;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
        }
        a {
            &:after {
                font-size: 18px !important;
            }
        }
    }
    .wcml-cs-submenu {
        background: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-top: 1px solid #cdcdcd;
        a {
            font-size: 15px;
            line-height: 18px !important;
            font-weight: 600;
        }
    }
}

@include screen(1024, 1536) {
    .header-top {
        .inner {
            padding:0 25px;
        }
    }
}

.minicart {
    border: 2px solid #1c4584;
    background: white;
    position: absolute;
    width: 575px;
    top: 60px;
    right: 0;
    &-top {
        background:rgba(28, 69, 132, 0.28);
    }
    &-bot {
        padding: 8px;
    }
    &-inner {
        position:relative;
        &:before {
            content: "\e918";
            font-family: "icomoon";
            color: #1c4584;
            position: absolute;
            top: -22px;
            right: 20px;
        }
    }
    &-outer {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    &-closer {
        text-align: right;
        padding: 8px;
        span {
            cursor: pointer;
            display:block;
            &:before {
                color: white;
                content: "\e917";
                font-family: "icomoon";
                display: block;
                font-size: 25px;
            }
        }
    }
    &-summary {
        margin: 0 8px;
        background:rgba(230, 230, 230, 1);
        padding: 15px 18px;
    }
    &-line {
        display:flex;
        justify-content: space-between;
        span {
            font-size:16px;
            font-weight:600;
            color:rgba(0, 53, 114, 1);
        }
        & + .minicart-line {
            margin-top:15px;
        }
    }
    &-products {
        padding: 8px;
        max-height: 50vh;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display:none;
        }
    }
    &-product {
        display:flex;
        align-items: center;
        &-image {
            margin-right: 2vw;
            img {
                max-width: 143px;
                max-height: 108px;
                object-fit: cover;
                display: block;
            }
        }
        &-name,
        &-price {
            color:rgba(0, 53, 114, 1);
            font-weight: 600;
            font-size: 18px;
        }
        &-attr {
            font-size: 14px;
            color:rgba(38, 38, 38, 0.73);
            display: flex;
            justify-content: space-between;
            padding-right: 50px;
            margin: 10px 0;
            .minicart-label {
                font-weight: 500;
            }
        }
        &-colour {
            text-transform: capitalize;

        }
        &-info {
            flex-grow: 1;
        }
        & + .minicart-product {
            margin-top:8px;
        }
    }
    &-colour {
        height: 12px;
        width: 12px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 3px;
        &.merlin-grey {
            background: rgba(105, 115, 118, 1)
        }
        &.goosewing-grey {
            background:rgba(184, 181, 170, 1);
        }
        &.olive-green {
            background:rgba(96, 95, 80, 1);
        }
        &.anthracite {
            background:rgba(56, 62, 66, 1);
        }
    }
    .btn {
        transform: skewX(0deg);
        width: 100%;
        span {
            transform: skewX(0deg);
        }
    }
}

.header-minicart {
    &:not(.open) {
        .minicart-holder {
            display:none;
        }
    }
}

@include screen(1024) {
    .minicart-mobile {
        display:none;
    }
}
@include screen(0,1023) {
    .minicart-mobile {
        &:before {
            font-family: "icomoon";
            content: "\e912";
            color:#1C4584;
            font-weight: 400;
            font-size: 17px;
            position: absolute;
            width: 18px;
            top: 20px;
            right: 25px;
            left: 25px;
        }
        .minicart {
            width: 100%;
            top: 60px;
            right: 0;
            left: 0;
            &-inner {
                &:before {
                    top: -19px;
                    left: 17px;
                }
            }
        }
        &:not(.open) {
            .minicart {
                display:none;
            }
        }
    }
}
@include screen(0,1023) {
    .wcml-dropdown {
        width: 8.5em !important;
    }
}