@use "mixins" as *;

html {
    &.menu-open {
        body {
            overflow: hidden !important;
        }
    }
}

body {
    position: relative;
    margin:0;
    overflow-x:hidden;
}

.return-to-shop {
    color:rgba(28, 69, 132, 1);
    font-weight:600;
    font-size: 16px;
    width: fit-content;
    display: block;
    padding: 20px;
    &:before {
        font-family: "icomoon";
        content: "\e911";
        color:rgba(28, 69, 132, 1);
        margin-right: 5px;
        font-size: 16px;
    }
}

.hide {
    display:none !important;
}

@include screen(1024) {
    .return-to-shop {
        color:rgba(28, 69, 132, 1);
        font-weight:600;
        font-size: 25px;
        line-height:38px;
        padding: 20px 0;
        &:before {
            font-size: 24px;
            margin-right: 5px;
        }
    }
}

// Checkout

.woocommerce-cart {
    .df {
        display:flex;
    }

    .db {
        display:block;
    }

    .jc {
        &-c {
            justify-content: center;
        }
        &-s {
            justify-content: space-between;
        }
    }

    .checkout-button {
        background: #327B3C;
        color: white;
        font-weight: 600;
        letter-spacing: 2.4px;
        font-size: 16px;
        width:100%;
    }
    .coupon-code {
        border-color: #1C4584;
        border-radius: 5px;
        background: transparent;
        outline: none;
        padding-left: 45px;
        margin-right:10px;
        height: 60px;
        &::placeholder {
            font-weight:300;
        }
    }
    .coupon-btn {
        background: #1C4584;
        border: 3px solid #1C4584;
        color: white;
        transform: skewX(0deg);
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        height: 60px;
    }

    .btn-t {
        background: transparent;
        border: 3px solid #327B3C;
        color: #327B3C;
        transform: skewX(0deg);
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        height: 60px;
    }

    .woocommerce {
        background:#F3F6F9;
        padding: 75px 0;
    }

    .cart-form {
        display: flex;
        flex-direction: column-reverse;
        &-c {
            flex:0 0 875px;
            max-width: 875px;
        }
        &-w {
            padding:0;
        }
    }
    .cart-collaterals {
        // table {
        //     border: 1px solid rgba(28, 69, 132, 1);
        // }
        .title {
            margin-bottom: 84px;
        }
        th {
            padding: 20px 15px;
        }
        td {
            border:none;
        }
        tr {
            border: 1px solid rgba(28, 69, 132, 1);
        }
        tr + tr {
            border-top:none;
        }
    }

    .product-name {
        a {
            color:#262626;
        }
    }

    .product-remove {
        .i-remove {
            &:before {
                font-family:"icomoon";
                content: "\e915";
                color:#1C4584;
                font-size: 20px;
            }
        }
    }

    .product-thumbnail {
        img {
            display:block;
            height: 100px;
            width: 100px;
            object-fit: cover;
        }
    }

    .product-quantity {
        .qh {
            border: 1px solid rgba(28, 69, 132, 0.3);
            border-radius: 3px;
            max-width: 125px;
            height: 30px;
            align-items: center;
            margin:auto;
            & > span {
                flex: 0 0 30%;
                max-width: 30%;
                font-size: 20px;
                cursor: pointer;
                text-align: center;
            }
        }
        .qty {
            -moz-appearance: textfield;
            outline: none;
            background: transparent;
            width: 100%;
            text-align: center;
            border: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    td {
        &.product-subtotal {
            border-right: 1px solid #1C4584;
        }
        &.product-remove {
            border-left: 1px solid #1C4584;
        }
    }

    .cart_item + .cart_item {
        td {
            border-top:none;
        }
    }

    .cart-empty {
        display: flex;
        min-height: 50vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1335px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
        p {
            &:before {
                font-size: 45px !important;
            }
        }
        a {
            color: rgba(28, 69, 132, 1);
            font-size: 50px;
        }
    }
    small {
        display:block;
    }
    .woocommerce-shipping-totals.shipping {
        display:flex;
        td {
            max-width: 250px;
            text-align: left;
        }
        ul {
            list-style: none;
            margin:0;
            li {
                margin:0;
            }
        }
        .woocommerce-shipping-methods {
            input {
                margin-right:5px;
            }
        }
        .shipping-calculator-button {
            color: #000000;
            font-size: 15px;
            &:before {
                font-family: "icomoon";
                content: "\e91a";
                margin-right: 10px;
            }
        }
        .shipping-calculator-form {
            .button {
                background: #327B3C;
                color: white;
                border: none;
                padding: 10px 20px;
                width: 100%;
            }
        }
    }
}

@include screen(0,1024) {
    .woocommerce-cart {
        .cart-form-w {
            flex-direction: column;
        }
        .cart-form-c {
            padding: 10px;
            flex: 0 0 100%;
        }
        .cart-collaterals {
            padding: 10px;
            .title {
                margin-bottom: 0px;
            }
        }
        .cart-actions {
            display:block;
        }
        .coupon {
            display:block;
        }
        .coupon-code {
            width: 100%;
        }
        .cart-body {
            td {
                padding: 20px 5px;
            }
        }
        button {
            width: 100%;
            margin-top:5px;
        }
        .product-quantity {
            border-right: 1px solid #1C4584;
        }
        .checkout-button {
            margin: auto;
        }
    }
}

.woocommerce-form-coupon-toggle,
.checkout_coupon woocommerce-form-coupon {
    display:none;
}


// Woo checkout

.woocommerce-checkout {
    .df {
        display:flex;
    }

    .main {
        background:#F3F6F9;
    }
    form.checkout {
        padding: 50px;
        margin: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        @include screen(1440) {
            max-width: 1366px;
        }
        .co-left {
            flex:0 0 50%;
            max-width: 50%;
        }
        .co-right {
            flex:0 0 43%;
            max-width: 43%;
        }
    }
    input,
    select {
        border: 1px solid #1C4584;
        border-radius: 8px;
        background: #F8F9FA 0% 0% no-repeat padding-box;
        width: 100%;
        height: 50px;
        font-weight: 300;
        &::placeholder {
            color:#262626;
            font-weight: 300;
        }
    }
    .select2-selection.select2-selection--single {
        border: 1px solid #1C4584;
        border-radius: 8px;
        background: #F8F9FA 0% 0% no-repeat padding-box;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    textarea {
        border: 1px solid #1C4584;
        border-radius: 8px;
        background: #F8F9FA 0% 0% no-repeat padding-box;
        width: 100%;
        min-height: 100px;
        font-weight: 300;
        &::placeholder {
            color:#262626;
            font-weight: 300;
        }
    }
    label {
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .required {
        color:#C30000;
    }
    .woocommerce-billing-fields__field-wrapper {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .form-row {
            flex: 0 0 100%;
            margin: 10px 0;
            &-first,
            &-last {
                flex: 0 0 47%;
            }
        }
    }
}
#payment {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    label {
        margin:0;
    }
    input {
        height:unset;
        width:unset;
    }
    #payment_method_boipa {
        display:block !important;
    }
    .wc_payment_method.payment_method_boipa {
        display:flex;
    }
    img {
        max-height: 50px;
        margin-left: 10px;
    }
}

.place-order-button {
    cursor: pointer;
    background: #327b3c;
    border-radius: 3px;
    border: 1px solid #327b3c;
    color: white;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 21px;
    width: 100%;
    font-size: 16px;
}

.woocommerce-NoticeGroup {
    flex: 0 0 100%;
    max-width: 100%;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-weight: bold;
        color: red;
    }
}

@include screen(0,1024) {
    .woocommerce-checkout form.checkout {
        flex-wrap:wrap;
        .co-left {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .co-right {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
.select2-selection__arrow {
    top:unset !important;
}

#ship-to-different-address {
    font-size: 20px;
    .checkbox {
        display:flex;
        align-items: center;
    }
    input {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
}

.woocommerce-checkout {
    .woocommerce-checkout-review-order-table {
        border: 1px solid #1C4584;
        td {
            border:none;
        }
    }
    th {
        padding: 15px;
    }
    .product-name,
    .product-total {
        border-bottom: 0.5px solid rgba(28, 69, 132, 0.5);
    }
    .order-total {
        th,
        td {
            border-top: 0.5px solid rgba(28, 69, 132, 0.5);
        }
    }
    .product-name,
    .cart-subtotal th,
    .shipping th,
    .order-total th {
        text-align: left;
    }
    .product-total,
    .cart-subtotal td,
    .shipping td
    .order-total td {
        text-align: right;
    }
    .woocommerce-shipping-totals.shipping {
        ul {
            list-style: none;
            padding:0;
            margin:0;
            li {
                margin:0;
            }
        }
        input {
            height:unset;
            width:unset;
            margin-bottom: 5px;
        }
        .woocommerce-shipping-methods {
            li {
                display:flex;
            }
        }
    }
}

.woocommerce-order-pay {
    .main {
        background: #F3F6F9;
        .woocommerce {
            max-width: 90%;
            margin: auto;
            min-height: 50vh;
        }
    }
    ul {
        list-style: none;
        padding:0;
        margin:0;
    }
    .order_details {
        padding-top: 10vh;
        text-align: center;
    }
    form {
        text-align: center;
        margin-top: 20px;
        .button {
            background: rgba(50, 123, 60, 1);
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}

.confirmation-page {
    .woocommerce-order {
        padding: 25px 40px;
    }
    .woocommerce-notice {
        .top {
            font-size: 40px;
            line-height:50px;
            font-weight:600;
        }
        .bot {
            font-size: 20px;
            line-height:24px;
            font-weight:600;
        }
        margin-bottom: 25px;
    }
    .woocommerce-order-overview {
        list-style: none;
        padding:0;
        margin:0;
        li {
            text-transform: uppercase;
        }
        strong {
            display:block;
            text-transform: none;
            margin-top: 3px;
            margin-bottom: 10px;
        }
    }
    .woocommerce-table {
        border: 1px solid #1C4584;
        thead {
            background:#1C4584;
            color:white;
        }
        tfoot {
            th {
                text-align: left;
                border-top:1px solid #1C4584;
            }
            td {
                text-align: right;
                border-bottom:0;
            }
        }
        a {
            color:#262626;
        }
    }
    .col-1,
    .col-2 {
        max-width: unset;
        padding: 0;
    }
    .woocommerce-column {
        address {
            border: 1px solid #1C4584;
            padding: 20px;
            font-style: normal;
        }
    }
    .woocommerce-customer-details--phone {
        margin-top: 5px;
        margin-bottom: 0;
        &:before {
            font-family:"icomoon";
            content: "\e90a";
            color:#1C4584;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    .woocommerce-customer-details--email {
        margin: 0;
        &:before {
            font-family:"icomoon";
            content: "\e904";
            color:#1C4584;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}

@include screen(1024) {
    .confirmation-page {
        .woocommerce-order {
            padding-top: 75px;
            display:flex;
            .right {
                margin-left:7.5vw;
                flex-grow:1;
            }
        }
        .woocommerce-order-details {
            h2 {
                margin-top:0;
            }
        }
    }
}

.woocommerce-notices-wrapper {
    max-width: 1335px;
    margin-left: auto;
    margin-right: auto;
    @include screen(0,1024){
        padding: 10px;
    }
    ul {
        list-style:none;
        li {
            margin:0;
            padding:0;
        }
    }
    .woocommerce-error {
        padding: 16px;
        padding-left: 25px;
        background:white;
        position:relative;
        border-radius: 5px;
        overflow: hidden;
        &:before {
            content:"";
            background:rgba(174, 19, 33, 0.8);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 10px;
        }
    }
    .woocommerce-message {
        padding: 16px;
        padding-left: 25px;
        background:white;
        position:relative;
        border-radius: 5px;
        overflow: hidden;
        &:before {
            content:"";
            background:rgba(50, 123, 60, 0.8);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 10px;
        }
    }
}