@use "mixins" as *;

// @font-face {
//     font-family: "Kanit";
//     src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-Light.ttf") format("truetype");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Kanit";
//     src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-Medium.ttf") format("truetype");
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Kanit";
//     src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-SemiBold.ttf") format("truetype");
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }


html {
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 16px;
    line-height: 1.2;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    margin: 0.7em 0;
    font-family: 'Poppins', sans-serif;
    color:rgba(38, 38, 38, 1);
}

h1 {
    font-size: 40px;
    font-weight:900;
    @include from_until(1024) {
        font-size: 50px;
    }
}

h2 {
    font-size: 30px;
    @include from_until(1024) {
        font-size: 40px;
    }
}

h3 {
    font-size: 20px;
    @include from_until(1024) {
        font-size: 30px;
    }
}

h4 {
    font-size: 24px;
    @include from_until(1024) {
        font-size: 24px;
    }
}

h5 {
    font-size: 20px;
    @include from_until(1024) {
        font-size: 20px;
    }
}

h6 {
    font-size: 20px;
    font-weight: 300;
    @include from_until(1024) {
        font-size: 20px;
    }
}

p {
    line-height: 1.5;
    @include from_until(1024) {
        font-size: 16px;
    }
}

li {
    @include from_until(1024) {
        font-size: 16px;
        line-height: 24px;
    }
}