$breakpoint-m:  768px !default;
$breakpoint-l: 1024px !default;
$breakpoint-xl: 1210px !default;

$grid-gutter: 16px !default;

@mixin breakpoint($bp) {
  @if $bp == xl {
    @media only screen and (min-width: $breakpoint-xl) { @content ; }
  }
  @else if $bp == l {
    @media only screen and (min-width: $breakpoint-l) { @content ; }
  }
  @else if $bp == m {
    @media only screen and (min-width: $breakpoint-m) { @content ; }
  }
}

@mixin background-rgba($color, $alpha) {
  background-color: $color;
  background-color: rgba($color, $alpha);
}

@mixin animate($duration: 1s) {
  animation-duration: $duration;
  animation-fill-mode: both;
}

@mixin from_until($from: 0, $until: 0) {
  @if $from==0 {
      @media only screen and (max-width: ($until * 1px)) {
          @content;
      }
  } @else if $until==0 {
      @media only screen and (min-width: ($from * 1px)) {
          @content;
      }
  } @else {
      @media only screen and (min-width: ($from * 1px)) and (max-width: ($until * 1px)) {
          @content;
      }
  }
}

@mixin screen($from: 0, $until: 0) {
  @if $from==0 {
      @media only screen and (max-width: ($until * 1px)) {
          @content;
      }
  } @else if $until==0 {
      @media only screen and (min-width: ($from * 1px)) {
          @content;
      }
  } @else {
      @media only screen and (min-width: ($from * 1px)) and (max-width: ($until * 1px)) {
          @content;
      }
  }
}

@function local-image($name) {
  @return url("/wp-content/themes/elite/images/#{$name}");
}

.hide-mobile {
  @include from_until(0, 1023) {
      display: none !important;
  }
}
.hide-desktop {
  @include from_until(1024) {
      display: none !important;
  }
}