.cco {
    background:var(--bg);
    &-inner {
        padding:16px;
        @include from_until(1024) {
            padding: 75px 16px;
            display:flex;
        }
        &> * {
            flex:0 0 50%;
        }
        .left {
            padding: 20px;
            @include from_until(1024) {
                padding: 75px 16px;
            }
        }
        h2 {
            max-width: 500px;
            @include from_until(0,1023) {
                font-size: 24px;
            }
        }
    }
    &-btn {
        padding-top: 20px;
        padding-left: 15px;
        @include from_until(1024) {
            padding-top: 35px;
        }
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include from_until(1024) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &-card {
        border-radius: 3px;
        background:var(--bg);
        color: white;
        width: 270px;
        padding: 20px 30px;
        @include from_until(0,1023) {
            margin:15px;
        }
        &:nth-child(odd) {
            @include from_until(1024) {
                margin-bottom: 30px;
            }
        }
        &:nth-child(even) {
            @include from_until(1024) {
                margin-top: 30px;
            }
        }
        img {
            padding-top: 35px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }
        strong {
            font-size: 16px;
        }
    }
}