{% if is_preview %}
<div class="preview" data-block-name="content-cards-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cco" data-block-name="content-cards-one" style="--bg:{{fields.background_color}};">
    <div class="cco-inner container">
        <div class="left">
            {{fields.content}}
            <div class="cco-btn hide-desktop hide-mobile">
                <a class="btn {{fields.button.style}}" href="{{fields.button.link.url}}" target="{{fields.button.link.target}}">
                    <span>{{fields.button.link.title}}</span>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="cco-cards">
            {% for card in fields.cards %}
                <div class="cco-card" style="--bg:{{card.bg_color}};">
                    <img src="{{card.icon.url}}" alt="{{card.icon.alt}}"/>
                    {{card.content}}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}

