
<link rel="icon" type="image/png" sizes="32x32" href="{{local_file('favicon/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{local_file('favicon/favicon-16x16.png')}}">
<meta name="msapplication-TileColor" content="#1C4584">
<meta name="theme-color" content="#1C4584">