{% set footer_options = fn('get_field', 'footer_options', 'option') %}
<div class="footer-wrapper">
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-logo-container">
                <a href="/" class="footer-logo"><img src="{{ Image(footer_logo).src}}" alt="{{ site.title }} Logo"></a>
                <div class="img-wrapper">
                    <img src="{{ local_child_image('iso-1.png')}}" alt="Iso One">
                </div>
                <div class="img-wrapper">
                    <img src="{{ local_child_image('iso-2.png')}}" alt="Iso Two">
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-menu-container">
            {% if footer_primary_menu.get_items %}
            {% for item in footer_primary_menu.get_items %}
                <ul class="rl footer-list">
                {% for child in item.children %}
                    {% if loop.first %}
                    <li class="footer-title">{{translateString('Menu', 'elite')}}</li>
                    {% endif %}
                
                    <li class="footer-link"><a href="{{child.url}}">{{child.title}}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}
            {% endif %}
                <ul class="rl footer-list">
                    <li class="footer-title">{{translateString('Address', 'elite')}}</li>
                    <li class="footer-text">{{ footer_options['address'] }}</li>
                </ul>
            </div>
            <div class="footer-info-container">
                <div class="footer-content">
                <p>{{ footer_options['content'] }}</p>
                </div>
                <div class="footer-icons-container">
                    <ul class="rl footer-icons">
                        <li><a href="https://www.facebook.com/eliteform.elitefence" target="_blank"><img src="{{ local_child_image('facebook.svg')}}" alt="Facebook"/></a></li>
                        <li><a href="https://www.instagram.com/elitegardenproducts/" target="_blank"><img src="{{ local_child_image('instagram.svg')}}" alt="Instagram"/></a></li>
                        <li><a href="https://twitter.com/SmartfenceL" target="_blank"><img src="{{ local_child_image('twitter.svg')}}" alt="Twitter"/></a></li>
                        <li><a href="https://www.linkedin.com/company/elitegarden-products/" target="_blank"><img src="{{ local_child_image('linkedin.svg')}}" alt="LinkedIn"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-cp-container">
        <span>{{translateString('© Copyright','elite')}} {{ 'now' | date('Y') }} {{translateString('EliteGarden. All Rights Reserved.','elite')}}</span>
        <ul class="rl payment-icons">
            <li class="vs"></li>
            <li class="mc"></li>
            <li class="pp"></li>
        </ul>
    </div>
</div>