<link rel="stylesheet" href="{{ static_path }}/static/css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/wp-content/themes/elite/static/main.css" type="text/css" media="screen" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://i.icomoon.io/public/32fdff22a3/Elite/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap" rel="stylesheet">