<div class="notice notice-atc">
    <div class="notice-inner">
        <div class="notice-thumb">
            <img src="{{product_data.images[0]}}" alt="Product Image"/>
        </div>
        <div class="notice-info">
            <div class="notice-info-wrapper">
                <div class="notice-value notice-name on">{{post.title}}</div>
                <div class="notice-value kv notice-colour {% if product.get_type == "variable" %}on{% endif %}"><span class="label">{{translateString('Colour:', 'elite')}}</span> <span class="value"></span></div>
                <div class="notice-value kv notice-qty on"><span class="label">{{translateString('QTY:', 'elite')}}</span> <span class="value">1</span></div>
                <div class="notice-value notice-price on"><span>{{fn('get_woocommerce_currency_symbol')}}</span><span class="value">{{product.get_price}}</span></div>
            </div>
        </div>
        <div class="notice-cta">
            <a href="/cart" class="btn btn-secondary"><span>{{translateString('GO TO CART', 'elite')}}</span></a>
            <a href="/checkout" class="btn btn-primary"><span>{{translateString('CHECKOUT', 'elite')}}</span></a>
        </div>
    </div>
    <div class="notice-above">
        <span>Added to your basket</span>
    </div>
</div>