<div class="results-box">
	<div class="results-head">
		<h2>Summary</h2>
	</div>
	<div class="results-body">
		<div class="results-body-inner">
			<div class="left">
				<div class="results-thumbnail">
					<img src="{{variation_image}}" alt="Product Image"/>
				</div>
				<div class="results-disclaimer">
					<p>{{translateString('The above image may not be an accurate representation of your order', 'elite')}}</p>
				</div>
				<div class="results-details">
					<ul class="rl">
						<li>
							<div class="results-details-item">
								<div class="results-details-item-title">
									<span>Dimensions</span>
								</div>
								<div class="results-details-item-value dimensions">
									{{dimensions}}
								</div>
							</div>
						</li>
						<li>
							<div class="results-details-item">
								<div class="results-details-item-title">
									<span>Colour</span>
								</div>
								<div class="results-details-item-value colour">
									{{colour}}
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="results-summary">
					<div class="results-summary-head">
						<div class="results-summary-head-title">
							<h3>What You'll Need</h3>
						</div>
						<div class="results-summary-head-print">
							<a href="#" onclick="window.print();">Print your list</a>
						</div>
					</div>
					<div class="results-summary-body">
						<div class="results-summary-top">
							<ul class="rl">
								<li>
                                    <div class="label">{{packs}} x SmartFence Kit, {{colour}}</div>
                                    <div class="value">{{ims_get_currency_code()}}{{variation_price|number_format(2, '.')}}</div>
                                </li>
                                {% if trellis_required > 0 %}
								<li>
                                    <div class="label">{{trellis_required}} x {{trellis_name}}, {{trellis_colour|replace({'-': " "})}}</div>
                                    <div class="value">{{ims_get_currency_code()}}{{trellis_price|number_format(2, '.')}}</div>
                                </li>
                                {% endif %}
                                {% if plinth_required > 0 %}
								<li>
                                    <div class="label">{{plinth_required}} x {{plinth_name}}, {{plinth_colour|replace({'-': " "})}}</div>
                                    <div class="value">{{ims_get_currency_code()}}{{plinth_price|number_format(2, '.')}}</div>
                                </li>
                                {% endif %}
                                {% if postcover_required > 0 %}
								<li>
                                    <div class="label">{{postcover_required}} x {{postcover_name}}, {{postcover_colour|replace({'-': " "})}}</div>
                                    <div class="value">{{ims_get_currency_code()}}{{postcover_price|number_format(2, '.')}}</div>
                                </li>
                                {% endif %}
								{% if extra_screws > 0 %}
								<li>
                                    <div class="label">{{extra_screws }} x Screw Packs, {{postcover_colour|replace({'-': " "})}}</div>
                                    <div class="value">{{ims_get_currency_code()}}{{screw_price|number_format(2, '.')}}</div>
                                </li>
								{% endif %}
                                {% if extra_top_rail > 0 %}
								<li>
                                    <div class="label">{{extra_top_rail}} x Extra Top Rails, {{colour}}</div>
                                    <div class="value">{{ims_get_currency_code()}}{{top_rail_price|number_format(2, '.')}}</div>
                                </li>
                                {% endif %}
                                {% if std_channel_adapters_required > 0 %}
								<li>
                                    <div class="label">{{std_channel_adapters_required}} x Channel Adapters, {{colour}}</div>
                                    <div class="value">{{ims_get_currency_code()}}{{std_channel_adapter_price|number_format(2, '.')}}</div>
                                </li>
                                {% endif %}
								{% if short_channel_adapters_required > 0 %}
								<li>
                                    <div class="label">{{short_channel_adapters_required}} x Extra "Small" Channel Adapters for 6' fence, {{colour}}</div>
                                    <div class="value">{{short_channel_adapter_price|number_format(2, '.')}}</div>
                                </li>
                                {% endif %}
							</ul>
						</div>
						<div class="results-summary-total">
							<ul class="rl">
								<li>
                                    <div class="label">Number Of Items</div>
                                    <div class="value">{{total}}</div>
                                </li>
								<li>
                                    <div class="label">Total</div>
                                    <div class="value">{{ims_get_currency_code()}}{{total_price|number_format(2, '.')}}</div>
                                </li>
							</ul>
						</div>
						<div class="results-summary-cta">
							<div class="results-atc">
								<a href="javascript:void(0);" onclick='ajaxAtc({{fn('json_encode', cart_contents)}});'><span>ADD TO CART</span></a>
							</div>
							<div class="results-spread">
								<a href="mailto:catriona.brady@eliteform.ie"><span>{{translateString('Contact Catriona to spread out your payments', 'elite')}}</span></a>
							</div>
							<div class="results-recalc">
								<a href="javascript:void(0);" onclick="recalc();">START OVER / RECAULCULATE</a>
							</div>
							<div class="results-stockist">
								<a href="#">FIND A STOCKIST</a>
							</div>
						</div>
						<div class="results-summary-email">
							<label>Email my results</label>
							<div class="results-summary-email-form">
								<input type="email" name="email" placeholder="Input your email address">
								<input type="submit" value="SEND">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

