{% if data.label|length > 1 %}
<div class="btn-label" style="--color:{{data.color}}">
    <span>{{data.label}}</span>
</div>
{% endif %}
<a class="btn {{data.button.style}}" href="{{data.button.link.url}}" target="{{data.button.link.target}}">
    <span>{{data.button.link.title}}</span>
</a>