<div class="header-top">
    <div class="inner">
        <div class="hide-mobile">{{fn('do_action', 'wpml_add_language_selector')}}</div>
        <div class="hide-mobile">{{fn('do_action', 'wcml_currency_switcher')}}</div>
        <ul class="rl bottom-menu-list hide-mobile">
            {% for item in header_secondary_menu.get_items %}
            <li class="menu-item"><a class="menu-link" href="{{item.link}}" target="{{item.target}}">{{item.title}}</a></li>
            {% endfor %}
            <li class="header-minicart">
                <a class="menu-link cart-link" href="javascript:void(0);" onclick="this.parentNode.classList.toggle('open')">
                    Cart <span class="cart-icon"></span>
                </a>
                <div class="minicart-holder">
                {% include "minicart.twig" with {'data':  ims_get_cart } %}
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="header-wrapper">
    <div class="header-container">
        <div class="menu-logo">
            <div class="logo-container">
                <div class="minicart-mobile-holder"  onclick="toggleMobMinicart();"><div class="minicart-mobile">{% include "minicart.twig" with {'data':  ims_get_cart } %}</div></div>
                <a href="/" title="Home"><img class="main-logo" src="{{ Image(primary_logo).src}}" alt="{{ site.title }} Logo"></a>
                <div class="nav-toggler hide-desktop">
                    <div class="mtoggler burger hide-desktop" onclick="toggleMobMenu()">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="menu-container">
                <div class="inner hide-desktop" onclick="toggleMobMenu()"></div>
                {% include "menu.twig" with {'items': header_primary_menu.get_items} %}
            </div>
        </div>
    </div>
</div>

<script>
function toggleMobMinicart() {
    document.getElementsByTagName('HTML')[0].classList.remove('menu-open');
    document.querySelector('.minicart-mobile').classList.toggle('open');
}
function toggleMobMenu() {
    document.querySelector('.minicart-mobile').classList.remove('open');
    document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');
}
</script>