<div class="header-wrapper">
    <div class="header-container">
        <div class="menu-logo">
            <div class="logo-container">
                <a href="/" title="Home"><img src="{{ Image(primary_logo).src}}" alt="{{ site.title }} Logo"></a>
                <div class="nav-toggler hide-desktop">
                    <div class="mtoggler burger hide-desktop" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="menu-container">
                <div class="inner">
                {% include "menu.twig" with {'items': header_primary_menu.get_items} %}
                </div>
            </div>
            </div>
    </div>
</div>
<script>
{# document.querySelectorAll('.menu-link').forEach(function(e){
    e.addEventListener('click',function(i) {
        document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');
    });
}) #}
</script>
