{% extends "base.twig" %}

{% block content %}
<div class="blog-body">
  <div class="blog-search">
  </div>
  <div class="blog-posts container">
    <div class="blog-posts-inner row">
    {% for post in posts %}
      {% if loop.first %}
      <a class="blog-post row full" href="{{post.link}}">
        <div class="left">
          <img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}">
        </div>
        <div class="right">
          <div class="top row">
            <div class="top-left"><span>{{post.category}}</span></div>
            <div class="top-right"><h5>{{post.date("d F")}}</h5></div>
          </div>
          <h2>{{post.title}}</h2>
          <p>{{post.preview.read_more('')}}</p>
        </div>
      </a>
      {% else %}
      <a class="blog-post mini" href="{{post.link}}" style="--bg-img:url({{post.thumbnail.src}});">
        <div class="spacer"></div>
        <div class="right">
          <div class="top row">
            <div class="top-left"><span>{{post.category}}</span></div>
            <div class="top-right"><h5>{{post.date("d F")}}</h5></div>
          </div>
          <h2>{{post.title}}</h2>
          <div class="bot">
            <p>{{post.preview.read_more('')}}</p>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}