<ul class="menu-list hide-mobile">
{% for item in items %}
    <li class="menu-item {% if item.children %}sub{% endif %}">
        <div class="menu-item-holder"> 
            <a class="menu-link" href="{{item.link}}" target="{{item.target}}" data-text="{{item.title}}">{{item.title}}</a>
        </div>
    {% if item.children %}
    <div class="submenu-dholder">
         <ul class="submenu">
        {% for child in item.children %}
             <li class="nav-drop-item">
                <a class="menu-link" href="{{ child.link }}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
            </li>
        {% endfor %}
         </ul>
    </div>
    {% endif %}
    </li>
{% endfor %}
</ul>

<ul class="menu-listm hide-desktop">
<li class="menu-closer" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');"><span class="closer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M376.6 427.5c11.31 13.58 9.484 33.75-4.094 45.06c-5.984 4.984-13.25 7.422-20.47 7.422c-9.172 0-18.27-3.922-24.59-11.52L192 305.1l-135.4 162.5c-6.328 7.594-15.42 11.52-24.59 11.52c-7.219 0-14.48-2.438-20.47-7.422c-13.58-11.31-15.41-31.48-4.094-45.06l142.9-171.5L7.422 84.5C-3.891 70.92-2.063 50.75 11.52 39.44c13.56-11.34 33.73-9.516 45.06 4.094L192 206l135.4-162.5c11.3-13.58 31.48-15.42 45.06-4.094c13.58 11.31 15.41 31.48 4.094 45.06l-142.9 171.5L376.6 427.5z"/></svg></span></li>
{% for item in items %}
    <li class="menu-itemm">
        <div class="menu-itemm-holder {% if item.children %}sub{% endif %}">
            {% if item.children %}
            <div class="menu-itemm-link">
                <a class="menu-linkm" href="{{item.link}}" target="{{item.target}}" >{{item.title}}</a>
            </div>
            <div class="chevron" onclick="this.parentNode.parentNode.classList.toggle('submenu-open');"></div>
            {% else %}
            <div class="menu-itemm-link">
                <a class="menu-linkm" href="{{item.link}}" target="{{item.target}}" >{{item.title}}</a>
            </div>
            {% endif %}
        </div>
    {% if item.children %}
    <div class="submenu-holder">
        <div class="chevron" onclick="this.parentNode.parentNode.classList.toggle('submenu-open');"><span class="return">{{translateString('RETURN', 'elite')}}</span></div>
        <ul class="submenu">
        {% for child in item.children %}
            <li class="menu-itemm">
                <div class="menu-itemm-link">
                    <a class="menu-linkm" href="{{ child.link }}" target="{{child.target}}" >{{ child.title }}</a>
                </div>
            </li>
        {% endfor %}
         </ul>
    </div>
    {% endif %}
    </li>
{% endfor %}
</ul>