<div class="wrapper">
    <ul class="rl menu-list">
        {% for item in items %}
            <li class="menu-item {% if item.children %}sub{% endif %}">
                <div class="menu-item-holder"> 
                    <a class="menu-link" href="{{item.link}}" target="{{item.target}}" data-text="{{item.title}}">{{item.title}}</a>
                    {% if item.children %}
                    <div class="chevron" onclick="toggleMMenu(this.parentNode.parentNode);">
                        <span></span>
                    </div>
                    {% endif %}
                </div>
            {% if item.children %}
            <div class="submenu-dholder">
                <ul class="rl submenu">
                {% for child in item.children %}
                    <li class="nav-drop-item">
                        <a class="menu-link" href="{{ child.link }}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="lang-switcher hide-desktop">
        {{fn('do_action', 'wpml_add_language_selector')}}
    </div>
    <div class="lang-switcher hide-desktop">
        {{fn('do_action', 'wcml_currency_switcher')}}
    </div>
    <ul class="rl bottom-menu-list hide-desktop">
        {% for item in header_secondary_menu.get_items %}
        <li class="menu-item"><a class="menu-link" href="{{item.link}}" target="{{item.target}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
</div>
<script>
function toggleMMenu(e) {
    console.log(e);
    if(e.classList.contains('open')) {
        e.classList.toggle('open');
    } else {
        [...document.querySelectorAll('.menu-item')].forEach(function(e) {
            e.classList.remove('open');
        });
        e.classList.toggle('open');
    }
}
</script>