{% set data = ims_get_cart() %}
<div class="minicart">
    <div class="minicart-outer" onclick="document.querySelector('.header-minicart').classList.toggle('open');"></div>
    <div class="minicart-inner">
        <div class="minicart-top">
            <div class="minicart-closer" onclick="document.querySelector('.header-minicart').classList.toggle('open');"><span></span></div>
        </div>
        <div class="minicart-mid">
            <div class="minicart-products">
        {% for product in data.products %}

                <div class="minicart-product">
                    <div class="minicart-product-image">
                        {{product['img']}}
                    </div>
                    <div class="minicart-product-info">
                        <div class="minicart-product-name">
                            {{product['name']}}
                        </div>
                        <div class="minicart-product-attr">
                            {% if product['attrs']['pa_colour'] %}
                            <div class="minicart-product-colour"><span class="minicart-label">{{translateString('Colour:', 'elite')}} </span> {{product['attrs']['pa_colour']|replace({'-': " "})}} <span class="minicart-colour {{product['attrs']['pa_colour']}}"></span></div>
                            {% else %}
                            <div class="dummy"></div>
                            {% endif %}
                            <div class="minicart-product-qty"><span class="minicart-label">{{translateString('QTY:', 'elite')}} </span>{{product['qty']}}</div>
                        </div>
                        <div class="minicart-product-price">
                            {{product['price']}}
                        </div>
                    </div>
                </div>
        {% endfor %}
            </div>
            <div class="minicart-summary">
                <div class="minicart-line">
                    <span>{{translateString('Number of Items', 'elite')}}</span>
                    <span>{{data.count}}</span>
                </div>
                <div class="minicart-line">
                    <span>{{translateString('Total', 'elite')}}</span>
                    <span>{{data.total}}</span>
                </div>
            </div>
        </div>
        <div class="minicart-bot">
            <div class="minicart-cta">
                <a href="/cart" class="btn btn-secondary"><span>{{translateString('GO TO CART', 'cec')}}</span></a>
            </div>
        </div>
    </div>
</div>
<script>
var count = {{data.count}};

if(count > 0) {
    if(count > 99) {
        document.querySelector('.cart-icon').setAttribute('data-text', "+99");
    } else {
        document.querySelector('.cart-icon').setAttribute('data-text', count);
    }
    document.querySelector('.header-minicart').classList.add('full');
}
</script>
