{% block content %}
{% set category = fn('get_the_terms', product.get_id, 'product_cat') %}
<a class="related-card" href="{{item.get_link}}">
    <div class="top">
        <div class="image-wrapper">
            <img src="{% if item.get_thumbnail.src %}{{item.get_thumbnail.src}}{% else %}{{"/wp-content/themes/elite/images/related-product-image.png"}}{% endif %}" alt="Product Image">
            <div class="image-wrapper-abs">
                <div class="related-card-category">
                    <span>{{category[0].name}}</span>
                </div>
                <div class="related-card-price">
                   {{item.get_price}}
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="related-card-inner">
            <div class="related-card-title">
                <h5>{{item.name}}</h5>
            </div>
            <div class="related-card-viewmore">VIEW MORE</div>
        </div>
    </div>
</a>

{% endblock %}