{% block content %}

{% set category = fn('get_the_terms', item.ID, 'product_cat') %}
{% set price = fn('wc_get_product', item.id) %}
<a class="feed-card" href="{{item.get_link}}">
    <div class="top">
        <div class="image-wrapper">
            <img src="{% if item.get_thumbnail.src %}{{item.get_thumbnail.src}}{% else %}{{"/wp-content/themes/elite/images/related-product-image.png"}}{% endif %}" alt="Product Image">
            <div class="image-wrapper-abs">
                <div class="feed-card-category">
                    <span>{{category[0].name}}</span>
                </div>
                <div class="feed-card-price">
                   {{price.get_price_html}}
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="feed-card-inner">
            <div class="feed-card-title">
                <h5>{{item.name}}</h5>
            </div>
            <div class="feed-card-viewmore">VIEW MORE</div>
        </div>
    </div>
</a>

{% endblock %}