{% for product in products %}
{% set category = ims_get_product_primary_category(product) %}
{% set product_fields = fn('get_fields', product.get_id) %}

<li class="shop-item">

    <a class="product-card" href="{{product.get_permalink}}">
        <div class="left">
            {{product.get_image('full')}}
        </div>
        <div class="right">
            <div class="product-card-inner">
                <div class="product-card-title">
                    <h5>{{product.name}}</h5>
                </div>
                <div class="product-card-description">
                     <p>{{product_fields.additional_fields.product_summary}}</p>
                </div>
                <div class="product-card-category">
                    <span>{{category}}</span>
                </div>
                <div class="product-card-price">
                    {{product.get_price_html}}
                </div>
            </div>
                <div class="product-card-cta">
                {% if product.get_type == "simple" %}
                    <span>VIEW PRODUCT</span>
                {% else %}
                    <span>SELECT COLOUR</span>
                {% endif %}
                </div>
            </div>
        </div>
    </a>
</li>
{% endfor %}