{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/elite/static/job.css" type="text/css" media="screen" />
<div class="job">
    <div class="job-hero">
        <div class="job-hero-inner container">
            <div class="left">
                <h5>{{category.name}}</h5>
                <h1>{{ post.title }}</h5>
                <span class="date">{{translateString('published on', 'elite')}} {{post.date}}</span>
            </div>
        </div>
    </div>
    <div class="job-body-inner container">
        <div class="job-content">
            <h4>Job Description</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra magna ac placerat vestibulum lectus. Est ultricies integer quis auctor elit sed vulputate. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue. Cras sed felis eget velit aliquet. Tempor nec feugiat nisl pretium fusce id velit.</p>
            <h4>Key Responsibilities</h4>
            <ul>
                <li>Lorem ipsum dolor</li>
                <li>sit amet</li>
                <li>Nulla facilisi nullam vehicula</li>
                <li>Est ultricies integer</li>
            </ul>
            <h4>Why EliteGarden</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra magna ac placerat vestibulum lectus. Est ultricies integer quis auctor elit sed vulputate. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue. Cras sed felis eget velit aliquet. Tempor nec feugiat nisl pretium fusce id velit. Sagittis vitae et Leo duis ut diam quam nulla. Nunc faucibus a pellentesque sit amet porttitor. Faucibus in ornare quam viverra orci sagittis eu volutpat odio. Euismod lacinia at quis risus sed. Condimentum lacinia quis vel eros donec ac odio tempor.</p>
        </div>
        <div class="job-related">
            <h4>Related Jobs</h4>
                <ul class="jobs fade-up">
                    {% for job in jobs %}
                    {% set job_data = fn('get_field', 'data', job) %}
                    <li class="job">
                        <a class="inner" href="{{job.link}}">
                            <div class="job-loc">
                                <div class="location">{{job_data.location}}</div>
                            </div>
                            <div class="job-title">
                                <div class="title">{{job.title}}</div>
                                <div class="arrow"></div>
                            </div>
                            <div class="job-desc">
                                <p>{{job_data.short_description}}</p>
                            </div>
                            <div class="job-cta">Learn More</div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>

<section class="cta-contact">
    <div class="bot" style="--bg-color:#003572;--bg-img:url('/wp-content/themes/elite/blocks/cta-contact-form/bg-one.png');">
        <div class="container">
            <div class="left">
                <h2>Apply Now</h2>
               {{fn('do_shortcode', '[contact-form-7 id="3131" title="Job Application"]')}}
            </div>
        </div>
    </div>
</section>

<script>
var fancyButton = document.querySelector('.btn-file');
var fancyLabel = document.querySelector('.file-selected .value');
var uploadButton = document.querySelector('#cv-upload');


fancyButton.addEventListener('click', function(e){
    document.querySelector('#cv-upload').click();;
})

uploadButton.addEventListener('change', function(e){
    var fileList = e.srcElement.files;
    if(fileList.length > 0) {
        fancyLabel.innerHTML = fileList[0].name;
    }
})

</script>
{% endblock %}