{% extends "base.twig" %}

{% block content %}

<link rel="stylesheet" href="/wp-content/themes/elite/static/product.css" type="text/css" media="screen" />

{% if product.get_type == "variable" %}
    {% set product_data = _ims_get_product_info_variable(post) %}
    {% set product_variations =  ims_get_product_variation_data(product.get_available_variations) %}
{% endif %}
{% if product.get_type == "simple" %}
    {% set product_data = _ims_get_product_info_simple(post) %}
{% endif %}
<div class="product-single">
    <div class="top">
        <div class="container">
            <a class="return-to-shop" href="/shop">Return to shop</a>
        </div>
    </div>
    <div class="notice-wrapper">
        <div class="container">
            {% include "add-to-cart-notification.twig" with {'product_data': product_data } %}
        </div>
    </div>
    <div class="product-info">
        <div class="product-info-wrapper container">
            <div class="left">
                <ul class="rl thumb">
                    {% for item in product_data.images %}
                    {% if item|length > 0 %}
                    <li>
                        <a target="imgBox">
                            <img src="https://aonndpeydo.cloudimg.io/v7/{{item}}?func=cropfit&w=96&h=64&bg_colour=transparent" data-desktop="https://aonndpeydo.cloudimg.io/v7/{{item}}?func=cropfit&w=505&h=425&bg_colour=transparent" data-mobile="https://aonndpeydo.cloudimg.io/v7/{{item}}?func=cropfit&h=450&w=450&bg_colour=transparent" alt="Product Image" height="64" width="96">
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% for item in product_data.variation_images %}
                    {% for k, v in item %}
                    {% if v|length > 0 %}
                    <li>
                        <a target="imgBox">
                        <picture>
                            <img src="https://aonndpeydo.cloudimg.io/v7/{{v}}?func=cropfit&w=505&h=425&bg_colour=transparent" data-desktop="https://aonndpeydo.cloudimg.io/v7/{{v}}?func=cropfit&w=505&h=425&bg_colour=transparent" data-mobile="https://aonndpeydo.cloudimg.io/v7/{{v}}?func=cropfit&h=450&w=450&bg_colour=transparent" data-variation="{{k}}" alt="Product Image" height="64" width="96">
                        </picture>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
                <div class="imgBox">
                    <picture>
                    {% if product_data.images[0]|length > 0 %}
                    <img src="https://aonndpeydo.cloudimg.io/v7/{{product_data.images[0]}}?func=cropfit&w=505&h=425&bg_colour=transparent" alt="Product image">
                    {% endif %}
                    </picture>
                </div>
            
            </div>
            <div class="right">
                <div class="product-box">
                    <div class="woo">
                    {% do action('woocommerce_single_product_summary') %}
                    </div>
                    <div class="product-price">
                        <h2>{{ product.get_price_html }} <span class="product-price-label">{{fields.additional_fields.price}}</span></h2>
                    </div>
                    <p style="margin:0;">{{translateString('All prices inclusive of VAT', 'elite')}}</p>
                    <div class="product-desc">
                        <p>{{post.post_excerpt}}</p>
                    </div>
                    {% if fields.additional_fields.add_technical_specifications %}
                    <div class="product-spec">
                        <div class="product-spec-title" onclick="this.parentNode.classList.toggle('active');">
                            {{fields.additional_fields.custom_title}}
                        </div>
                        <div class="product-spec-body">
                            <ul class="rl">
                        {% for item in fields.additional_fields.items %}
                            <li class="product-spec-single">
                                <div class="product-spec-label">{{item.title}}</div>
                                <div class="product-spec-value">{{item.value}}</div>
                            </li>
                        {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if product.get_type == "variable" %}
                    {% if fn('in_array', 'attribute_pa_colour', product_variations['attributes']) %}
                    <div class="product-attributes">
                        <div class="product-attributes-title">
                            Choose your colour:
                        </div>
                        <div class="product-attributes-body">
                            <div class="product-attributes-inner">
                            {% for k,v in product_variations['attr_values'] %}
                                {% if loop.first %}
                                <div class="swatch"><div class="inner {{k}}"></div></div>
                                <div class="name"><span>{{k|replace({'-': " "})}}</span></div>
                                {% endif %}
                            {% endfor %}
                                <div class="chevron"><span></span></div>
                            </div>
                            <div class="product-attributes-options">
                            {% for k,v in product_variations['attr_values'] %}
                                <div class="product-attributes-option swatch" onclick="toggleSwatch('{{k}}', '{{v}}')"><div class="inner {{k}}"></div></div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if fields.additional_fields.flexible_content|length > 0 %}
                    <div class="product-flex">
                    {% for flexible_content in fields.additional_fields.flexible_content %}
                        {% include flexible_content.acf_fc_layout with {'data': flexible_content.data} %}
                    {% endfor %}
                    </div>
                    {% endif %}


                    
                    <div class="product-cta">
                        <form class="product-form" action="{{ fn('get_permalink') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="product_id" id="product_id" value="{{product.get_id}}">
                            <input type="hidden" name="add-to-cart" value="{{post.id}}">
                        {% if product.get_type == "variable" %}
                            {% for k,v in product_variations['attr_values'] %}
                                {% if loop.first %}
                                <input type="hidden" name="variation_id" class="variation-id" value="{{v}}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                            <div class="product-form-wrapper">
                                <div class="product-qty">
                                    <div class="qty-c df ai-c jc-c">
                                        <span class="ns ta-c tc-p4" onclick="document.querySelector('.product-qty .input-text.qty').stepDown();syncQty();">-</span>
                                        <div class="quantity">
                                            <label class="screen-reader-text" for="quantity_product">{{item.title}} quantity</label>
                                            <input type="number" id="quantity_product" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" placeholder="" inputmode="numeric" autocomplete="off">
                                        </div>
                                        <span class="ns ta-c tc-p4" onclick="document.querySelector('.product-qty .input-text.qty').stepUp();syncQty();">+</span>
                                    </div>
                                </div>
                                <div class="product-cta-atc">
                                    <button type="submit" class="atc">Add to basket</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if related_products|length > 0 %}
    <div class="product-recommendations">
        <div class="container">
            <div class="title">
                <h4>You May Also Like</h4>
            </div>
            <div class="wrapper">
            {% for item in related_products %}
                 <div class="related-item">{% include ['product-card-related.twig'] with {'product': item} %}</div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
{% if product.get_type == "variable" %}
    {% for k,v in product_variations['attr_values'] %}
    {% if loop.first %}
    window.colorAttribute = "{{k|replace({'-': " "})}}";
    {% endif %}
    {% endfor %}
{% endif %}

// Product Gallery
let thumbnail = document.querySelectorAll('.thumb a');

let box = document.querySelectorAll('.imgBox img');

thumbnail.forEach(thumbnail => thumbnail.addEventListener('mouseover', (event) => {
    event.preventDefault()
    let element = event.target
    box.forEach(box =>  {
        box.setAttribute('src', element.dataset.desktop);
        if(screen.width > 1023) {
            box.setAttribute('src', element.dataset.desktop);
        } else {
            box.setAttribute('src', element.dataset.mobile);
        }
        })
    }));
    if(screen.width < 1024) {
        document.querySelector('.product-attributes-body').addEventListener('click', function(e) {
            document.querySelector('.product-attributes-body').classList.toggle('active');
        });
    }

    function toggleSwatch(color, id) {
        window.colorAttribute = color.replace('-', ' ');
        document.querySelector('.variation-id').value = id;
        document.querySelector('.swatch .inner').className = 'inner';
        document.querySelector('.swatch .inner').classList.add(color);
        document.querySelector('.name span').innerHTML = color.replace('-', ' ');

        box.forEach(box => {
            if(screen.width > 1023) {
                box.setAttribute('src', document.querySelector('[data-variation="' + color + '"]').dataset.desktop);
            } else {
                box.setAttribute('src', document.querySelector('[data-variation="' + color + '"]').dataset.mobile);
            }
        });
    }

    function syncQty() {
        document.querySelector('form.cart .quantity input').value = document.querySelector('#quantity_product').value;
    }

    function getProductId() {
        if ({% if product.get_type == "variable" %}true{% else %}false{% endif %}) {
            return  document.querySelector('.variation-id').value;
        } else {
            return  document.querySelector('#product_id').value;
        }
    }

    function getProductQty() {
        return  document.querySelector('form.cart .quantity input').value;
    }

    document.querySelector('.product-cta-atc button').addEventListener('click', function(e) {
        e.preventDefault();
        ajaxAtc();
    });

    function ajaxAtc() {
        document.querySelector('.product-cta-atc button').classList.add('loading');
        const nonce = "{{ fn('wp_create_nonce', 'wc_store_api')}}";

        const data = { id: getProductId(), quantity: getProductQty() };

        const headers = { "X-WC-Store-API-Nonce": nonce, "Content-Type": "application/json"};

        fetch("{{fn('get_site_url')}}/wp-json/wc/store/cart/items", { 
            "method": "POST",
            "headers": headers,
            "body": JSON.stringify(data)
        })
        .then(response => response.text())
        .then((response) => {
        //    console.log(response);
        })
        .then((text) => {
            loadAlert();
            loadCart();
        })
        .catch((err) => {
            console.error(err);
        });
    }

    {# function getCart() {
        const nonce = "{{ fn('wp_create_nonce', 'wc_store_api')}}";

        const headers = { "X-WC-Store-API-Nonce": nonce, "Content-Type": "application/json"};

        fetch("{{fn('get_site_url')}}5/wp-json/wc/store/cart", { 
            "method": "GET",
            "headers": headers
        })
        .then((response) => response.json())
        .then((data) => console.log(data))
        .catch((err) => {
            console.error(err);
        });
    } #}

    function updateAtcBox(str) {
        data = JSON.parse(str);
        console.log('data', typeof data);
        document.querySelector('.notice-qty .value').innerHTML =  data['qty'];

        document.querySelector('.notice-price .value').innerHTML =  data['price'].toFixed(2);

        if ({% if product.get_type == "variable" %}true{% else %}false{% endif %}) {
            document.querySelector('.notice-colour .value').innerHTML =  window.colorAttribute;
        }
        document.querySelector('.notice-atc').classList.toggle('active');
        document.querySelector('.product-info').classList.toggle('inactive');
    }

    function execAjaxScripts(el) {
        let arr = el.getElementsByTagName('script')
        for (var n = 0; n < arr.length; n++) {
            eval(arr[n].innerHTML);
        }
    }
    
    function loadCart() {
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_cart_ajax", {
            method: "GET",
            credentials: 'same-origin',
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                document.querySelector('.minicart-holder').innerHTML = data;
                execAjaxScripts(document.querySelector('.header-minicart '));
            })
            .catch(function (error) {
                console.error("Error:", error);
            });

    }

    function loadAlert() {
        let data = new FormData();
        data.append('product_id', getProductId());
        data.append('qty', getProductQty());
        
        fetch("{{fn("admin_url", "admin-ajax.php")}}?action=ims_get_atc_alert", {
            method: "POST",
            credentials: 'same-origin',
            body: data
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                updateAtcBox(data);
            })
            .catch(function (error) {
                console.error("Error:", error);
            });

    }
</script>
{% endblock %}
