.pso {
    &-top {
        h2 {
            color:white;
            @include from_until(1024) {
                text-align: right;
                border-right: 5px solid #327B3C;
                padding-right: 35px;
            }
        }
        p {
            color:white;
            font-size: 20px;
            line-height: 32px;
        }
    }
    &-item {
        h4 {
            margin-bottom: 0;
        }
    }
}

.pso {
    &-top {
        position: relative;
        &:before {
            background: var(--bg-img) var(--bg);
            background-repeat: no-repeat;
            background-position: right;
            content:"";
            position: absolute;
            top:0;
            bottom:-130px;
            lefT:0;
            right:0;
            z-index: 1;
        }
        &-inner {
            position: relative;
            z-index: 2;
            padding-top: 30px;
            @include from_until(0,1023) {
                padding-left: 35px;
                padding-right: 35px;
            }
            @include from_until(1024) {
                padding-top: 50px;
                padding-bottom: 25px;
                justify-content: center;
                display: flex;
            }
        }
        .left {
            @include from_until(1024) {
                flex: 0 0 350px;
                margin-right: 35px;
            }
        }
        .right {
            @include from_until(1024) {
                flex: 0 0 660px;
            }
        }
    }
    &-list {
        background:var(--bg);
        padding-bottom: 25px;
        &-inner {
            z-index: 2;
            position: relative;
            background:white;
            box-shadow: 0px 3px 10px rgba(119, 119, 119, 0.1);
            border-radius: 3px;
            @include from_until(0,1023) {
                margin:20px;
            }
            @include from_until(1024) {
                padding: 0;
                display:flex;
                max-width: 85%;
            }
            @include from_until(1440) {
                max-width: 65%;
            }
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 615px;
        padding: 15px;
        @include from_until(1024) {
            flex:0 0 50%;
            padding: 30px;
        }
        li {
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
        }
        ul {
            margin:0;
            padding-left: 20px;
        }
    }
    &-btn {
        padding-top: 35px;
        padding-left: 15px;
    }
    &-image {
        position:relative;
        img {
            @include from_until(0,1023) {
                height: 216px;
                object-fit: cover;
            }
        }
    }
    &-overlay {
        background: var(--bg);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include from_until(0,1023) {
            height:45px;
        }
        img {
            display: block;
            @include from_until(0,1023) {
                height: 14px;
                margin-top: 15px;
                margin-left: 25px;
            }
            @include from_until(1024) {
                padding: 27.4px 45px;
            }
        }
    }
}



