{% if is_preview %}
<div class="preview" data-block-name="product-showcase-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block pso" data-block-name="product-showcase-one">
    <div class="pso-inner" style="--bg:url({{local_path}}/bg-one.png);">
        <div class="pso-top" style="--bg:{{fields.background_color}};--bg-img:url({{local_path}}/bg-one.png);">
            <div class="pso-top-inner container">
                <div class="left"><h2>{{fields.title}}</h2></div>
                <div class="right">{{fields.content}}</div>
            </div>
        </div>

        <div class="pso-list" style="--bg:{{fields.secondary_background_color}};">
            <div class="pso-list-inner container">
                {% for product in fields.products %}
                <div class="pso-item">
                    <div class="pso-image">
                        <img src="{{product.image.url}}" alt="{{product.image.alt}}"/>
                        <div class="pso-overlay" style="--bg:{{product.logo_bg}};">
                            <img src="{{product.logo.url}}" alt="{{product.logo.alt}}"/>
                        </div>
                    </div>
                    {{product.content}}
                    <div class="pso-btn">
                        <a class="btn {{product.button.style}}" href="{{product.button.link.url}}" target="{{product.button.link.target}}">
                            <span>{{product.button.link.title}}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
