.hb3 {
    position:relative;
    @include from_until(0,1023) {
        margin-top: 0;
        padding: 50px 25px;
        padding-bottom: 100px;
    }
    &-inner {
        @include from_until(1024) {
            display:flex;
            justify-content: space-between;
        }
        .left-container,
        .right-container {
            @include from_until(1024) {
                flex: 0 0 calc(50% - 5px);
            }
        }
        .right-container {
            .slide + .slide {
                margin-top:10px;
            }
        }
    }
    * {
        color:white !important;
    }
    p {
        font-weight: 300 !important;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: var(--bg-img);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: contain;
    }
}


.slide {
    h1,
    h2,
    p {
        color:white;
        @include from_until(0,1023) {
            padding: 0 20px;
        }
        @include from_until(1024) {
            padding: 0 45px;
        }
    }
    h1,h2 {
        margin-top:0;
        @include from_until(0,1023) {
            margin-bottom: 10px;
            padding-top:20px;
        }
        @include from_until(1024) {
            margin-bottom:20px;
        }
    }
    h2 {
        max-width: 850px;
    }
    p {
        max-width: 850px;
        margin-top:0;
        font-size: 18px;
        line-height: 28px;
        @include from_until(0,1023) {
            margin-bottom: 10px;
        }
        @include from_until(1024) {
            font-size: 20px;
            line-height: 32px;
        }
    }
}


.hb3 {
    background: transparent linear-gradient(109deg, rgba(50, 123, 60, 1) 0%, rgba(28, 69, 132, 1) 100%) 0% 0% no-repeat padding-box;
    &-inner {
        flex-wrap: nowrap;
        align-items: center;

    }
    &-content {
        max-width: 850px;
        @include from_until(1024) {
            padding-top: 90px;
            padding-bottom: 200px;
        }
    }
    &-image {
        margin-top: -60px;
        @include from_until(1024) {
            margin-top: -175px;
        }
        &-inner {
            text-align: center;
            position: relative;
            @include from_until(0,1023) {
                padding: 0 25px;
            }
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        color:white;
        font-weight: 300;
        @include from_until(1024) {
            font-size: 20px;
            line-height: 32px;
        }
    }
    img {
        max-width: 1140px;
    }
}