{% if is_preview %}
<div class="preview" data-block-name="hero-block-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block hb3" data-block-name="hero-block-one" style="--bg-img:url({{local_path}}/bg-one.png);">
    <div class="hb3-inner container">
        <div class="hb3-content">
            {{fields.content}}
        </div>
    </div>
</section>
<section class="hb3-image container" data-block-name="hero-block-one">
    <div class="hb3-image-inner container">
        <img src="{{fields.hero_image.url}}" alt="{{fields.hero_image.alt}}"/>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
