.testimonial-slider {
    margin: 25px 0;
    img {
        width: 40px;
        height:30px;
    }
    .title {
        padding: 25px;
        text-align: center;
    }

    .items {
        position:relative;
        .wrapper {
        }
    }
    .controls {
        cursor:pointer;
        position:absolute;
        width:50px;
        height: 278px;
        background: #F4F4F4;
        transition: all 0.25s ease;
        &.left {
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            &:before {
                content: "\e901";
                left:0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &.right{
            right: 0;
            top: 50%;
            transform: translate(0,-50%);
            &:before {
                content: "\e900";
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &:before {
            position: absolute;
            font-family: "icomoon";
            font-size: 50px;
            color:rgba(176, 195, 227, 1);
        }
        &:hover {
            background:rgba(0, 53, 114, 1);
            &:before {
                font-family: "icomoon";
                font-size: 50px;
                color:rgba(176, 195, 227, 1);
            }
        }
    }
    .item {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 25px;
        max-width: 560px;
        margin: 25px 55px;
        transition: all 0.25s ease;
        &:not(.is-selected) {
            opacity: 0.26;
        }
    }
    .name {
        span {
            color:rgba(28, 69, 132, 1);
            font-weight: 700;
            font-size:18px;
        }
    }
    .body {
        margin: 20px 0;
        span {
            color:rgba(38, 38, 38, 1);
            font-size:16px;
            line-height: 22px;
        }
    }
}


@include screen(1024) {
    .testimonial-slider {
        .title {
            padding-bottom:0;
        }
        .body {
            span {
                font-size: 22px;
                line-height: 30px;
            }
        }
        .name {
            span {
                font-size:22px;
            }
        }
        .item {
            margin: 15px;
            padding: 25px 50px;
        }
        .controls {
            height: 301px;
        }
        .flickity-slider {
            display: flex;
            align-items: center;
        }
    }
}