{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<section class="testimonial-slider {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="title">
            {% if fields.content.title %}
            <h3>{{fields.content.title}}</h3>
            {% endif %}
        </div>
        <div class="items">
            <div class="wrapper" data-flickity='{"cellAlign":"center", "prevNextButtons":false, "pageDots":false, "wrapAround": true, "initialIndex": "1"}'>
                {{fields.content.content}}
                {% for i in 0..3 %}
                {% for item in fields.content.items %}
                <div class="item">
                    <div class="img">
                        <img src="{{local_path}}/quote.svg"/>
                    </div>
                    <div class="body">
                        <span>{{item.testimonial}}</span>
                    </div>
                    <div class="name">
                        <span>{{item.name}}</span>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="controls left" onclick="if('undefined'===typeof flkty)var flkty=new Flickity('.testimonial-slider .items .wrapper');flkty.previous();"><span></span></div>
            <div class="controls right" onclick="if('undefined'===typeof flkty)var flkty=new Flickity('.testimonial-slider .items .wrapper');flkty.next();"><span></span></div>
        </div>
    </div>
</section>
{% endblock %}