.ibo {
    background: rgba(243, 246, 249, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    &-list {
        @include from_until(0,1023) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include from_until(1024) {
            display: flex;
            justify-content: space-between;
        }
    }
    &-inner {
        @include from_until(0,1023) {
            padding:35px 0;
        }
        @include from_until(1024) {
            padding: 30px;
            max-width: 1600px;
        }
    }
    .icon-item {
        font-family: "Poppins", sans-serif !important;
        @include from_until(0,1023) {
            flex: 0 0 50%;
            min-width: 150px;
            text-align: center;
            margin-bottom: 25px;
        }
        @include from_until(1024) {
            display: flex;
            align-items: center;
        }
    }
    span {
        max-width: 180px;
        font-size: 14px;
        font-weight: bold;
        @include from_until(0,1023) {
            display:block;
            margin: auto;
        }
        @include from_until(1024) {
            padding-left: 20px;
        }
    }
}

