{% if is_preview %}
<div class="preview" data-block-name="icon-block-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block ibo" data-block-name="icon-block-one">
    <div class="ibo-inner container">
        <ul class="rl ibo-list">
            {% for icon in fields.icons %}
            <li class="icon-item">
                <img src="{{icon.icon.url}}" alt="{{icon.icon.alt}}"/>
                <span>{{icon.title}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
