.cos {
    background: rgba(243, 246, 249, 1) 0% 0% no-repeat padding-box;
    &-list {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-inner {
        @include from_until(0,1023) {
            padding: 10px 35px;
        }
        @include from_until(1024) {
            padding: 30px;
        }
    }
    .container {
        max-width: 1130px;
    }
    .icon-item {
        @include from_until(0,1023) {
            flex: 0 0 45%;
        }
    }
    span {
        max-width: 180px;
        font-size: 14px;
        padding: 15px 0;
        display: block;
        @include from_until(0,1023) {
            display:block;
            margin: auto;
        }
        @include from_until(1024) {
            padding: 25px 0;
        }
    }
}

.cos {
    &-inner {
        @include from_until(1024) {
            display:flex;
        }
        .left,
        .right {
            flex:0 0 50%;
        }
        .right {
            @include from_until(1024) {
                padding-left: 3.5vw;
            }
            ul {
                list-style: none;
                padding:0;
                margin:0;
                li {
                    font-size: 16px;
                    line-height: 24px;
                    padding-bottom: 5px;
                    &:not(:last-child) {
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
    }
    .color {
        background:var(--color);
        border-radius: 3px;
        height:125px;
        width:100%;
        border: 1px solid #707070;
    }
    .icon-item {
        @include from_until(1024) {
            flex: 0 0 24%;
            max-width: 24%;
        }
    }
}

