{% if is_preview %}
<div class="preview" data-block-name="color-showcase">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cos" data-block-name="color-showcase">
    <div class="cos-inner container">
        <div class="left">
            <h3>{{fields.left_title}}</h3>
            <ul class="rl cos-list">
                {% for color in fields.colors %}
                <li class="icon-item">
                    <div class="color" style="--color:{{color.code}};"></div>
                    <span>{{color.name}}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="cos-btn hide-desktop hide-mobile">
                <a class="btn {{fields.button_one.style}}" href="{{fields.button_one.link.url}}" target="{{fields.button_one.link.target}}">
                    <span>{{fields.button_one.link.title}}</span>
                </a>
                <a class="btn {{fields.button_two.style}}" href="{{fields.button_two.link.url}}" target="{{fields.button_two.link.target}}">
                    <span>{{fields.button_two.link.title}}</span>
                </a>
            </div>
        </div>
        <div class="right">
            <h3>{{fields.right_title}}</h3>
            {{fields.content}}
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
