.resources-boxes  {
    margin: 30px 0;
    padding:0 25px;
    .box {
        display:block;
        position:relative;
        &-image {
            position:relative;
            &:before {
                content:"";
                top:0;
                bottom:0;
                left:0;
                right:0;
                position:absolute;
                border-radius: 20px;
                background: linear-gradient(180deg, rgba(153,174,199,0.5186449579831933) 0%, rgba(0,53,114,1) 100%);
            }
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &-body {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-name {
            color: white;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            font-weight: 700;
        }
        & + .box {
            margin-top:20px;
        }
    }
}

@include screen(1024) {
    .resources-boxes {
        margin: 60px 0;
        padding:0;
        .boxes {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:40px;
        }
        .box {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                flex:0 0 calc(33.33% - 30px);
                max-width: 480px;
            }
            &:nth-child(4),
            &:nth-child(5) {
                flex:0 0 calc(50% - 30px);
                max-width: 740px;
            }
            & + .box {
                margin-top:0px;
            }
        }
    }
}