{% extends "block-base.twig" %}

{% block content %}
<section class="resources-boxes {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <h3>{{fields.content.title}}</h3>
        </div>
        <div class="boxes">
        {% for box in fields.content.boxes %}
            <a class="box" href="{{box.link.url}}">
                <div class="box-image">
                    {{imageElement(box.image)}}
                </div>
                <div class="box-body">
                    <div class="box-name">{{box.link.title}}</div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}