{% if is_preview %}
<div class="preview" data-block-name="cta-block-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block ctbo" data-block-name="cta-block-one" style="--bg:url({{local_path}}/bg-one.png);">
    <div class="ctbo-inner container">
        <div class="left">
            {{fields.content}}
            <div class="ctbo-btn">
                <a class="btn {{fields.button.style}}" href="{{fields.button.link.url}}" target="{{fields.button.link.target}}">
                    <span>{{fields.button.link.title}}</span>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="ctbo-cards">
                <h4>{{fields.countdown.title}}</h4>
                <div class="countdown-wrapper">
                    <ul id="countdown" class="countdown">
                        <li class="countdown-item">
                            <div class="countdown-counter" id="days">43</div>
                            <div class="countdown-label"><span>days</span></div>
                        </li>
                        <li class="countdown-item">
                            <div class="countdown-counter" id="hours">43</div>
                            <div class="countdown-label"><span>hours</span></div>
                        </li>
                        <li class="countdown-item">
                            <div class="countdown-counter" id="minutes">43</div>
                            <div class="countdown-label"><span>minutes</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
<script>
var countDownDate = new Date("{{fields.countdown.date}}").getTime();

var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  document.querySelector('#days').innerHTML = days;
  document.querySelector('#hours').innerHTML = hours;
  document.querySelector('#minutes').innerHTML = minutes;

  if (distance < 0) {clearInterval(x);document.getElementById("countdown").innerHTML = "EXPIRED";}},1000);

</script>