.sfb {
    background:#F3F6F9;
    .container-custom {
        max-width: 1536px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrapper {
        display:flex;
        padding: 10vh 0;
    }
    .builder {
        flex-grow: 1;
        h2 {
            color:white;
            line-height: 1;
            margin: 0;
        }
        h3 {
            color:#003572;
            margin: 0;
            line-height: 1;
        }
        p {
            margin-top: 10px;
        }
        .inner {
            padding: 3.5vh 4vw;
            background: white;
            border-left: 1px solid rgba(28, 69, 132, 1);
            border-right: 1px solid rgba(28, 69, 132, 1);
        }
        &-section {
            opacity: 0.5;
            & + .builder-section {
                margin-top:45px;
            }
            &.active {
                opacity:1;
                .builder-body {
                    max-height:10000px;
                }
            }
        }
        &-head {
            display:flex;
        }
        &-title {
            background:#1C4584;
            padding: 20px;
            flex-grow: 1;
        }
        &-index {
            background:#327B3C;
            padding: 12px 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-body {
            transition: all 0.3s ease-out;
            max-height: 0;
            overflow: hidden;
        }
        &-content {
            h4 {
                color: #003572;
            }
        }
        &-next {
            cursor: pointer;
            padding: 22px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.pending {
                background:#9A9A9A;
            }
            &.ready {
                background:#1C4584;
            }
            span {
                font-weight:16px;
                color:white;
                letter-spacing: 2.4px;
                font-weight:bold;
            }
        }
    }
    .field {
        &.colour,
        &.trellis,
        &.plinth,
        &.post-cover {
            label {
                position:relative;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                height: 100%;
                &:before {
                    transition:all 0.25s ease-out;
                    cursor:pointer;
                    content: "";
                    position: absolute;
                    top: -8px;
                    bottom: -8px;
                    left: -8px;
                    right: -8px;
                    opacity:0;
                    border:3px solid #1c4584;
                    border-radius: 3px;

                }
                .corner {
                    transition:all 0.25s ease-out;
                    position: absolute;
                    top: -10px;
                    left: -6px;
                    opacity:0;
                    .path-1 {
                        &:before {
                            font-family: "icomoon";
                            content: "\e90c";
                            color: #1c4584;
                            font-size: 40px;
                        }
                    }
                    .path-2 {
                        &:before {
                            font-family: "icomoon";
                            content: "\e90d";
                            color: #fff;
                            margin-left: -0.9em;
                            font-size: 40px;
                        }
                    }
                }
            }
            input:checked + label {
                .corner,
                &:before {
                    opacity:1;
                }
            }
        }

        &.colour {
            margin: 25px 0;
            display: flex;
            flex-wrap: wrap;
            input[type="radio"] {
                display:none;
            }
            .colour-option {
                border-radius: 7px;
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
                width: fit-content;
                margin-bottom: 30px;
                &:not(:last-child) {
                    margin-right:30px;
                }
            }
            .label-colour {
                cursor: pointer;
                height:150px;
                width:150px;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                &.buttermilk-cream{
                    background:#F4E0C1;
                }
                &.anthracite {
                    background:#383e42;
                }
                &.goosewing-grey {
                    background:#B8B5AA;
                }
                &.merlin-grey {
                    background:#697376;
                }
                &.olive-green {
                    background:#605F50;
                }
            }
            .label-title {
                cursor: pointer;
                text-align: center;
                font-weight:600;
                font-size:14px;
                line-height:1.2;
                color:#1C4584;
                flex-grow: 1;
                min-height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .name {
                    margin-top: 5px;
                }
                .price {
                    font-size: 12px;
                    line-height: 1;
                    color: #8e8e8e;
                    margin-top: 5px;
                    padding-bottom: 10px;
                }
            }
        }

        &.trellis,
        &.plinth,
        &.post-cover {
            margin: 25px 0;
            display: flex;
            input[type="radio"] {
                display:none;
            }
            .field-option {
                border-radius: 7px;
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
                width: fit-content;
                background: rgba(248, 248, 248, 1);
                flex: 0 0 149px;
                &:not(:last-child) {
                    margin-right:30px;
                }
                &.nothanks {
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 187px;
                        width: 149px;
                    }
                    .text {
                        font-weight: 600;
                        color: rgba(136, 136, 136, 1);
                    }
                }
            }
            .label-body {
                cursor: pointer;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                img {
                    display:block;
                    max-width: 149px;
                    height: 135px;
                    object-fit: cover;
                }
            }
            .label-title {
                cursor: pointer;
                text-align: center;
                font-weight:600;
                font-size:14px;
                line-height:1.2;
                color:#1C4584;
                background: white;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                padding: 0 5px;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                .name {
                    margin-top: 5px;
                }
                .price {
                    font-size: 12px;
                    line-height: 1;
                    color: rgba(142, 142, 142, 1);
                    margin-top: 5px;
                }
            }
        }

        &.height,
        &.length {
            position:relative;
            max-width: 286px;
            input {
                -moz-appearance: textfield;
                position: absolute;
                left: 0;
                z-index: 1;
                text-align: end;
                border:0;
                border-bottom: 3px solid rgba(0, 53, 114, 1);
                outline:none;
                font-size: 16px;
                font-family: "Poppins", sans-serif;
                padding-left: 125px;
                padding-right: 80px;
                padding-top: 10px;
                padding-bottom: 10px;
                color:rgba(0, 53, 114, 1);
                &::placeholder {
                    color:rgba(0, 53, 114, 1);
                }
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            label {
                position: relative;
                font-size: 24px;
                line-height: 30px;
                color: #003572;
                font-weight: 600;
                padding-left: 20px;
                z-index:2;
                &:before {
                    font-family: "icomoon";
                    content: "\e90e";
                    color: #1c4584;
                    font-size:13px;
                    position: absolute;
                    left: 0;
                }
            }
            &.meter {
                &:after {
                    position:absolute;
                    content:"Meters";
                    z-index: 2;
                    right:15px;
                    top: 10px;
                    color:rgba(0, 53, 114, 1);
                }
            }
            &.feet {
                &:after {
                    position:absolute;
                    content:"Feet";
                    z-index: 2;
                    right:15px;
                    top: 10px;
                    color:rgba(0, 53, 114, 1);
                }
            }
            
        }

        &.unit {
            display: flex;
            align-items: center;
            .label {
                font-size:14px;
                margin-right: 10px;
            }
            .fields {
                display:flex;
            }
            label {
                display:block;
                padding: 10px 25px;
                cursor:pointer;
                min-width: 108px;
                text-align: center;
                background:rgba(230, 230, 230, 1);
                box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.16);
            }
            .unit-inner {
                font-size:14px;
            }
            input {
                display:none;
                &:checked + label {
                    background:rgba(50, 123, 60, 1);
                    .unit-inner {
                        color:rgba(255, 255, 255, 1);
                    }
                }
            }

        }

        & + .field {
            &:not(:first-child) {
                margin-top:25px;
            }
        }
    }
    .sidebar {
        position: sticky;
        width: 450px;
        @include screen(1024) {
            top:100px;
            width: 450px;
        }
        h2 {
            color:white;
            margin:0;
        }
        h5 {
            color:white;
            margin:0;
        }
        &-holder {
            flex: 0 0 450px;
            max-width: 450px;
            margin-left: 1.7vw;
        }
        &-head {
            background:rgba(28, 69, 132, 1);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 35px;
            text-align: center;
        }
        &-body {
            border-left: 1px solid rgba(28, 69, 132, 1);
            border-right: 1px solid rgba(28, 69, 132, 1);
            background:white;
            padding: 4vh 2vw;
        }
        &-cta {
            cursor:pointer;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 20px;
            text-align: center;
            background:rgba(28, 69, 132, 1);
            &.incomplete {
                background:#9A9A9A;
            }
        }
        &-item {
            &-title {
                font-size: 20px;
                font-weight: 600;
                color:rgba(0, 53, 114, 1);
            }
            &-value {
                .placeholder {
                    color:rgba(0, 0, 0, 0.45);
                    &.hide {
                        display:none;
                    }
                }
                .real-value {
                    text-transform: capitalize;
                    font-size: 18px;
                    font-weight: 600;
                }
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
            &:not(:first-child) {
                margin-top: 2.4vh;
            }
        }
    }
}

@include screen(0, 360) {
    .sfb {
        p {
            font-size:14px;
        }
        .field.unit label {
            padding: 10px 15px;
            min-width: 80px;
        }
    }
}

@include screen(0, 768) {
    .sfb {
        h2 {
            font-size: 24px;
        }
        .sidebar {
            position:relative;
            width: 100%;
            &-holder {
                margin-left:0;
                margin-top:25px;
                flex:1;
                max-width: unset;
            }
        }
        .wrapper {
            flex-direction: column;
        }
        .field {
            &.colour {
                flex-wrap: wrap;
            }
            &.trellis {
                flex-wrap: wrap;
                justify-content: space-between;
                .field-option {
                    flex: 0 0 47.5%;
                    max-width: 47.5%;
                    margin-right:0 !important;
                    margin-bottom: 15px;
                }
            }
            &.plinth {
                flex-wrap: wrap;
                justify-content: space-between;
                .field-option {
                    flex: 0 0 47.5%;
                    max-width: 47.5%;
                    margin-right:0 !important;
                    margin-bottom: 15px;
                }
            }
            &.post-cover {
                flex-wrap: wrap;
                justify-content: space-between;
                .field-option {
                    flex: 0 0 47.5%;
                    max-width: 47.5%;
                    margin-right:0 !important;
                    margin-bottom: 15px;
                }
            }
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            &-option {
                label {
                    display: block;
                    width: 100% !important;
                }
            }
        }
        .colour-option {
            margin-right: 0 !important;
            width:100% !important;
            margin-bottom: 10px;
        }
        .label-colour {
            width: 100% !important;
        }
    }
}

.sfb {
    &.noprice {
        .price {
            display:none;
        }
    }
}

.woocommerce-notices-outer {
    background:#F3F6F9;
    padding: 10px 0;
    margin-bottom: -75px;
}
.woocommerce-notices-wrapper {
    li {
        font-weight: 500;
    }
    &:not(.active) {
        display:none;
    }
}