.hb5 {
    position:relative;
    @include from_until(0,1023) {
        margin-top: 0;
        padding: 50px 25px;
        padding-bottom: 100px;
    }
    &-inner {
        @include from_until(1024) {
            display:flex;
            justify-content: space-between;
        }
        .left-container,
        .right-container {
            @include from_until(1024) {
                flex: 0 0 calc(50% - 5px);
            }
        }
        .right-container {
            .slide + .slide {
                margin-top:10px;
            }
        }
    }
    * {
        color:white !important;
    }
    p {
        font-weight: 300 !important;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: var(--bg-img);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: top;
        background-size: contain;
    }
}


.hb5 {
    background: transparent linear-gradient(109deg, rgba(50, 123, 60, 1) 0%, rgba(28, 69, 132, 1) 100%) 0% 0% no-repeat padding-box;
    &-inner {
        flex-wrap: nowrap;
        align-items: center;

    }
    &-content {
        max-width: 850px;
        @include from_until(1024) {
            padding: 100px 0;
            position: relative;
            z-index: 2;
        }
    }
    &-image {
        margin-top: -60px;
        @include from_until(1024) {
            margin-top: -175px;
        }
        &-inner {
            text-align: center;
            position: relative;
            @include from_until(0,1023) {
                padding: 0 25px;
            }
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        color:white;
        font-weight: 300;
        @include from_until(1024) {
            font-size: 20px;
            line-height: 32px;
        }
    }
    h1,h2,h3, h4, h5 {
        @include from_until(1024) {
            margin:0;
        }
    }
    img {
        max-width: 1140px;
    }
}