{% extends "block-base.twig" %}

{% block content %}

<section class="block hb5" data-block-name="hero-block-one" style="--bg-img:url({{local_path}}/bg-one.png);">
    <div class="hb5-inner container">
        <div class="hb5-content">
            {{fields.content.content}}
        </div>
    </div>
</section>

{% endblock %}