.cta5 {
    h3,
    p {
        color:white;
    }
    h3 {
        margin:0;
    }
    .inner {
        padding: 25px;
        position: relative;
        text-align: center;
        &:before {
            content: "";
            background: #327B3C;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            max-width: 1230px;
            z-index: -1;
        }
    }
    .left {
        margin-bottom: 25px;
    }
    .right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .btn {
        margin: auto;
    }

}

@include screen(1200) {
    .cta5 {
        margin: 15px;
        .container {
            padding:0;
        }
        .inner {
            display:flex;
            padding: 30px 60px;
            align-items: center;
            justify-content: space-between;
            text-align: left;
        }
        .left {
            max-width: 600px;
            margin-bottom: 0;
        }
        .right {
            display:flex;
            margin-right: -50px;
        }
        .one {
            margin-right: 8px;
        }
        .btn {
            width: 100%;
        }
    }
}