{% extends "block-base.twig" %}

{% block content %}
<section class="cta5 {{block.className}}" {{blockSection(block)}} style="--bg:url('{{fields.content.background_image.url}}')">
    <div class="container">
        <div class="inner">
            <div class="left">
                <div class="cta5-text">
                    <div class="center">
                        {{fields.content.content}}
                    </div>
                </div>
                <div class="cta5-btn">
                    <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}">
                        <span>{{fields.content.button.link.title}}</span>
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="one">{{imageElement(fields.content.image_one)}}</div>
                <div class="two">{{imageElement(fields.content.image_two)}}</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}