.bio-cards {
    margin: 30px 0;
    padding:0 25px;
    .top {
        text-align: center;
        margin-bottom: 50px;
    }
    .card {
        &-footer {
            background:#1C4584;
            text-align: center;
            padding: 12.5px;
        }
        &-name {
            color:white;
            font-size: 20px;
            font-weight: 600;
        }
        &-position {
            color:white;
            font-size: 18px;
        }
        &-sep {
            height:4px;
            width:150px;
            background:#327B3C;
            margin: 7px auto;
        }
        img {
            display:block;
            width: 100%;
            height: auto;
        }
        & + .card {
            margin-top:15px;
        }
    }
}

@include screen(1024) {
    .bio-cards {
        margin: 60px 0;
        padding:0;
        .cards {
            display:flex;
            flex-wrap: wrap;
            gap: 35px;
            justify-content: center;
        }
        .card {
            flex:0 0 380px;
            max-width: 380px;
            & + .card {
                margin-top:15px;
            }
        }
    }
}