{% extends "block-base.twig" %}

{% block content %}
<section class="bio-cards {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <h3>{{fields.content.title}}</h3>
        </div>
        <div class="cards">
        {% for card in fields.content.cards %}
            <div class="card">
                <div class="card-image">
                    {{imageElement(card.image)}}
                </div>
                <div class="card-footer">
                    <div class="card-name">{{card.name}}</div>
                    <div class="card-sep"></div>
                    <div class="card-position">{{card.position}}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}