.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

figcaption {
  font-size: 14px;
  margin-left: 15px;
}

li {
  font-size: 16px;
}

@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

.post-hero {
  background-color: #327B3C;
  margin-bottom: 125px;
}
@media only screen and (min-width: 1024px) {
  .post-hero {
    margin-bottom: 50px;
  }
}
.post-hero-inner {
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1023px) {
  .post-hero .left {
    padding: 25px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .post-hero .left {
    flex: 0 0 400px;
  }
}
@media only screen and (min-width: 1280px) {
  .post-hero .left {
    flex: 0 0 640px;
  }
}
.post-hero .right {
  position: relative;
  height: 330px;
  margin: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .post-hero .right {
    margin: 40px;
    flex: 0 0 40%;
  }
}
.post-hero .right img {
  border-radius: 16px;
  object-fit: cover;
  display: block;
}
@media only screen and (max-width: 1023px) {
  .post-hero .right img {
    height: 465px;
    width: 465px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .post-hero .right img {
    height: 350px;
    width: 350px;
  }
}
@media only screen and (min-width: 1280px) {
  .post-hero .right img {
    height: 465px;
    width: 465px;
  }
}
@media only screen and (min-width: 1024px) {
  .post-hero .right img {
    position: absolute;
    top: 0vh;
  }
}
.post-hero .date {
  font-size: 16px;
  line-height: 24px;
}
.post-hero h1,
.post-hero h5,
.post-hero p,
.post-hero span {
  color: white;
}
.post-hero h1 {
  margin: 20px 0;
}

@media only screen and (max-width: 1023px) {
  .post-content {
    padding: 25px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .post-content {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1536px) {
  .post-content {
    max-width: 650px;
  }
}
@media only screen and (min-width: 1920px) {
  .post-content {
    max-width: 685px;
  }
}

/*# sourceMappingURL=blog.css.map */
