@charset "UTF-8";
@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

.job-hero {
  margin-bottom: 50px;
  background: #003572;
  padding: 6vw;
}
.job-hero-inner {
  display: flex;
}
.job-hero h1,
.job-hero .date {
  color: white;
}
.job-hero .left {
  max-width: 650px;
}
.job-body-inner {
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .job-body-inner {
    padding: 0;
    display: flex;
    gap: 50px;
  }
}
.job-content {
  flex-grow: 1;
}
.job-content h4 {
  color: #003572;
  font-size: 22px;
  line-height: 30px;
}
.job-content p {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1024px) {
  .job-related {
    flex: 0 0 38.5%;
    max-width: 500px;
    margin-bottom: 50px;
  }
}
.job-related .jobs {
  padding: 0;
  list-style: none;
  margin: 0;
}
.job-related h4 {
  margin-left: 3.4vw;
}

.cta-contact h2 {
  text-align: center;
}
.cta-contact .bot {
  background: #1C4584;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 25px;
  padding-top: 50px;
}
.cta-contact .bot input {
  height: 50px;
}
.cta-contact .bot textarea {
  margin: 10px 0;
}
.cta-contact .bot .btn {
  cursor: pointer;
  width: 100%;
  background-color: #e2e2e2;
}
.cta-contact .bot .btn span {
  color: #003572;
}
.cta-contact .bot .container {
  display: flex;
  flex-direction: column-reverse;
}
.cta-contact label {
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.cta-contact form p {
  margin: 0;
}
.cta-contact input,
.cta-contact textarea {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #eceef0;
  font-size: 14px;
  outline-color: #e2e2e2;
  width: 100%;
}
.cta-contact .form-submit {
  padding: 15px 25px;
}
.cta-contact .wpcf7-submit {
  display: none;
}
.cta-contact .right {
  color: white;
}
.cta-contact h2 {
  color: white;
}
.cta-contact .wpcf7-response-output {
  color: white;
}

.job-title {
  display: flex;
  justify-content: space-between;
}
.job-loc {
  margin-bottom: 6px;
}
.job-desc p {
  font-size: 16px;
  line-height: 30px;
  margin: 6px 0;
}
.job-cta {
  color: #003572;
  font-weight: 700;
  font-size: 18px;
}
.job .inner {
  padding: 2.5vh 1.8vw 2vh 3.5vw;
  display: block;
  color: #262626;
  transition: all 0.3s ease-out;
}
.job .inner .title {
  font-weight: 700;
  font-size: 18px;
  color: #003572;
  position: relative;
}
.job .inner .title:before {
  position: absolute;
  font-family: "icomoon";
  content: "";
  color: #003572;
  font-size: 20px;
  transform: rotate(270deg);
  left: -20px;
  top: -5px;
}
.job .inner .location {
  font-size: 16px;
  line-height: 30px;
}
.job .inner:hover {
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
}

@media only screen and (min-width: 1024px) {
  .job + .job {
    margin-top: 5px;
  }
  .job-desc p {
    font-size: 18px;
    line-height: 32px;
  }
  .job .inner .title {
    font-size: 24px;
  }

  .cta-contact .bot .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .cta-contact .bot .left {
    flex: 0 0 670px;
  }
  .cta-contact .bot .btn {
    max-width: 475px;
    margin: auto;
  }
  .cta-contact .form-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .cta-contact .form-left {
    margin-right: 10px;
  }
  .cta-contact textarea {
    height: 234px;
  }
}
.cobo-file {
  padding-top: 10px;
  padding-bottom: 25px;
}
.cobo-file label {
  margin-bottom: 15px;
  display: block;
}
.cobo-file-wrapper {
  background: #002C5F;
  border: 1px solid rgba(236, 238, 240, 0.42);
  border-radius: 8px;
  padding: 33px;
  text-align: center;
}
.cobo-file-wrapper .file-selected {
  color: white;
  margin-top: 10px;
}
.cobo-file-wrapper strong {
  letter-spacing: 1.4px;
}
.cobo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cobo-list .normal {
  flex: 0 0 calc(50% - 5px);
}
.cobo-actions .btn span {
  color: #327b3c;
}

.btn-file {
  display: block;
  min-width: 200px;
  width: 200px;
  padding: 16px 38px;
  transform: skewX(-20deg);
  text-align: center;
  cursor: pointer;
  background-color: white;
  border: 2px solid #327b3c;
  margin: auto;
}
.btn-file span {
  color: #327b3c;
  font-size: 14px;
  letter-spacing: 2.1px;
  font-weight: bold;
  text-transform: uppercase;
  transform: skewX(20deg);
  display: inline-block;
}

/*# sourceMappingURL=job.css.map */
