@charset "UTF-8";
@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

html.menu-open body {
  overflow: hidden !important;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

.return-to-shop {
  color: #1c4584;
  font-weight: 600;
  font-size: 16px;
  width: fit-content;
  display: block;
  padding: 20px;
}
.return-to-shop:before {
  font-family: "icomoon";
  content: "";
  color: #1c4584;
  margin-right: 5px;
  font-size: 16px;
}

.hide {
  display: none !important;
}

@media only screen and (min-width: 1024px) {
  .return-to-shop {
    color: #1c4584;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    padding: 20px 0;
  }
  .return-to-shop:before {
    font-size: 24px;
    margin-right: 5px;
  }
}
.woocommerce-cart .df {
  display: flex;
}
.woocommerce-cart .db {
  display: block;
}
.woocommerce-cart .jc-c {
  justify-content: center;
}
.woocommerce-cart .jc-s {
  justify-content: space-between;
}
.woocommerce-cart .checkout-button {
  background: #327B3C;
  color: white;
  font-weight: 600;
  letter-spacing: 2.4px;
  font-size: 16px;
  width: 100%;
}
.woocommerce-cart .coupon-code {
  border-color: #1C4584;
  border-radius: 5px;
  background: transparent;
  outline: none;
  padding-left: 45px;
  margin-right: 10px;
  height: 60px;
}
.woocommerce-cart .coupon-code::placeholder {
  font-weight: 300;
}
.woocommerce-cart .coupon-btn {
  background: #1C4584;
  border: 3px solid #1C4584;
  color: white;
  transform: skewX(0deg);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  height: 60px;
}
.woocommerce-cart .btn-t {
  background: transparent;
  border: 3px solid #327B3C;
  color: #327B3C;
  transform: skewX(0deg);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  height: 60px;
}
.woocommerce-cart .woocommerce {
  background: #F3F6F9;
  padding: 75px 0;
}
.woocommerce-cart .cart-form {
  display: flex;
  flex-direction: column-reverse;
}
.woocommerce-cart .cart-form-c {
  flex: 0 0 875px;
  max-width: 875px;
}
.woocommerce-cart .cart-form-w {
  padding: 0;
}
.woocommerce-cart .cart-collaterals .title {
  margin-bottom: 84px;
}
.woocommerce-cart .cart-collaterals th {
  padding: 20px 15px;
}
.woocommerce-cart .cart-collaterals td {
  border: none;
}
.woocommerce-cart .cart-collaterals tr {
  border: 1px solid #1c4584;
}
.woocommerce-cart .cart-collaterals tr + tr {
  border-top: none;
}
.woocommerce-cart .product-name a {
  color: #262626;
}
.woocommerce-cart .product-remove .i-remove:before {
  font-family: "icomoon";
  content: "";
  color: #1C4584;
  font-size: 20px;
}
.woocommerce-cart .product-thumbnail img {
  display: block;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.woocommerce-cart .product-quantity .qh {
  border: 1px solid rgba(28, 69, 132, 0.3);
  border-radius: 3px;
  max-width: 125px;
  height: 30px;
  align-items: center;
  margin: auto;
}
.woocommerce-cart .product-quantity .qh > span {
  flex: 0 0 30%;
  max-width: 30%;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.woocommerce-cart .product-quantity .qty {
  -moz-appearance: textfield;
  outline: none;
  background: transparent;
  width: 100%;
  text-align: center;
  border: none;
}
.woocommerce-cart .product-quantity .qty::-webkit-outer-spin-button, .woocommerce-cart .product-quantity .qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.woocommerce-cart td.product-subtotal {
  border-right: 1px solid #1C4584;
}
.woocommerce-cart td.product-remove {
  border-left: 1px solid #1C4584;
}
.woocommerce-cart .cart_item + .cart_item td {
  border-top: none;
}
.woocommerce-cart .cart-empty {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1335px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.woocommerce-cart .cart-empty p:before {
  font-size: 45px !important;
}
.woocommerce-cart .cart-empty a {
  color: #1c4584;
  font-size: 50px;
}
.woocommerce-cart small {
  display: block;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping {
  display: flex;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping td {
  max-width: 250px;
  text-align: left;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping ul {
  list-style: none;
  margin: 0;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping ul li {
  margin: 0;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping .woocommerce-shipping-methods input {
  margin-right: 5px;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping .shipping-calculator-button {
  color: #000000;
  font-size: 15px;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping .shipping-calculator-button:before {
  font-family: "icomoon";
  content: "";
  margin-right: 10px;
}
.woocommerce-cart .woocommerce-shipping-totals.shipping .shipping-calculator-form .button {
  background: #327B3C;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .cart-form-w {
    flex-direction: column;
  }
  .woocommerce-cart .cart-form-c {
    padding: 10px;
    flex: 0 0 100%;
  }
  .woocommerce-cart .cart-collaterals {
    padding: 10px;
  }
  .woocommerce-cart .cart-collaterals .title {
    margin-bottom: 0px;
  }
  .woocommerce-cart .cart-actions {
    display: block;
  }
  .woocommerce-cart .coupon {
    display: block;
  }
  .woocommerce-cart .coupon-code {
    width: 100%;
  }
  .woocommerce-cart .cart-body td {
    padding: 20px 5px;
  }
  .woocommerce-cart button {
    width: 100%;
    margin-top: 5px;
  }
  .woocommerce-cart .product-quantity {
    border-right: 1px solid #1C4584;
  }
  .woocommerce-cart .checkout-button {
    margin: auto;
  }
}
.woocommerce-form-coupon-toggle,
.checkout_coupon woocommerce-form-coupon {
  display: none;
}

.woocommerce-checkout .df {
  display: flex;
}
.woocommerce-checkout .main {
  background: #F3F6F9;
}
.woocommerce-checkout form.checkout {
  padding: 50px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1440px) {
  .woocommerce-checkout form.checkout {
    max-width: 1366px;
  }
}
.woocommerce-checkout form.checkout .co-left {
  flex: 0 0 50%;
  max-width: 50%;
}
.woocommerce-checkout form.checkout .co-right {
  flex: 0 0 43%;
  max-width: 43%;
}
.woocommerce-checkout input,
.woocommerce-checkout select {
  border: 1px solid #1C4584;
  border-radius: 8px;
  background: #F8F9FA 0% 0% no-repeat padding-box;
  width: 100%;
  height: 50px;
  font-weight: 300;
}
.woocommerce-checkout input::placeholder,
.woocommerce-checkout select::placeholder {
  color: #262626;
  font-weight: 300;
}
.woocommerce-checkout .select2-selection.select2-selection--single {
  border: 1px solid #1C4584;
  border-radius: 8px;
  background: #F8F9FA 0% 0% no-repeat padding-box;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.woocommerce-checkout textarea {
  border: 1px solid #1C4584;
  border-radius: 8px;
  background: #F8F9FA 0% 0% no-repeat padding-box;
  width: 100%;
  min-height: 100px;
  font-weight: 300;
}
.woocommerce-checkout textarea::placeholder {
  color: #262626;
  font-weight: 300;
}
.woocommerce-checkout label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}
.woocommerce-checkout .required {
  color: #C30000;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row {
  flex: 0 0 100%;
  margin: 10px 0;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row-first, .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row-last {
  flex: 0 0 47%;
}

#payment ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#payment label {
  margin: 0;
}
#payment input {
  height: unset;
  width: unset;
}
#payment #payment_method_boipa {
  display: block !important;
}
#payment .wc_payment_method.payment_method_boipa {
  display: flex;
}
#payment img {
  max-height: 50px;
  margin-left: 10px;
}

.place-order-button {
  cursor: pointer;
  background: #327b3c;
  border-radius: 3px;
  border: 1px solid #327b3c;
  color: white;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 21px;
  width: 100%;
  font-size: 16px;
}

.woocommerce-NoticeGroup {
  flex: 0 0 100%;
  max-width: 100%;
}
.woocommerce-NoticeGroup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: red;
}

@media only screen and (max-width: 1024px) {
  .woocommerce-checkout form.checkout {
    flex-wrap: wrap;
  }
  .woocommerce-checkout form.checkout .co-left {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .woocommerce-checkout form.checkout .co-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.select2-selection__arrow {
  top: unset !important;
}

#ship-to-different-address {
  font-size: 20px;
}
#ship-to-different-address .checkbox {
  display: flex;
  align-items: center;
}
#ship-to-different-address input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table {
  border: 1px solid #1C4584;
}
.woocommerce-checkout .woocommerce-checkout-review-order-table td {
  border: none;
}
.woocommerce-checkout th {
  padding: 15px;
}
.woocommerce-checkout .product-name,
.woocommerce-checkout .product-total {
  border-bottom: 0.5px solid rgba(28, 69, 132, 0.5);
}
.woocommerce-checkout .order-total th,
.woocommerce-checkout .order-total td {
  border-top: 0.5px solid rgba(28, 69, 132, 0.5);
}
.woocommerce-checkout .product-name,
.woocommerce-checkout .cart-subtotal th,
.woocommerce-checkout .shipping th,
.woocommerce-checkout .order-total th {
  text-align: left;
}
.woocommerce-checkout .product-total,
.woocommerce-checkout .cart-subtotal td,
.woocommerce-checkout .shipping td .order-total td {
  text-align: right;
}
.woocommerce-checkout .woocommerce-shipping-totals.shipping ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.woocommerce-checkout .woocommerce-shipping-totals.shipping ul li {
  margin: 0;
}
.woocommerce-checkout .woocommerce-shipping-totals.shipping input {
  height: unset;
  width: unset;
  margin-bottom: 5px;
}
.woocommerce-checkout .woocommerce-shipping-totals.shipping .woocommerce-shipping-methods li {
  display: flex;
}

.woocommerce-order-pay .main {
  background: #F3F6F9;
}
.woocommerce-order-pay .main .woocommerce {
  max-width: 90%;
  margin: auto;
  min-height: 50vh;
}
.woocommerce-order-pay ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.woocommerce-order-pay .order_details {
  padding-top: 10vh;
  text-align: center;
}
.woocommerce-order-pay form {
  text-align: center;
  margin-top: 20px;
}
.woocommerce-order-pay form .button {
  background: #327b3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.confirmation-page .woocommerce-order {
  padding: 25px 40px;
}
.confirmation-page .woocommerce-notice {
  margin-bottom: 25px;
}
.confirmation-page .woocommerce-notice .top {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.confirmation-page .woocommerce-notice .bot {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.confirmation-page .woocommerce-order-overview {
  list-style: none;
  padding: 0;
  margin: 0;
}
.confirmation-page .woocommerce-order-overview li {
  text-transform: uppercase;
}
.confirmation-page .woocommerce-order-overview strong {
  display: block;
  text-transform: none;
  margin-top: 3px;
  margin-bottom: 10px;
}
.confirmation-page .woocommerce-table {
  border: 1px solid #1C4584;
}
.confirmation-page .woocommerce-table thead {
  background: #1C4584;
  color: white;
}
.confirmation-page .woocommerce-table tfoot th {
  text-align: left;
  border-top: 1px solid #1C4584;
}
.confirmation-page .woocommerce-table tfoot td {
  text-align: right;
  border-bottom: 0;
}
.confirmation-page .woocommerce-table a {
  color: #262626;
}
.confirmation-page .col-1,
.confirmation-page .col-2 {
  max-width: unset;
  padding: 0;
}
.confirmation-page .woocommerce-column address {
  border: 1px solid #1C4584;
  padding: 20px;
  font-style: normal;
}
.confirmation-page .woocommerce-customer-details--phone {
  margin-top: 5px;
  margin-bottom: 0;
}
.confirmation-page .woocommerce-customer-details--phone:before {
  font-family: "icomoon";
  content: "";
  color: #1C4584;
  vertical-align: middle;
  margin-right: 5px;
}
.confirmation-page .woocommerce-customer-details--email {
  margin: 0;
}
.confirmation-page .woocommerce-customer-details--email:before {
  font-family: "icomoon";
  content: "";
  color: #1C4584;
  vertical-align: middle;
  margin-right: 5px;
}

@media only screen and (min-width: 1024px) {
  .confirmation-page .woocommerce-order {
    padding-top: 75px;
    display: flex;
  }
  .confirmation-page .woocommerce-order .right {
    margin-left: 7.5vw;
    flex-grow: 1;
  }
  .confirmation-page .woocommerce-order-details h2 {
    margin-top: 0;
  }
}
.woocommerce-notices-wrapper {
  max-width: 1335px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  .woocommerce-notices-wrapper {
    padding: 10px;
  }
}
.woocommerce-notices-wrapper ul {
  list-style: none;
}
.woocommerce-notices-wrapper ul li {
  margin: 0;
  padding: 0;
}
.woocommerce-notices-wrapper .woocommerce-error {
  padding: 16px;
  padding-left: 25px;
  background: white;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.woocommerce-notices-wrapper .woocommerce-error:before {
  content: "";
  background: rgba(174, 19, 33, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
}
.woocommerce-notices-wrapper .woocommerce-message {
  padding: 16px;
  padding-left: 25px;
  background: white;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.woocommerce-notices-wrapper .woocommerce-message:before {
  content: "";
  background: rgba(50, 123, 60, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
}

html {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0.7em 0;
  font-family: "Poppins", sans-serif;
  color: #262626;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 30px;
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 20px;
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 24px;
}
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-size: 20px;
}
@media only screen and (min-width: 1024px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
  font-weight: 300;
}
@media only screen and (min-width: 1024px) {
  h6 {
    font-size: 20px;
  }
}

p {
  line-height: 1.5;
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  li {
    font-size: 16px;
    line-height: 24px;
  }
}

.btn {
  display: block;
  width: max-content;
  max-width: 100%;
  min-width: 232px;
  padding: 16px 38px;
  transform: skewX(-20deg);
  text-align: center;
}
.btn-primary {
  background-color: #1c4584;
}
.btn-secondary {
  background-color: #327b3c;
}
.btn-red {
  background-color: #ae1321;
}
.btn span {
  font-size: 16px;
  color: white;
  letter-spacing: 2.4px;
  font-weight: bold;
  text-transform: uppercase;
  transform: skewX(20deg);
  display: inline-block;
}

@media only screen and (min-width: 1024px) {
  .btn {
    font-size: 22px;
  }
}
.main-logo {
  max-height: 29px;
  height: 29px;
}

.menu-link {
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.burger {
  cursor: pointer;
  height: 12px;
  width: 18px;
  top: -5px;
  right: 25px;
  transform: rotate(180deg);
  position: absolute;
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
}
.burger span {
  background-color: #1C4584;
  position: absolute;
  display: block;
  height: 2px;
  width: 18px;
  border-radius: 5px;
}
.burger span:nth-child(1) {
  top: calc(50% - 5px);
}
.burger span:nth-child(2) {
  top: calc(50% - 0px);
}
.burger span:nth-child(3) {
  top: calc(50% + 5px);
}

.nav-toggler {
  position: relative;
}

.logo-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  background: white;
}

html.menu-open .burger {
  transform: rotate(90deg);
}
html.menu-open .burger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
html.menu-open .burger span:nth-child(2) {
  opacity: 0;
}
html.menu-open .burger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.menu-container {
  transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  position: fixed;
  top: 0;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding-top: 60px;
  display: flex;
}
.menu-container .inner {
  transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  opacity: 0;
  min-width: 45px;
  background: #b8c0c7;
}
.menu-container .wrapper {
  height: 100%;
  background: white;
  flex-grow: 1;
}
.menu-container .bottom-menu-list .menu-item {
  padding: 18px 30px;
  background: white;
}
.menu-container .bottom-menu-list .menu-item .menu-link {
  color: rgba(0, 0, 0, 0.55);
}
.menu-item {
  background-color: #f3f5f8;
}
.menu-item-holder {
  padding: 18px 30px;
}
.menu-item.sub .menu-item-holder {
  display: flex;
}
.menu-item .chevron {
  height: 20px;
  width: 35px;
  text-align: center;
}
.menu-item .chevron span:before {
  transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  position: absolute;
  content: "";
  font-family: "icomoon";
  font-weight: 600;
}

@media only screen and (max-width: 1023px) {
  .menu-item:not(.open) .submenu-dholder {
    max-height: 0;
  }
  .menu-item.open {
    background-color: #1c4584;
  }
  .menu-item.open .menu-link {
    color: white;
  }
  .menu-item.open .chevron span:before {
    transform: rotate(178deg);
    color: white;
  }

  .submenu-dholder {
    overflow: hidden;
    max-height: 250px;
  }
}
.submenu-dholder {
  transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.submenu-dholder .menu-link {
  display: block;
  padding: 18px 60px;
  background: #f3f5f8;
  color: #1c4584 !important;
}

@media only screen and (max-width: 1023px) {
  html:not(.menu-open) .menu-container {
    transform: translateX(100%);
  }
  html.menu-open .menu-container .inner {
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .main-logo {
    max-height: 40px;
    height: 40px;
    width: 200px;
  }

  .menu-container {
    padding: 0;
    position: relative;
  }

  .menu-link {
    font-size: 13px;
  }

  .menu-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
  }

  .menu-list {
    display: flex;
  }

  .menu-item {
    background: white;
  }
  .menu-item.sub {
    position: relative;
  }
  .menu-item:hover .submenu-dholder {
    max-height: 500px;
  }
  .menu-item:not(:hover) .submenu-dholder {
    max-height: 0;
  }
  .menu-item .chevron {
    height: unset;
    width: unset;
    margin-left: 5px;
  }
  .menu-item-holder {
    padding: 28px 15px;
  }

  .submenu {
    text-align: center;
  }
  .submenu-dholder {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    max-height: unset;
    min-width: 250px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .submenu-dholder .menu-link {
    background: white;
    color: #1c4584;
    padding: 18px 30px;
  }
  .submenu-dholder .menu-link:hover {
    background: #1c4584;
    color: white !important;
  }

  .header-wrapper {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 5;
  }

  .header-container {
    max-width: 1485px;
    margin: auto;
  }

  .header-top {
    background: #1c4584;
    position: relative;
    z-index: 6;
  }
  .header-top .inner {
    max-width: 1485px;
    margin: auto;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header-top .menu-item {
    background: transparent;
    margin: 0 35px;
  }
  .header-top .bottom-menu-list {
    display: flex;
    justify-content: flex-end;
  }
  .header-top .menu-link {
    color: white;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }

  .menu-item.sub .menu-item-holder {
    position: relative;
  }
  .menu-item.sub .menu-item-holder:before {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    content: "";
    position: absolute;
    height: 5px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: #1c4584;
    opacity: 0;
  }
  .menu-item.sub:hover .menu-item-holder:before {
    opacity: 1;
  }
}
@media only screen and (min-width: 1281px) {
  .menu-item-holder {
    padding: 28px 30px;
  }

  .menu-link {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
    background: transparent;
    border: none;
  }
}
@media only screen and (max-width: 1023px) {
  .lang-switcher {
    padding: 0px 17px;
    margin-top: 15px;
  }

  .wpml-ls-legacy-dropdown {
    width: fit-content !important;
    max-width: 100%;
  }

  .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
    background: transparent;
    border: none;
  }

  .wpml-ls-native {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.55);
    text-transform: uppercase;
  }

  .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
    background: unset !important;
  }

  .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
    border: none;
  }

  .wpml-ls-legacy-dropdown a {
    background-color: transparent;
    border: 0;
    padding: 5px 13px;
  }

  .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    color: white;
  }

  .wpml-ls-sub-menu {
    background: white;
    width: 125px;
    left: -35px;
    right: 0;
  }

  .wpml-ls-sub-menu .wpml-ls-native {
    color: black;
  }

  .wpml-ls-sub-menu .wpml-ls-display {
    display: none;
  }

  .wpml-ls-sub-menu {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}
@media only screen and (min-width: 1024px) {
  .wpml-ls-legacy-dropdown {
    width: unset !important;
    max-width: 100%;
  }

  .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
    background: transparent;
    border: none;
  }

  .wpml-ls-native {
    color: white;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }

  .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
    color: white !important;
    background: unset !important;
  }

  .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
    border: none;
  }

  .wpml-ls-legacy-dropdown a {
    background-color: transparent;
    border: 0;
  }

  .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    color: white;
  }

  .wpml-ls-sub-menu {
    background: white;
    width: 125px;
    left: -35px;
    right: 0;
  }

  .wpml-ls-sub-menu .wpml-ls-native {
    color: black;
  }

  .wpml-ls-sub-menu .wpml-ls-display {
    display: none;
  }

  .wpml-ls-sub-menu {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}
@media only screen and (min-width: 1024px) {
  .header-minicart {
    position: relative;
  }
  .header-minicart .cart-icon:before {
    font-family: "icomoon";
    content: "";
    color: white;
    font-weight: 400;
    font-size: 17px;
  }
  .header-minicart .cart-icon:after {
    transition: all 0.3s ease-out;
    content: attr(data-text);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #C91F20;
    position: absolute;
    top: -11px;
    right: -10px;
    text-align: center;
    font-size: 10px;
    line-height: 22px;
    opacity: 0;
  }
  .header-minicart.full .cart-icon:after {
    opacity: 1;
  }

  .wcml-dropdown {
    width: 7.5em !important;
  }
  .wcml-dropdown li {
    background-color: transparent !important;
    border: none !important;
  }
  .wcml-dropdown .wcml-cs-item-toggle {
    cursor: pointer;
    color: white;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }
  .wcml-dropdown a:after {
    font-size: 18px !important;
  }

  .wcml-cs-submenu {
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-top: 1px solid #cdcdcd;
  }
  .wcml-cs-submenu a {
    font-size: 15px;
    line-height: 18px !important;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1536px) {
  .header-top .inner {
    padding: 0 25px;
  }
}
.minicart {
  border: 2px solid #1c4584;
  background: white;
  position: absolute;
  width: 575px;
  top: 60px;
  right: 0;
}
.minicart-top {
  background: rgba(28, 69, 132, 0.28);
}
.minicart-bot {
  padding: 8px;
}
.minicart-inner {
  position: relative;
}
.minicart-inner:before {
  content: "";
  font-family: "icomoon";
  color: #1c4584;
  position: absolute;
  top: -22px;
  right: 20px;
}
.minicart-outer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.minicart-closer {
  text-align: right;
  padding: 8px;
}
.minicart-closer span {
  cursor: pointer;
  display: block;
}
.minicart-closer span:before {
  color: white;
  content: "";
  font-family: "icomoon";
  display: block;
  font-size: 25px;
}
.minicart-summary {
  margin: 0 8px;
  background: #e6e6e6;
  padding: 15px 18px;
}
.minicart-line {
  display: flex;
  justify-content: space-between;
}
.minicart-line span {
  font-size: 16px;
  font-weight: 600;
  color: #003572;
}
.minicart-line + .minicart-line {
  margin-top: 15px;
}
.minicart-products {
  padding: 8px;
  max-height: 50vh;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.minicart-products::-webkit-scrollbar {
  display: none;
}
.minicart-product {
  display: flex;
  align-items: center;
}
.minicart-product-image {
  margin-right: 2vw;
}
.minicart-product-image img {
  max-width: 143px;
  max-height: 108px;
  object-fit: cover;
  display: block;
}
.minicart-product-name, .minicart-product-price {
  color: #003572;
  font-weight: 600;
  font-size: 18px;
}
.minicart-product-attr {
  font-size: 14px;
  color: rgba(38, 38, 38, 0.73);
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  margin: 10px 0;
}
.minicart-product-attr .minicart-label {
  font-weight: 500;
}
.minicart-product-colour {
  text-transform: capitalize;
}
.minicart-product-info {
  flex-grow: 1;
}
.minicart-product + .minicart-product {
  margin-top: 8px;
}
.minicart-colour {
  height: 12px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}
.minicart-colour.merlin-grey {
  background: #697376;
}
.minicart-colour.goosewing-grey {
  background: #b8b5aa;
}
.minicart-colour.olive-green {
  background: #605f50;
}
.minicart-colour.anthracite {
  background: #383e42;
}
.minicart .btn {
  transform: skewX(0deg);
  width: 100%;
}
.minicart .btn span {
  transform: skewX(0deg);
}

.header-minicart:not(.open) .minicart-holder {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .minicart-mobile {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .minicart-mobile:before {
    font-family: "icomoon";
    content: "";
    color: #1C4584;
    font-weight: 400;
    font-size: 17px;
    position: absolute;
    width: 18px;
    top: 20px;
    right: 25px;
    left: 25px;
  }
  .minicart-mobile .minicart {
    width: 100%;
    top: 60px;
    right: 0;
    left: 0;
  }
  .minicart-mobile .minicart-inner:before {
    top: -19px;
    left: 17px;
  }
  .minicart-mobile:not(.open) .minicart {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .wcml-dropdown {
    width: 8.5em !important;
  }
}
.footer-container {
  display: flex;
}
@media only screen and (max-width: 1023px) {
  .footer-container {
    flex-direction: column;
  }
}
.footer-left {
  background: #262626;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .footer-left {
    flex: 0 0 30vw;
    max-width: 680px;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-right {
    flex-direction: column;
    padding: 25px 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-right {
    margin-left: 5.5vw;
    padding: 30px;
    display: flex;
    max-width: 860px;
  }
}
.footer-cp-container {
  background: #1c4584;
  color: white;
  font-size: 12px;
  line-height: 20px;
  padding: 15px;
  display: block;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .footer-cp-container {
    text-align: left;
    font-size: 14px;
    padding-left: 38.5vw;
  }
}
.footer-logo-container {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 25px 35px;
}
@media only screen and (min-width: 1024px) {
  .footer-logo-container {
    transform: skewX(-20deg);
    background: #262626;
    padding: 20px;
    padding-left: 20vw;
    position: absolute;
    top: 0;
    bottom: -58px;
    right: -50px;
    left: -40px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo-container .img-wrapper {
    display: block;
    transform: skewX(20deg);
  }
}
@media only screen and (max-width: 1023px) {
  .footer-logo-container .img-wrapper {
    display: inline;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo-container .img-wrapper:nth-child(2) {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo-container .img-wrapper:nth-child(3) {
    padding-left: 44px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo {
    display: block;
    transform: skewX(20deg);
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-logo {
    display: block;
    margin-bottom: 20px;
  }
}
.footer-menu-container {
  display: flex;
}
@media only screen and (max-width: 1023px) {
  .footer-menu-container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-menu-container .footer-list:nth-child(1) {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-menu-container .footer-list:nth-child(3) {
    margin-top: 25px;
    width: 100%;
  }
}
.footer-icons {
  display: flex;
}

.footer-container {
  border-top: 1px solid black;
}
.footer-list {
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) {
  .footer-list {
    flex: 0 0 150px;
  }
}
.footer-title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}
.footer-link {
  padding-bottom: 10px;
}
.footer-link a {
  color: #262626;
  text-decoration: none;
}
.footer-content {
  max-width: 340px;
}
.footer-content p {
  font-size: 14px;
  line-height: 20px;
}
.footer-icons li {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .footer-list + .footer-list {
    margin-left: 25px;
  }
}
.footer-cp-container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  .footer-cp-container {
    padding-right: 20vw;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-cp-container {
    flex-direction: column;
  }
}

.payment-icons {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1023px) {
  .payment-icons {
    margin-top: 15px;
  }
}
.payment-icons li {
  margin-left: 5px;
}
.payment-icons li:before {
  font-family: "icomoon";
  color: white;
  font-size: 25px;
}
.payment-icons li.vs:before {
  content: "";
}
.payment-icons li.mc:before {
  content: "";
}
.payment-icons li.pp:before {
  content: "";
}

@media only screen and (max-width: 1023px) {
  .blog-posts {
    padding: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .blog-posts {
    padding-top: 50px;
  }
}
.blog-posts-inner {
  justify-content: space-between;
}
.blog-posts.container {
  max-width: 1520px;
}
@media only screen and (min-width: 1024px) {
  .blog-posts.container {
    min-height: 100vh;
  }
}
.blog-post {
  flex-wrap: nowrap;
  border: 1px solid #e5eaf4;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .blog-post .left,
.blog-post .right {
    flex: 0 0 50%;
  }
}
.blog-post img {
  display: block;
}
.blog-post p {
  color: #262626;
}

.blog-post:first-child {
  margin-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  .blog-post:first-child {
    height: 410px;
  }
}
.blog-post .right .top {
  justify-content: space-between;
  align-items: center;
}
.blog-post .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog-post .top-left {
  border-radius: 2000px;
}
.blog-post .top-left span {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 2.4px;
  font-weight: 600;
  display: block;
  padding: 8.5px 15px;
}
.blog-post .top-right h5 {
  margin: 0;
}

.blog-post {
  position: relative;
}
@media only screen and (max-width: 1023px) {
  .blog-post.full {
    flex-direction: column;
  }
}
.blog-post.full p {
  color: #262626;
}
.blog-post.full .right {
  padding: 40px;
}
.blog-post.full .top-left {
  background: rgba(50, 123, 60, 0.2);
}
.blog-post.full .top-left span {
  color: #327b3c;
}
.blog-post.mini {
  max-width: 100%;
  background: var(--bg-img);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .blog-post.mini {
    min-height: 670px;
    max-width: 32%;
  }
}
.blog-post.mini:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, #152532 100%) 0% 0% no-repeat padding-box;
}
.blog-post.mini:hover .bot {
  max-height: 1000px;
}
.blog-post.mini h2 {
  color: white;
}
.blog-post.mini p {
  color: white;
}
.blog-post.mini .top-right h5 {
  color: white;
}
.blog-post.mini .spacer {
  flex-grow: 1;
}
.blog-post.mini .right {
  position: relative;
  padding: 25px;
}
.blog-post.mini .bot {
  overflow: hidden;
  transition: all 0.4s ease-out;
}
@media only screen and (min-width: 1024px) {
  .blog-post.mini .bot {
    max-height: 0px;
  }
}
.blog-post.mini .top-left {
  background: rgba(50, 123, 60, 0.8);
}
@media only screen and (min-width: 1024px) {
  .blog-post.mini .top-left {
    background: rgba(50, 123, 60, 0.2);
  }
}
.blog-post.mini .top-left span {
  color: white;
}
@media only screen and (min-width: 1024px) {
  .blog-post.mini .top-left span {
    color: #327b3c;
  }
}

.privacy-policy .main {
  max-width: 1335px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.privacy-policy li {
  font-size: 16px;
}

table,
table.wp-block-table {
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin: 32px 0px;
  padding: 0px;
  border-spacing: 0;
  border-radius: 0px;
}

table p,
table form,
table ul,
table li {
  margin: 6px 0px;
  padding: 0px;
}

table thead,
table tfoot,
table.wp-block-table thead,
table.wp-block-table tfoot {
  border: 1px solid #dddddd;
  border: 1px solid #1C4584;
}

table tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.04);
}

table th,
table.wp-block-table th {
  font-size: 16px;
  padding: 0 15px;
  text-align: center;
  padding-bottom: 15px;
}

table td,
table.wp-block-table td {
  padding: 12px;
  padding: 20px 15px;
  border-top: 1px solid #1C4584;
  border-bottom: 1px solid #1C4584;
  text-align: center;
}

table td {
  padding: 12px;
  padding: 20px 15px;
}

table.wp-block-table.is-style-stripes {
  border-collapse: collapse;
}

table.wp-block-table.is-style-stripes td {
  border: 1px solid #dddddd;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

/*# sourceMappingURL=main.css.map */
