@charset "UTF-8";
@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

.product-single .input-text.qty {
  -moz-appearance: textfield;
  border: 0;
  outline: 0;
}
.product-single .input-text.qty::-webkit-outer-spin-button, .product-single .input-text.qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-single .df {
  display: flex;
}
.product-single .ai-c {
  align-items: center;
}
.product-single .jc-c {
  justify-content: center;
}
.product-single .ta-c {
  text-align: center;
}
.product-single .qty-c {
  border: 1px solid rgba(28, 69, 132, 0.5);
  border-radius: 3px;
  flex: 0 0 35%;
  align-items: center;
  background: white;
  height: 64px;
}
.product-single .qty-c > span {
  flex: 0 0 25%;
  max-width: 25%;
  cursor: pointer;
  font-size: 30px;
  user-select: none;
}
.product-single .qty-c > div {
  flex: 0 0 35%;
  max-width: 35%;
  text-align: center;
}
.product-single .qty-c input {
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: #000000;
}
.product-single .hide {
  display: none;
}
.product-single button.atc {
  cursor: pointer;
  background: #327b3c;
  border-radius: 3px;
  border: 1px solid #327b3c;
  color: white;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 21px;
  width: 100%;
}
.product-single .product_meta {
  display: none;
}
.product-single button.loading {
  cursor: wait;
  pointer-events: none;
  opacity: 0.8;
  user-select: none;
}

.product-single {
  background: #F3F6F9;
}
.product-form-wrapper {
  display: flex;
  align-items: center;
}
.product-qty {
  flex: 0 0 158px;
  max-width: 158px;
  margin-right: 30px;
}
.product-cta-atc {
  flex-grow: 1;
}
.product-spec {
  padding-left: 10px;
  margin-top: 20px;
}
.product-spec-single {
  display: flex;
}
.product-spec-title {
  cursor: pointer;
  color: #003572;
  font-weight: 600;
}
.product-spec-title:after {
  transition: all 0.3s ease-in-out;
  font-family: "icomoon";
  content: "";
  color: #003572;
  font-size: 20px;
  position: absolute;
  margin-left: 5px;
}
.product-spec-label {
  font-size: 14px;
  color: rgba(38, 38, 38, 0.73);
  font-weight: 500;
  margin-right: 15px;
}
.product-spec-value {
  font-size: 14px;
  color: rgba(38, 38, 38, 0.73);
  font-weight: 400;
}
.product-spec-body {
  transition: all 0.35s ease-in-out;
  max-height: 150px;
  overflow: hidden;
  margin: 15px;
}
.product-spec:not(.active) .product-spec-body {
  max-height: 0;
}
.product-spec.active .product-spec-title:after {
  transform: rotate(180deg);
}
.product-info-wrapper .right {
  padding: 20px;
}
.product-info-wrapper .left img {
  display: block;
}
.product-recommendations {
  padding-top: 50px;
}
.product-recommendations h4 {
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .product-single h1 {
    font-size: 35px;
    margin-bottom: 15px;
    margin: 0;
    font-weight: 600;
  }
  .product-single h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .product-desc p {
    font-size: 14px;
  }
  .product-info-wrapper .left {
    display: flex;
    flex-direction: column-reverse;
  }
  .product-info-wrapper .thumb {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
  }
  .product-info-wrapper .thumb li {
    flex: 0 0 23%;
    max-width: 90px;
    margin: 5px;
  }
  .product-info .imgBox img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1024px) {
  .product-single h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 600;
  }
  .product-single h2 {
    font-size: 30px;
    line-height: 46px;
    margin: 0;
  }
  .product-info-wrapper {
    display: flex;
  }
  .product-info-wrapper .left,
.product-info-wrapper .right {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .product-info-wrapper .left {
    padding: 20px;
    display: flex;
  }
  .product-info-wrapper .left .imgBox {
    margin-left: 25px;
  }
  .product-info-wrapper .left .thumb {
    max-height: 425px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .product-info-wrapper .left .thumb::-webkit-scrollbar {
    display: none;
  }
  .product-info-wrapper .left .thumb li + li {
    margin-top: 10px;
  }
  .product-price-label {
    font-size: 16px;
    color: #5f5f5f;
    font-weight: 100;
  }
  .product-desc {
    margin-top: 15px;
  }
}
.product-recommendations {
  padding-bottom: 50px;
}
.product-recommendations .title {
  padding-bottom: 35px;
}
.product-recommendations .wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.product-recommendations .wrapper .related-item {
  flex: 0 0 48%;
  max-width: 48%;
  margin: 10px 0;
}
.product-recommendations .wrapper .related-item:nth-child(even) {
  margin-left: 10px;
}
.product-recommendations .image-wrapper img {
  height: 180px;
}

@media only screen and (min-width: 1024px) {
  .product-recommendations .wrapper {
    flex-wrap: nowrap;
    padding: 0;
    align-items: stretch;
  }
  .product-recommendations .wrapper .related-item {
    flex: 0 0 332px;
    max-width: 24%;
    margin: 0;
  }
  .product-recommendations .wrapper .related-item + .related-item {
    margin-left: 10px;
  }
  .product-recommendations .image-wrapper img {
    width: 100%;
    height: 100%;
  }
}
.related-card {
  display: block;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.16);
  background: white;
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
}
.related-card-inner {
  text-align: center;
}
.related-card-viewmore {
  transition: all 0.3s ease-out;
  font-size: 14px;
  letter-spacing: 2.1px;
  color: #8e8e8e;
  font-weight: 600;
  font-weight: 600;
  padding-bottom: 15px;
}
.related-card-category {
  background: rgba(50, 123, 60, 0.2);
  border-radius: 50px;
  color: #327b3c;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 1.35px;
  font-weight: 600;
  padding: 7px 25px;
  width: fit-content;
}
.related-card-price {
  font-size: 20px;
  line-height: 30px;
  color: white;
  font-weight: 600;
}
.related-card-title h5 {
  font-size: 16px;
}
.related-card .image-wrapper {
  position: relative;
}
.related-card .image-wrapper-abs {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.related-card .image-wrapper img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.related-card .top {
  transition: all 0.3s ease-out;
}
.related-card .bottom {
  transition: all 0.3s ease-out;
}
.related-card .bottom h5 {
  transition: all 0.3s ease-out;
}
.related-card:hover .bottom,
.related-card:hover .top {
  background: #327B3C;
}
.related-card:hover h5,
.related-card:hover .related-card-viewmore {
  color: white;
}

@media only screen and (min-width: 1024px) {
  .product-attributes-body:hover .product-attributes-options {
    visibility: visible;
    opacity: 1;
  }
  .product-attributes-body:hover .chevron span:before {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@media only screen and (max-width: 1023px) {
  .product-attributes-body.active .product-attributes-options {
    visibility: visible;
    opacity: 1;
  }
  .product-attributes-body.active .chevron span:before {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
.product-attributes {
  padding-bottom: 20px;
}
.product-attributes-title {
  padding-left: 10px;
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}
.product-attributes-body {
  max-width: 250px;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
}
.product-attributes-inner {
  border: 1px solid rgba(28, 69, 132, 0.5);
  background: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  z-index: 2;
  position: relative;
}
.product-attributes-inner .swatch .inner {
  height: 50px;
  width: 50px;
  border-radius: 3px;
}
.product-attributes-inner .swatch .inner.buttermilk-cream {
  background-color: #F4E0C1;
}
.product-attributes-inner .swatch .inner.goosewing-grey {
  background-color: #b8b5aa;
}
.product-attributes-inner .swatch .inner.merlin-grey {
  background-color: #697376;
}
.product-attributes-inner .swatch .inner.olive-green {
  background-color: #605f50;
}
.product-attributes-inner .swatch .inner.anthracite {
  background-color: #383e42;
}
.product-attributes-inner .name {
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-left: 10px;
  text-transform: capitalize;
}
.product-attributes-inner .chevron span:before {
  transition: all 0.3s ease-out;
  font-family: "icomoon";
  content: "";
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-attributes-options {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background: white;
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  padding-top: 15px;
  border: 1px solid rgba(28, 69, 132, 0.5);
  border-radius: 3px;
  z-index: 1;
  flex-wrap: wrap;
}
.product-attributes-option .inner {
  height: 50px;
  width: 50px;
  border-radius: 3px;
}
.product-attributes-option .inner.buttermilk-cream {
  background-color: #F4E0C1;
}
.product-attributes-option .inner.goosewing-grey {
  background-color: #b8b5aa;
}
.product-attributes-option .inner.merlin-grey {
  background-color: #697376;
}
.product-attributes-option .inner.olive-green {
  background-color: #605f50;
}
.product-attributes-option .inner.anthracite {
  background-color: #383e42;
}
.product-attributes-option:not(:nth-child(4)) {
  margin-right: 8px;
}
.product-attributes-option:nth-child(5) {
  margin-top: 8px;
}

.related-card {
  display: flex;
  flex-direction: column;
}
.related-card .bottom {
  padding: 15px 5px;
  flex-grow: 1;
}
.related-card-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.related-card-title {
  flex-grow: 1;
}
.related-card-title h5 {
  font-size: 16px;
}

.product-info.inactive {
  display: none;
}

.notice {
  position: relative;
  padding-top: 25px;
  padding-bottom: 75px;
}
@media only screen and (max-width: 768px) {
  .notice {
    padding: 0 10px;
    padding-top: 25px;
    padding-bottom: 75px;
  }
}
.notice:not(.active) {
  display: none;
}
.notice img {
  display: block;
  width: 320px;
  height: 210px;
}
.notice-inner {
  background: white;
  border: 2px solid #1C4584;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
@media only screen and (max-width: 768px) {
  .notice-inner {
    align-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .notice-thumb {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .notice-thumb img {
    width: 100%;
    height: auto;
  }
}
.notice-cta {
  flex: 0 0 40%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .notice-cta {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-top: 10px;
  }
}
.notice .btn {
  transform: skewX(0deg);
  width: 100%;
}
.notice .btn:first-child {
  margin-bottom: 13px;
}
.notice .btn span {
  transform: skewX(0deg);
}
.notice-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 30%;
  max-width: 30%;
  padding-left: 25px;
}
@media only screen and (max-width: 768px) {
  .notice-info {
    flex: 0 0 60%;
    max-width: 60%;
  }
}
.notice-value {
  margin-bottom: 10px;
}
.notice-value.kv {
  font-size: 16px;
  color: rgba(38, 38, 38, 0.73);
}
.notice-value.kv .label {
  font-weight: 500;
}
.notice-value:not(.on) {
  display: none;
}
.notice-colour .value {
  text-transform: capitalize;
}
.notice-name {
  font-size: 22px;
  color: #003572;
  font-weight: 600;
}
.notice-price {
  font-size: 24px;
  color: #003572;
  font-weight: 600;
}
.notice-above {
  position: absolute;
  right: 40px;
  top: -1%;
}
.notice-above span {
  color: #1C4584;
  font-weight: 500;
}
.notice-above span:before {
  font-family: "icomoon";
  content: "";
  color: #1c4584;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}

.product-flex {
  margin: 25px 0;
}
.product-flex .btn {
  transform: skewX(0);
  width: 100%;
}
.product-flex .btn span {
  transform: skewX(0);
}
.product-flex .btn-label {
  text-align: center;
  color: var(--color);
  margin: 10px 0;
  font-weight: 400;
}

.woo .price,
.woo .cart,
.woo .woocommerce-product-details__short-description {
  display: none;
}

/*# sourceMappingURL=product.css.map */
