.cbt {
    padding: 25px 0;
    @include from_until(1024) {
        padding: 75px 0;
    }
    &-inner {
        @include from_until(0,1023) {
            display: flex;
            flex-direction: column-reverse;
            padding: 10px 35px;
        }
        @include from_until(1024) {
            display: flex;
            justify-content: center;
        }
        .left {
            @include from_until(1024) {
                flex: 0 0 50%;
                padding-right: 7vw;
            }
        }
        .right {
            @include from_until(1024) {
                flex: 0 0 450px;
            }
        }
    }
    &-list {
        display: flex;
        padding-top: 15px;
        @include from_until(0,1023) {
            justify-content: space-between;
        }
        @include from_until(1024) {
            padding-top: 25px;
        }
    }
    &-icon {
        text-align: center;
        flex: 0 0 100px;
        @include from_until(1024) {
            margin-right: 3vw !important;
        }
    }
    .label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        display:block;
    }
    .btn {
        margin: 25px auto;
        @include from_until(1024) {
            margin: 50px auto;
        }
    }
}