{% if is_preview %}
<div class="preview" data-block-name="content-block-two">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cbt {{block.className}}" data-block-name="content-block-two">
    <div class="cbt-inner container">
        <div class="left">
            <h2>{{fields.title}}</h2>
            {{fields.content}}
            <ul class="rl cbt-list">
                {% for icon in fields.icons %}
                <li class="cbt-icon">
                    <img src="{{icon.icon.url}}" alt="{{icon.icon.alt}}"/>
                    <span class="label">{{icon.title}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
             <img src="{{fields.image.url}}" alt="{{fields.image.alt}}"/>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
