.faq-block-one {
    margin: 30px 0;
    padding:0 25px;
    .top {
        text-align: center;
        margin-bottom: 50px;
    }
    .questions {

    }
    .question {
        overflow: hidden;
        margin-bottom: 25px;
        &-question {
            color: #1c4584;
            font-weight: 700;
            font-size: 20px;
        }
        &-inner {
            background: rgba(243, 246, 249, 1);
            padding: 25px;
            cursor: pointer;
            display:flex;
            justify-content: space-between;
        }
        &-answer {
            transition:all 0.5s ease-out;
            max-height: 0;
            p {
                margin-top:0;
                padding:15px;
            }
        }
        &-chevron {
            position: relative;
            &:before {
                transition:all 0.3s ease-out; 
                position: absolute;
                color:#1c4584;
                font-family: "icomoon";
                content: "\e905";
                font-size: 25px;
                right: 15px;
            }
        }
        &.open {
            .question-answer {
                max-height: 300px;
            }
            .question-chevron {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

@include screen(1024) {
    .faq-block-one {
        margin: 60px 0;
        padding:0;
        .questions {

        }
        .question {

        }
    }
}