{% extends "block-base.twig" %}

{% block content %}
<section class="faq-block-one {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <h3>{{fields.content.title}}</h3>
        </div>
        <div class="questions">
        {% for item in fields.content.questions %}
            <div class="question">
                <div class="question-inner" onclick="this.parentNode.classList.toggle('open');">
                    <div class="question-question">{{item.question}}</div>
                    <div class="question-chevron"></div>
                </div>
                <div class="question-answer"><p>{{item.answer}}</p></div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

