.ctbt {
    background: var(--bg);
    background-repeat: no-repeat;
    @include from_until(0,1023) {
        background-position-x: right;
        background-position-y: top;
        background-size: 70%;
    }
    background-position: right;
    h5 {
        margin:0;
    }
}

.ctbt {
    &-inner {
        display:flex;
        justify-content: space-evenly;
        @include from_until(0,1023) {
            flex-wrap: wrap;
            padding-top: 150px;
            padding-bottom: 50px;
        }
        @include from_until(1024) {
            padding:50px 16px;
        }
    }
    &-btn {
        padding-top:15px;
        padding-left: 15px;
        .btn {
            margin: auto;
            @include from_until(1024) {
                min-width: 339px;
            }
        }
    }
    .left {
        text-align: center;
        @include from_until(0,1023) {
            padding: 20px;
            width:100%;
        }
        @include from_until(1024) {
            flex: 0 0 750px;
        }
    }
    .right {
        @include from_until(0,1023) {
            padding: 50px 16px;
            position:relative;
            width:100%;
        
        }
        &:before {
            @include from_until(0,1023) {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                padding: 50px 16px;
                background: var(--bg);
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;
                opacity: 0.5;
            
            }
        }
        h4 {
            @include from_until(0,1023) {
                font-size: 20px;
                text-align: center;
                margin-bottom: 40px;
            }
        }
    }
}

.countdown {
    list-style: none !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    &-item {
        text-align: center;
        margin-bottom: 40px;
    }
    &-counter {
        display: block;
        font-size: 36px;
        line-height: 26px;
        font-weight: 900;
        color:#327B3C;
        border: 2px solid #262626;
        padding: 25px 15px;
        min-height: 78px;
        min-width: 78px;
    }
    &-label {
        display: block;
        margin-top: 1em;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }
}