{% if is_preview %}
<div class="preview" data-block-name="cta-block-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block ctbt" data-block-name="cta-block-two" style="--bg:url({{local_path}}/bg-one.png);">
    <div class="ctbt-inner container">
        <div class="left">
            {{fields.content}}
            <div class="ctbt-btn">
                <a class="btn {{fields.button.style}}" href="{{fields.button.link.url}}" target="{{fields.button.link.target}}">
                    <span>{{fields.button.link.title}}</span>
                </a>
            </div>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}