.hb4 {
    color:white;
    h1,h2,h3 {
        color:white;
        margin-top:0;
        margin-bottom: 0;
    }
    p {
        font-size: 18px;
        margin: 15px 0;
    }
    ul {
        padding-left: 25px;
        margin-top: 0;
    }
    li {
        &::marker {
            font-size: 12px;
        }
    }
    .left {
        position:relative;
        &:before {
            content:"";
            position: absolute;
            background:var(--bg-color);
            top:-150px;
            width:100%;
            bottom: 0;
            z-index: -1;
        }
        img {
            max-height:40px;
            max-width: 400px;
            width:100%;
            height:auto;
            object-fit: cover;
        }
        .wrapper {
            padding: 35px;
            padding-top: 0;
        }
    }
    .btn {
        width: 100%;
    }
    .right {
        padding: 20px 15px;
        img {
            height: auto;
        }
    }
}

@include screen(1024) {
    .hb4 {
        margin-bottom: 75px;
        .container {
            display: flex;
            align-items: stretch;
            flex-direction: row-reverse;
        }
        .left {
            display: flex;
            align-items: center;
            &:before {
                top:0;
                width: 55vw;
                bottom: 0;
            }
            .wrapper {
                padding: 7.4vh 3.9vw;
                max-width: 660px;
            }
        }
        .btn {
            width: fit-content;
            min-width: 300px;
            margin-top: 20px;
        }
        .right {
            padding: 35px;
        }
    }
}

@include screen(1537) {
    .hb4 {
        .container {
            max-width: 81.7vw;
        }
    }
}