{% extends "block-base.twig" %}

{% block content %}
<section class="hb4 {{block.className}}" {{blockSection(block)}}>
    <div class="container" style="--bg-color:{{fields.content.color}}">
        <div class="right">
            {{imageElement(fields.content.image)}}
        </div>
        <div class="left" style="--bg-color:{{fields.content.color}}">
            <div class="wrapper">
            {% if fields.content.logo %}
                {{imageElement(fields.content.logo)}}
            {% endif %}
                {{fields.content.content}}
                <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}"><span>{{fields.content.button.link.title}}</span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}