.cta3 {
    padding: 50px 0;
    background:var(#{--bg});
    .center {
        color:white;
        text-align: center;
        padding: 0 40px;
        p {
            font-weight: 500;
            font-size: 16px;
        }
        h2 {
            max-width: 85%;
            margin: auto;
        }
    }
    &-buttons {
        justify-content: center;
        padding-top: 15px;
    }
    .btn {
        margin: auto;
    }
}

@include screen(1200) {
    .cta3 {
        padding: 95px 0;
        &-text {
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .center {
            padding: 0;
            max-width: 980px;
            margin: auto;
            p {
                font-size: 16px;
                margin-top: 30px;
                margin: 20px auto;
            }
        }
        .btn {
        }
    }
}