{% extends "block-base.twig" %}

{% block content %}
<section class="cta3 {{block.className}}" {{blockSection(block)}} style="--bg:url('{{fields.content.background_image.url}}')">
    <div class="container">
        <div class="cta3-text">
            <div class="center">
                {{imageElement(fields.content.logo)}}
                <h2>{{fields.content.title}}</h2>
                {{fields.content.content}}
            </div>
        </div>
        <div class="cta3-btn">
            <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}">
                <span>{{fields.content.button.link.title}}</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}