.centered-text-block {
    .wrapper {
        margin: 25px auto;
        padding: 25px;
    }
    p {
        font-size: 22px;
        line-height: 30px;
        margin: 0;
    }
}

@include screen(1024) {
    .centered-text-block {
        .wrapper {
            max-width: 700px;
            margin: 75px auto;
            padding:0;
        }
    }
}