{% extends "block-base.twig" %}

{% block content %}
<section class="centered-text-block {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="center">
            <div class="wrapper">
                {{fields.content.content}}
            </div>
        </div>
    </div>
</section>
{% endblock %}