.cta-contact {
    .top {
        .container {
            background:var(--bg-img), var(--bg-color);
            background-repeat: no-repeat;
            background-size: contain;
            color:white;
            padding: 35px;
            text-align: center;
            margin: 15px;
            margin-bottom: -50px;
            z-index: 5;
            position: relative;
        }
        .btn {
            margin:auto;
        }
        h2 {
            color:white;
            font-size:24px;
        }
        a {
            color:white;
            font-weight: 600;
        }
    }
    .bot {
        background:var(--bg-img), var(--bg-color);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 25px;
        padding-top: 50px;
        input {
            height:50px;
        }
        textarea {
            margin: 10px 0;
        }
        .btn {
            cursor: pointer;
            width: 100%;
            background-color: rgba(226, 226, 226, 1);
            span {
                color:rgba(0, 53, 114, 1);
            }
        }
        .container {
            display:flex;
            flex-direction: column-reverse;
        }
        .right {
            padding: 0 25px;
            padding-bottom: 30px;
        }
    }
    label {
        color:white;
        font-size: 16px;
        font-weight: 700;
    }
    form {
        p {
            margin:0;
        }
    }
    input,
    textarea {
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;
        border:1px solid rgba(236, 238, 240, 1);
        font-size: 14px;
        outline-color: rgb(226, 226, 226);
        width: 100%;
    }
    .form-submit {
        padding: 15px 25px;
    }
    .wpcf7-submit {
        display:none;
    }
    .right {
        color:white;
    }
    h2 {
        color:white;

    }
    .item {
        position:relative;
        margin: 20px;
        padding-left: 10px;
        a {
            color:rgba(226, 226, 226, 1);
        }
        &.address {
            a {
                text-decoration: underline;
                text-transform: capitalize;
                font-weight: 600;
            }
            &:before {
                position: absolute;
                content: "\e903";
                top: 0px;
                font-size: 24px;
            }
        }
        &.tel {
            &:before {
                position: absolute;
                content: "\e902";
                top: -2px;
                font-size: 20px;
            }
        }
        &.email {
            &:before {
                position: absolute;
                content: "\e904";
                top: -2px;
                font-size: 20px;
            }
        }
        a {
            font-size: 14px;
        }
        p {
            margin:0;
        }
        &:before {
            font-family: "icomoon";
            left: -25px;
            color:rgba(226, 226, 226, 1);
        }
    }
    .wpcf7-response-output {
        color:white;
    }
}

@include screen(1024) {
    .cta-contact {
        .top {
            .container {
                background:var(--bg-color);

                margin: auto;
                margin-bottom: -125px;
                position:relative;
                &:before {
                    content:"";
                    position:absolute;
                    top:0;
                    bottom:0;
                    left:0;
                    right:0;
                    background:var(--bg-img);
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: rotate(180deg);
                    background-position: right;
                }
                .wrapper {
                    max-width: 550px;
                    margin: auto;
                    position: relative;
                }
            }
            h2 {
                font-size: 30px;
            }
            .btn {
                margin:auto;
            }
            .button {
                margin-top: 35px;
            }
        }
        .bot {
            background-position: right top;
            background-size: auto;
            padding-top: 175px;
            .container {
                flex-direction: row;
                justify-content: space-evenly;
            }
            .left {
                flex: 0 0 670px;
            }
            .right {
                flex: 0 0 400px;
                padding-bottom: 125px;
            }
            .btn {
                max-width: 475px;
                margin: auto;
            }
        }
        .form-wrapper {
            display:flex;
            justify-content: space-evenly;
        }
        .form-left {
            margin-right:10px;
        }
        textarea {
            height: 234px;
        }
    }
}