{% extends "block-base.twig" %}

{% block content %}
<section class="cta-contact {{block.className}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container" style="--bg-color:{{fields.cta_block.color}};--bg-img:url({{local_path}}/bg-one.png);">
            <div class="wrapper">
                <h2>{{fields.cta_block.title}}</h2>
                {{fields.cta_block.content}}
                {% if fields.cta_block.button.link.title %}
                <div class="button">
                    <a class="btn {{fields.cta_block.button.style}}" href="{{fields.cta_block.button.link.url}}"><span>{{fields.cta_block.button.link.title}}</span></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="bot" style="--bg-color:{{fields.form_content.color}};--bg-img:url({{local_path}}/bg-one.png);">
        <div class="container">
            <div class="left">
                [contact-form-7 id="{{fields.contact_form.form.form.ID}}" title="{{fields.contact_form.form.form.post_title}}"]
            </div>
            <div class="right">
                <h2>{{fields.form_content.title}}</h2>
                <div class="items">
                    <div class="item address">{{fields.form_content.address}}</div>
                    <div class="item tel"><a href="{{fields.form_content.phone.url}}">{{fields.form_content.phone.title}}</a></div>
                    <div class="item email"><a href="{{fields.form_content.email.url}}">{{fields.form_content.email.title}}</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if fields.contact_form.form.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.contact_form.form.redirect_url}}';
}, false );
</script>
{% endif %}
{% endblock %}
