.hbt {
    &-inner {
        display:flex;
        justify-content: space-between;
        .right-container {
            .slide + .slide {
                margin-top:10px;
            }
        }
    }
}


.slide {
    h1,
    h2,
    p {
        color:white;
        @include from_until(0,1023) {
            padding: 0 20px;
        }
    }
    h1,
    h2 {
        margin-top:0;
        @include from_until(0,1023) {
            margin-bottom: 10px;
            padding-top:20px;
        }
        @include from_until(1024) {
            margin-bottom:20px;
        }
    }
    p {
        margin-top:0;
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 28px;
        @include from_until(0,1023) {
            margin-bottom: 10px;
        }
        @include from_until(1024) {
            font-size: 20px;
            line-height: 32px;
        }
    }
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    height: 100%;
    max-width: 640px;
    @include from_until(1024) {
        margin-left:100px;
    }
    &-container {
        width: 100%;
    }
}

.hbt {
    &-inner {
        background: var(--bg);
        background-repeat: no-repeat;
        background-position: top;
        position:relative;
        z-index: 1;
        min-height: 544px;
        &:before {
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(180deg, hsla(0, 0%, 13%, 0) 0%, hsla(0, 0%, 15%, 0.89) 100%) 0% 0% no-repeat padding-box;
            z-index: -1;
        }
    }
    ul {
        padding-left: 35px;
        margin-top: 0;
        li {
            font-size: 16px;
            line-height: 24px;
            color: white;
            margin: 15px 0;
        }
    }
}