{% if is_preview %}
<div class="preview" data-block-name="hero-block-two">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block hbt" data-block-name="hero-block-two">
    <div class="hbt-inner" style="--bg:url({{fields.image.url}})">
        <div class="slide-container container">
            <div class="slide left">
                {{fields.content}}
            </div>
        </div>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
